<div class="detail-title">
    <div class="detail-label"></div>
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#" onclick="return false">Design</a></li>
        <li class="disabled"><a href="#" onclick="return false" disabled="disabled">Source</a></li>
    </ul>
</div>
<div class="detail-content">

    <!-- Info about the API -->
    <div class="section info-section">
        <div class="section-header">
            <a data-toggle="collapse" data-target="#info-section-body">
                <span class="section-label">INFO</span>
            </a>
        </div>
        <div class="section-body collapse in" id="info-section-body">
            <h1>
                <title-editor [title]="title()" (onChange)="onTitleChange($event)"></title-editor>
                <version-editor [version]="version()" (onChange)="onVersionChange($event)"></version-editor>
            </h1>
            <div class="api-description api-item-description">{{ description() }}</div>
            <div class="api-meta-data">
                <!-- TOS -->
                <div class="api-md-entry">
                    <div class="md-label">Terms of Service</div>
                    <div class="md-value">
                        <a href="{{ tos() }}">{{ tos() }}</a>
                        <span class="fa fa-fw fa-external-link"></span>
                    </div>
                </div>
                <!-- Contact Info -->
                <div class="api-md-entry">
                    <div class="md-label">Contact</div>
                    <div class="md-value">
                        <div>
                            <span>{{ contactName() }}</span>
                            <span>(</span><a href="mailto:{{ contactEmail() }}"><span>{{ contactEmail() }}</span></a><span>)</span>
                        </div>
                        <div>
                            <a href="{{ contactUrl() }}">{{ contactUrl() }}</a>
                            <span class="fa fa-fw fa-external-link"></span>
                        </div>
                    </div>
                </div>
                <!-- License -->
                <div class="api-md-entry">
                    <div class="md-label">License</div>
                    <div class="md-value">
                        <span>{{ licenseName() }}</span>
                        <a href="{{ licenseUrl() }}">{{ licenseUrl() }}</a>
                        <span class="fa fa-fw fa-external-link"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Global Tags -->
    <div class="section info-section">
        <div class="section-header">
            <a data-toggle="collapse" data-target="#tags-section-body">
                <span class="section-label">TAGS</span>
            </a>
            <button class="btn btn-sm btn-default pull-right"><span class="fa fa-plus"></span></button>
        </div>
        <div class="section-body collapse in" id="tags-section-body">

            <p>Configure the API's tags here</p>

        </div>
    </div>

    <!-- Security Definitions -->
    <div class="section info-section">
        <div class="section-header">
            <a data-toggle="collapse" data-target="#security-section-body">
                <span class="section-label">SECURITY</span>
            </a>
            <button class="btn btn-sm btn-default pull-right"><span class="fa fa-plus"></span></button>
        </div>
        <div class="section-body collapse in" id="security-section-body">

            <p>Configure the API's security definitions here</p>

        </div>
    </div>

</div>