<div class="detail-title">
    <div class="detail-label"></div>
<!-- *** No actions at this level (currently)
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
-->
</div>
<!-- *** No support for the Source tab.  Not sure if it's needed. ***
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#" onclick="return false">Design</a></li>
        <li class="disabled"><a href="#" onclick="return false" disabled="disabled">Source</a></li>
    </ul>
</div>
-->
<div class="detail-content">

    <!-- Info about the API -->
    <div class="section info-section panel-group">
        <div class="section-header panel-title">
            <a data-toggle="collapse" data-target="#info-section-body">
                <span class="section-label">INFO</span>
            </a>
            <context-help>
                <p>This section allows you to modify the <strong>Name</strong>, <strong>Version</strong>, and <strong>Description</strong> of the API.</p>
            </context-help>
        </div>
        <div class="section-body collapse in" id="info-section-body">
            <div class="api-title-and-version">
                <title-editor [value]="title()" [noValueMessage]="'No Title'" (onChange)="onTitleChange($event)"></title-editor>
                <span class="spacer" style="margin-left: 30px">&nbsp;</span>
                <version-editor [value]="version()" [noValueMessage]="'N/A'" (onChange)="onVersionChange($event)"></version-editor>
            </div>
            <description-editor [value]="description()" [noValueMessage]="'No description.'" (onChange)="onDescriptionChange($event)"></description-editor>
            <div class="api-meta-data">
                <!-- TOS -->
                <!--
                <div class="api-md-entry">
                    <div class="md-label">Terms of Service</div>
                    <div class="md-value">
                        <a href="{{ tos() }}">{{ tos() }}</a>
                        <span class="fa fa-fw fa-external-link"></span>
                    </div>
                </div>
                -->
                <!-- Contact Info -->
                <!--
                <div class="api-md-entry">
                    <div class="md-label">Contact</div>
                    <div class="md-value">
                        <div>
                            <span>{{ contactName() }}</span>
                            <span>(</span><a href="mailto:{{ contactEmail() }}"><span>{{ contactEmail() }}</span></a><span>)</span>
                        </div>
                        <div>
                            <a href="{{ contactUrl() }}">{{ contactUrl() }}</a>
                            <span class="fa fa-fw fa-external-link"></span>
                        </div>
                    </div>
                </div>
                -->
                <!-- License -->
                <!--
                <div class="api-md-entry">
                    <div class="md-label">License</div>
                    <div class="md-value">
                        <span>{{ licenseName() }}</span>
                        <a href="{{ licenseUrl() }}">{{ licenseUrl() }}</a>
                        <span class="fa fa-fw fa-external-link"></span>
                    </div>
                </div>
                -->

            </div>

        </div>
    </div>

    <!-- License -->
    <div class="section license-section panel-group">
        <div class="section-header panel-title">
            <a [class.collapsed]="!hasLicense()" data-toggle="collapse" data-target="#license-section-body">
                <span class="section-label">LICENSE</span>
            </a>
            <context-help>
                <p>
                    Is your API <a href="https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses" target="_blank">licensed</a>?
                    Configure that here!  We'll help by showing you the most common licenses
                    you can choose from (and even describe each one a little bit!).
                </p>
            </context-help>
        </div>
        <div class="section-body collapse" id="license-section-body" [class.in]="hasLicense()">

            <div class="alert alert-info" *ngIf="!hasLicense()">
                <span class="pficon pficon-info"></span>
                <strong>None Found</strong>
                <span>No license has been configured for this API.</span>
                <button class="btn btn-primary btn-sm pull-right" (click)="setLicenseDialog.open()">Set License</button>
            </div>

            <div *ngIf="hasLicense() && license() === null" class="container-fluid license">
                <div class="row">
                    <div class="col-md-8">
                        <h2><a href="{{ licenseUrl() }}" target="_blank">{{ licenseName() }}</a><span class="fa fa-fw fa-external-link"></span></h2>
                        <p>You have configured a license that the API Design Studio is not familiar with.  For information about the license, click the link above!  Or else click the button below to choose a different license...</p>
                        <button class="btn btn-xs btn-default" (click)="setLicenseDialog.open()">Change License</button>
                    </div>
                </div>
            </div>

            <div *ngIf="license() !== null" class="container-fluid license">
                <div class="row">
                    <div class="col-md-6">
                        <h2><a href="{{ license().url }}" target="_blank">{{ license().name }}</a><span class="fa fa-fw fa-external-link"></span></h2>
                        <p>{{ license().description }}</p>
                        <button class="btn btn-xs btn-default" (click)="setLicenseDialog.open()">Change License</button>
                        <a class="pull-right" href="{{ license().moreInfoUrl }}" target="_blank">View full {{ license().fullName }} »</a>
                    </div>
                    <div class="col-md-2">
                        <h3>Permissions</h3>
                        <ul class="permissions">
                            <li *ngFor="let permission of license().permissions"><span title="{{ licenseService().permissionDescription(permission) }}">{{ licenseService().permissionName(permission) }}</span></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Conditions</h3>
                        <ul class="conditions">
                            <li *ngFor="let condition of license().conditions"><span title="{{ licenseService().conditionDescription(condition) }}">{{ licenseService().conditionName(condition) }}</span></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Limitations</h3>
                        <ul class="limitations">
                            <li *ngFor="let limitation of license().limitations"><span title="{{ licenseService().limitationDescription(limitation) }}">{{ licenseService().limitationName(limitation) }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <set-license-dialog #setLicenseDialog (onLicenseChosen)="setLicense($event)"></set-license-dialog>
    </div>

    <!-- Global Tags -->
    <div class="section tags-section panel-group">
        <div class="section-header panel-title">
            <a [class.collapsed]="tags().length === 0" data-toggle="collapse" data-target="#tags-section-body">
                <span class="section-label">TAGS</span>
            </a>
            <context-help>
                <p>
                    Configure tags for your API in this section.  Once defined, tags can be used to organize
                    your API's <strong>operations</strong> by arbitrary criteria.
                </p>
            </context-help>
            <button class="btn btn-sm btn-default pull-right" (click)="addTagDialog.open()"><span class="fa fa-plus"></span></button>
        </div>
        <div class="section-body collapse" id="tags-section-body" [class.in]="tags().length > 0">
            <div class="alert alert-info" *ngIf="tags().length === 0">
                <span class="pficon pficon-info"></span>
                <strong>None Found</strong>
                <span>No tags have been configured.</span>
                <button class="btn btn-primary btn-sm pull-right" (click)="addTagDialog.open()">Add Tag</button>
            </div>
            <table class="table table-striped api-operation-parameters" *ngIf="tags().length > 0">
                <thead>
                <tr>
                    <th>Tag</th>
                    <th width="70%">Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tag of tags()">
                    <td class="tag-name">{{ tag.name }}</td>
                    <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                                                   (onChange)="changeTagDescription(tag, $event)"
                                                                   [value]="tag.description"></description-editor-qp></td>
                    <td class="actions">
                        <div>
                            <button class="btn btn-sm btn-default pull-right" (click)="deleteTag(tag)"
                                    title="Delete tag."><span class="pficon pficon-delete"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Security Definitions -->
    <!--
    <div class="section info-section panel-group">
        <div class="section-header panel-title">
            <a data-toggle="collapse" data-target="#security-section-body">
                <span class="section-label">SECURITY</span>
            </a>
            <button class="btn btn-sm btn-default pull-right"><span class="fa fa-plus"></span></button>
        </div>
        <div class="section-body collapse in" id="security-section-body">
            <p>Configure the API's security definitions here (TBD)</p>
        </div>
    </div>
    -->

    <add-tag-dialog #addTagDialog (onAdd)="addTag($event)"></add-tag-dialog>

</div>