<div class="detail-title">
    <div path-item class="detail-label" [path]="operation.parent().path()"></div>
    <div class="detail-icon">
        <span class="label selected"
              [class.label-info]="operation.method() !== 'get' && operation.method() !== 'post' && operation.method() !== 'delete'"
              [class.label-success]="operation.method() === 'get'"
              [class.label-warning]="operation.method() === 'post'"
              [class.label-danger]="operation.method() === 'delete'">{{ operation.method() }}</span>
    </div>
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li>
                    <a href="javascript:return false" (click)="delete()">
                        <span class="pficon pficon-delete"></span>
                        <span>Delete Operation</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#" onclick="return false">Design</a></li>
        <li class="disabled"><a href="#" onclick="return false" disabled="disabled">Source</a></li>
    </ul>
</div>
<div class="detail-content">

    <div class="api-operation-detail">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">

                <!-- Info Section -->
                <div class="section info-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#info-section-body">
                            <span class="section-label">INFO</span>
                        </a>
                    </div>
                    <div class="section-body collapse in" id="info-section-body">
                        <h1>
                            <summary-editor-of [value]="summary()" [noValueMessage]="'No Summary'"
                                               (onChange)="changeSummary($event)"></summary-editor-of>
                        </h1>
                        <description-editor-of [value]="description()" [noValueMessage]="'No description.'"
                                               (onChange)="changeDescription($event)"></description-editor-of>
                    </div>
                </div>

                <!-- Path Parameters Section -->
                <div class="section path-parameters-section" *ngIf="hasParameters('path')">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#path-parameters-section-body">
                            <span class="section-label">PATH PARAMETERS</span>
                        </a>
                    </div>
                    <div class="section-body collapse in" id="path-parameters-section-body">
                        <table class="table table-striped api-operation-parameters">
                            <thead>
                            <tr>
                                <th>Parameter</th>
                                <th width="60%">Description</th>
                                <th width="40%">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let param of pathParameters()">
                                <td class="parameter path-parameter">{{ param.name }}</td>
                                <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                                                               (onChange)="changePathParamDescription(param, $event)"
                                                                               [value]="paramDescription(param)"></description-editor-qp></td>
                                <td class="type"><type-editor-of [document]="param.ownerDocument()"
                                                                 [value]="paramType(param)" [noValueMessage]="'No Type'"
                                                                 (onChange)="changePathParamType(param, $event)"></type-editor-of></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Request Body Section -->
                <div class="section request-body-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#request-body-section-body">
                            <span class="section-label">REQUEST BODY</span>
                        </a>
                        <button class="btn btn-sm btn-default pull-right" [style.visibility]="'hidden'"
                                [disabled]="disabled"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteRequestBody()"
                                title="Delete the request body."
                                [disabled]="!hasBodyParam()"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse" [class.in]="operation.method() === 'put' || operation.method() === 'post'" id="request-body-section-body">

                        <div class="alert alert-info"
                             [class.alert-danger]="operation.method() === 'put' || operation.method() === 'post'"
                             *ngIf="!hasBodyParam()">
                            <span class="pficon"
                                  [class.pficon-info]="operation.method() !== 'put' && operation.method() !== 'post'"
                                  [class.pficon-error-circle-o]="operation.method() === 'put' || operation.method() === 'post'"></span>
                            <strong>None Found</strong>
                            <span>No request body has been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="createRequestBody()">Add Request Body</button>
                        </div>

                        <div *ngIf="hasBodyParam()">
                            <div class="alert alert-warning" *ngIf="operation.method() === 'get'">
                                <span class="pficon pficon-warning-triangle-o"></span>
                                <strong>Not Recommended</strong>
                                <span>It is unusual and not recommended to define a request body for a <strong>GET</strong> operation.</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="requestBodyMenu" data-toggle="dropdown">
                                    <span>{{ requestBodyType() }}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="requestBodyMenu">
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('null', true)">null</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('boolean', true)">boolean</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('integer', true)">integer</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('number', true)">number</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('string', true)">string</a></li>
                                    <li role="presentation" class="divider" *ngIf="hasDefinitions()"></li>
                                    <li role="presentation" *ngFor="let definitionName of definitionNames()"><a
                                            role="menuitem" (click)="setRequestBodyType(definitionName, false)">{{ definitionName }}</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">Custom Type</a></li>
                                </ul>
                            </div>
                            <req-description-editor-of [value]="bodyDescription()" [noValueMessage]="'No request body description.'"
                                                   (onChange)="changeBodyDescription($event)"></req-description-editor-of>
                        </div>
                    </div>
                </div>

                <!-- Query Parameters Section -->
                <div class="section query-parameters-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#parameters-section-body">
                            <span class="section-label">QUERY PARAMETERS</span>
                        </a>
                        <button class="btn btn-sm btn-default pull-right" (click)="openAddQueryParamModal()"
                                title="Add a new query parameter"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteAllQueryParams()"
                                title="Delete all query parameters."
                                [disabled]="!hasParameters('query')"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse in" id="parameters-section-body" [class.in]="hasParameters('query')">

                        <div class="alert alert-info" *ngIf="!hasParameters('query')">
                            <span class="pficon pficon-info"></span>
                            <strong>None Found</strong>
                            <span>No query parameters have been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="openAddQueryParamModal()">Add Query Parameter</button>
                        </div>

                        <table class="table table-striped api-operation-parameters" *ngIf="hasParameters('query')">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th width="60%">Description</th>
                                    <th width="40%">Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let param of queryParameters()">
                                    <td class="parameter query-parameter">{{ param.name }}</td>
                                    <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                           (onChange)="changeQueryParamDescription(param, $event)"
                                           [value]="paramDescription(param)"></description-editor-qp></td>
                                    <td class="type"><type-editor-of [document]="param.ownerDocument()"
                                            [value]="paramType(param)" [noValueMessage]="'No Type'"
                                            (onChange)="changeQueryParamType(param, $event)"></type-editor-of></td>
                                    <td class="actions">
                                        <div>
                                            <button class="btn btn-sm btn-default pull-right" (click)="deleteQueryParam(param)"
                                                    title="Delete query parameter."><span class="pficon pficon-delete"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Responses Section -->
                <div class="section responses-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#responses-section-body">
                            <span class="section-label">RESPONSES</span>
                        </a>
                        <button class="btn btn-sm btn-default pull-right" (click)="openAddResponseModal()"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteAllResponses()"
                                [disabled]="!hasResponses()"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse in" id="responses-section-body">

                        <div class="alert alert-danger" *ngIf="!hasResponses()">
                            <span class="pficon pficon-error-circle-o"></span>
                            <strong>None Found</strong>
                            <span>No responses have been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="openAddResponseModal()">Add Response</button>
                        </div>

                        <table class="table table-striped api-operation-responses" *ngIf="hasResponses()">
                            <thead>
                                <tr>
                                    <th width="1%" nowrap="nowrap">Status Code</th>
                                    <th width="60%">Description</th>
                                    <th width="40%">Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let response of responses()">
                                    <td class="parameter">{{ response.statusCode() }}</td>
                                    <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                             (onChange)="changeResponseDescription(response, $event)"
                                             [value]="responseDescription(response)"></description-editor-qp></td>
                                    <td class="type"><type-editor-of [document]="response.ownerDocument()"
                                             [value]="responseType(response)" [noValueMessage]="'No Type'"
                                             (onChange)="changeResponseType(response, $event)"></type-editor-of></td>
                                    <td class="actions">
                                        <div>
                                            <button class="btn btn-sm btn-default pull-right" (click)="deleteResponse(response)"
                                                    title="Delete response."><span class="pficon pficon-delete"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<add-query-param-dialog #addQueryParamDialog (onAdd)="addQueryParam($event)"></add-query-param-dialog>

<!-- Add Response Dialog -->
<div bsModal #addResponseModal="bs-modal" class="modal fade" id="addResponseModal" tabindex="-1" role="dialog"
     aria-labelledby="addResponseModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addResponseModal.hide()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="addResponseModalLabel">Add Response</h4>
            </div>
            <div class="modal-body">
                <p>Enter information about the new response below and then click Add.</p>
                <form id="addResponse-form" class="form-horizontal" (submit)="addResponse()" #addResponseForm="ngForm" data-dismiss="modal">
                    <input type="hidden" name="statusCode" required [(ngModel)]="modals.addResponse.statusCode">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="statusCodeMenu">Response Status Code</label>
                        <div class="col-sm-7">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="statusCodeMenu" data-toggle="dropdown">
                                    <span>{{ modals.addResponse.statusCode }}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="statusCodeMenu" style="max-height: 300px; overflow: auto">
                                    <!-- Common Values -->
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '200'">200 OK</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '201'">201 Created</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '204'">204 No Content</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '400'">400 Bad Request</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '401'">401 Unauthorized</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '403'">403 Forbidden</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '404'">404 Not Found</a></li>
                                    <li role="presentation" class="divider"></li>

                                    <!-- 100s -->
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '100'">100 Continue</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '101'">101 Switching Protocols</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '102'">102 Processing</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <!-- 200s -->
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '200'">200 OK</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '201'">201 Created</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '202'">202 Accepted</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '203'">203 Non_Authoritative</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '204'">204 No Content</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '205'">205 Reset Content</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '206'">206 Partial Content</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '207'">207 Multi-Status</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '208'">208 Already Reported</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '226'">226 IM Used</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <!-- 300s -->
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '300'">300 Multiple Choices</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '301'">301 Moved Permanently</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '302'">302 Found</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '303'">303 See Other</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '304'">304 Not Modified</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '305'">305 Use Proxy</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '306'">306 Switch Proxy</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '307'">307 Temporary Redirect</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '308'">308 Permanent Redirect</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <!-- 400s -->
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '400'">400 Bad Request</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '401'">401 Unauthorized</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '402'">402 Payment Required</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '403'">403 Forbidden</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '404'">404 Not Found</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '405'">405 Method Not Allowed</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '406'">406 Not Acceptable</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '407'">407 Proxy Authentication Required</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '408'">408 Request Time-Out</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '409'">409 Conflict</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '410'">410 Gone</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '411'">411 Length Required</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '412'">412 Precondition Failed</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '413'">413 Payload Too Large</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '414'">414 URI Too Long</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '415'">415 Unsupported Media Type</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '416'">416 Range Not Satisfiable</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '417'">417 Expectation Failed</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '418'" *ngIf="isAprilFirst()">418 I'm a teapot!</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '421'">421 Misdirected Request</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '422'">422 Unprocessable Entity</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '423'">423 Locked</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '424'">424 Failed Dependency</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '426'">426 Upgrade Required</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '428'">428 Precondition Required</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '429'">429 Too Many Requests</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '431'">431 Request Header Fields Too Large</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '451'">451 Unavailable For Legal Reasons</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <!-- 500s -->
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '500'">500 Internal Server Error</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '501'">501 Not Implemented</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '502'">502 Bad Gateway</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '503'">503 Service Unavailable</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '504'">504 Gateway Time-Out</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '505'">505 HTTP Version Not Supported</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '506'">506 Variant Also Negotiates</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '507'">507 Insufficient Storage</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '508'">508 Loop Detected</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '510'">510 Not Extended</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="modals.addResponse.statusCode = '511'">511 Network Authentication Required</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addResponse()"
                        [disabled]="!addResponseForm.form.valid">Add</button>
                <button type="button" class="btn btn-default" (click)="addResponseModal.hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
