<div class="detail-title">
    <div path-item class="detail-label" [path]="operation.parent().path()"></div>
    <div class="detail-icon">
        <span class="label selected"
              [class.label-info]="operation.method() !== 'get' && operation.method() !== 'post' && operation.method() !== 'delete'"
              [class.label-success]="operation.method() === 'get'"
              [class.label-warning]="operation.method() === 'post'"
              [class.label-danger]="operation.method() === 'delete'">{{ operation.method() }}</span>
    </div>
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li><a href="javascript:return false" (click)="delete()"><span class="pficon pficon-delete"></span> <span>Delete</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#" onclick="return false">Design</a></li>
        <li class="disabled"><a href="#" onclick="return false" disabled="disabled">Source</a></li>
    </ul>
</div>
<div class="detail-content">

    <div class="api-operation-detail">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">

                <!-- Info Section -->
                <div class="section info-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#info-section-body">
                            <span class="section-label">INFO</span>
                        </a>
                    </div>
                    <div class="section-body collapse in" id="info-section-body">
                        <h1>
                            <summary-editor-of [value]="summary()" [noValueMessage]="'No Summary'"
                                               (onChange)="changeSummary($event)"></summary-editor-of>
                        </h1>
                        <description-editor-of [value]="description()" [noValueMessage]="'No description.'"
                                               (onChange)="changeDescription($event)"></description-editor-of>
                    </div>
                </div>

                <!-- Request Body Section -->
                <div class="section request-body-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#request-body-section-body">
                            <span class="section-label">REQUEST BODY</span>
                        </a>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteRequestBody()"
                                title="Delete the request body."
                                [disabled]="!hasBodyParam()"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse" [class.in]="operation.method() === 'put' || operation.method() === 'post'" id="request-body-section-body">
                        <div class="alert alert-info" *ngIf="!hasBodyParam()">
                            <span class="pficon pficon-info"></span>
                            <strong>None Found</strong>
                            <span>No request body has been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="createRequestBody()">Add Request Body</button>
                        </div>
                        <div *ngIf="hasBodyParam()">
                            <div class="alert alert-warning" *ngIf="operation.method() === 'get'">
                                <span class="pficon pficon-info"></span>
                                <strong>Not Recommended</strong>
                                <span>It is unusual and not recommended to define a request body for a GET operation.</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="requestBodyMenu" data-toggle="dropdown">
                                    <span>{{ requestBodyType() }}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="requestBodyMenu">
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('string', true)">string</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('boolean', true)">boolean</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('integer', true)">integer</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('double', true)">double</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('long', true)">long</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('float', true)">float</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('short', true)">short</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('byte', true)">byte</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('timestamp', true)">timestamp</a></li>
                                    <li role="presentation" class="divider" *ngIf="hasDefinitions()"></li>
                                    <li role="presentation" *ngFor="let definitionName of definitionNames()"><a
                                            role="menuitem" (click)="setRequestBodyType(definitionName, false)">{{ definitionName }}</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">Custom Type</a></li>
                                </ul>
                            </div>
                            <req-description-editor-of [value]="bodyDescription()" [noValueMessage]="'No request body description.'"
                                                   (onChange)="changeBodyDescription($event)"></req-description-editor-of>
                        </div>
                    </div>
                </div>

                <!-- Query Parameters Section -->
                <div class="section query-parameters-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#parameters-section-body">
                            <span class="section-label">QUERY PARAMETERS</span>
                        </a>
                        <button class="btn btn-sm btn-default pull-right" (click)="openAddQueryParamModal()"
                                title="Add a new query parameter"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteAllQueryParams()"
                                title="Delete all query parameters."
                                [disabled]="!hasParameters('query')"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse in" id="parameters-section-body">

                        <div class="alert alert-info" *ngIf="!hasParameters('query')">
                            <span class="pficon pficon-info"></span>
                            <strong>None Found</strong>
                            <span>No query parameters have been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="openAddQueryParamModal()">Add Query Parameter</button>
                        </div>

                        <table class="table table-striped api-operation-parameters" *ngIf="hasParameters('query')">
                            <tr>
                                <th>Parameter</th>
                                <th>Description</th>
                                <th>Type</th>
                            </tr>
                            <tr *ngFor="let param of queryParameters()">
                                <td class="parameter">{{ param.name }}</td>
                                <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                       (onChange)="changeQueryParamDescription(param, $event)"
                                       [value]="paramDescription(param)"></description-editor-qp></td>
                                <td class="type">{{ paramType(param) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Responses Section -->
                <div class="section responses-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#responses-section-body">
                            <span class="section-label">RESPONSES</span>
                        </a>
                        <button class="btn btn-sm btn-default pull-right"><span class="fa fa-plus"></span></button>
                    </div>
                    <div class="section-body collapse in" id="responses-section-body">

                        <div class="alert alert-info" *ngIf="!hasResponses()">
                            <span class="pficon pficon-info"></span>
                            <strong>None Found</strong>
                            <span>No responses have been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="createResponse()">Add Response</button>
                        </div>

                        <table class="table table-striped api-operation-responses" *ngIf="hasResponses()">
                            <tr>
                                <th width="1%" nowrap="nowrap">Status Code</th>
                                <th>Description</th>
                                <th>Type</th>
                            </tr>
                            <tr *ngFor="let response of responses()">
                                <td class="parameter">{{ response.statusCode() }}</td>
                                <td class="description">{{ responseDescription(response) }}</td>
                                <td class="type">{{ responseType(response) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Add Query Param Dialog -->
<div bsModal #addQueryParamModal="bs-modal" class="modal fade" id="addQueryParamModal" tabindex="-1" role="dialog"
     aria-labelledby="addQueryParamModalLabel" role="dialog" aria-hidden="true" (onShown)="queryParamNameInput.focus()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addQueryParamModal.hide()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="addQueryParamModalLabel">Add Query Parameter</h4>
            </div>
            <div class="modal-body">
                <p>Enter information about the new query parameter below and then click Add.</p>
                <form id="addqueryparam-form" class="form-horizontal" (submit)="addQueryParam()" #addQueryParamForm="ngForm" data-dismiss="modal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name">Name</label>
                        <div class="col-sm-10">
                            <input #queryParamNameInput name="name" type="text" id="name" class="form-control"
                                   placeholder="Enter a Parameter Name" required [(ngModel)]="modals.addQueryParam.name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addQueryParam()"
                        [disabled]="!addQueryParamForm.form.valid">Add</button>
                <button type="button" class="btn btn-default" (click)="addQueryParamModal.hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
