<div class="detail-title">
    <div path-item class="detail-label" [path]="operation.parent().path()"></div>
    <div class="detail-icon">
        <span class="label selected"
              [class.label-info]="operation.method() !== 'get' && operation.method() !== 'post' && operation.method() !== 'delete'"
              [class.label-success]="operation.method() === 'get'"
              [class.label-warning]="operation.method() === 'post'"
              [class.label-danger]="operation.method() === 'delete'">{{ operation.method() }}</span>
    </div>
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li>
                    <a href="javascript:return false" (click)="delete()">
                        <span class="pficon pficon-delete"></span>
                        <span>Delete Operation</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li [class.active]="isDesignMode()" [class.disabled]="canSaveSource()"><a (click)="enableDesignMode()">Design</a></li>
        <li [class.active]="isSourceMode()"><a (click)="enableSourceMode()">Source</a></li>
    </ul>
</div>

<!-- Source Mode -->
<div class="detail-actionbar" *ngIf="isSourceMode()">
    <button class="btn btn-default btn-xs" [disabled]="!canFormatSource()" (click)="formatSource()"><span class="fa fa-fw fa-indent"></span> <span>Format</span></button>
    <button class="btn btn-default btn-xs" [disabled]="!canRevertSource()" (click)="revertSource()"><span class="fa fa-fw fa-undo"></span> <span>Revert</span></button>
    <button class="btn btn-primary btn-xs" [disabled]="!canSaveSource()" (click)="saveSource()"><span class="pficon pficon-save"></span> <span>Save</span></button>
</div>
<div class="detail-content" style="position: relative" *ngIf="isSourceMode()">
    <ace-editor #sourceEditor
                [text]="source()"
                [theme]="'eclipse'"
                [mode]="'json'"
                [durationBeforeCallback]="350"
                (textChanged)="updateSource($event)"
                style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin-top: 1px"></ace-editor>
</div>

<!-- Design Mode -->
<div class="detail-content" *ngIf="isDesignMode()">
    <div class="api-operation-detail">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">

                <!-- Info Section -->
                <div class="section info-section panel-group">
                    <div class="section-header panel-title">
                        <a data-toggle="collapse" data-target="#info-section-body">
                            <span class="section-label">INFO</span>
                        </a>
                        <context-help>
                            <p>
                                In this section you can easily edit the <strong>Name</strong> and
                                <strong>Description</strong> of the Operation.
                            </p>
                        </context-help>
                    </div>
                    <div class="section-body collapse in" id="info-section-body">
                        <h1>
                            <summary-editor-of [value]="summary()" [noValueMessage]="'No Summary'"
                                               (onChange)="changeSummary($event)"></summary-editor-of>
                        </h1>
                        <description-editor-of [value]="description()" [noValueMessage]="'No description.'"
                                               (onChange)="changeDescription($event)"></description-editor-of>
                    </div>
                </div>

                <!-- Path Parameters Section -->
                <div class="section path-parameters-section panel-group" *ngIf="hasParameters('path')">
                    <div class="section-header panel-title">
                        <a data-toggle="collapse" data-target="#path-parameters-section-body">
                            <span class="section-label">PATH PARAMETERS</span>
                        </a>
                        <context-help>
                            <p>
                                This section is visible because the path/endpoint this operation belongs to has dynamic parameters.
                                Configure the parameters' descriptions and types below.
                            </p>
                        </context-help>
                    </div>
                    <div class="section-body collapse in" id="path-parameters-section-body">
                        <table class="table table-striped api-operation-parameters">
                            <thead>
                            <tr>
                                <th>Parameter</th>
                                <th width="60%">Description</th>
                                <th width="40%">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let param of pathParameters()">
                                <td class="parameter path-parameter">{{ param.name }}</td>
                                <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                                                               (onChange)="changePathParamDescription(param, $event)"
                                                                               [value]="paramDescription(param)"></description-editor-qp></td>
                                <td class="type"><type-editor-of [document]="param.ownerDocument()" [paramIn]="'path'"
                                                                 [value]="paramType(param)" [noValueMessage]="'No Type'"
                                                                 (onChange)="changePathParamType(param, $event)"></type-editor-of></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Request Body Section -->
                <div class="section request-body-section panel-group">
                    <div class="section-header panel-title">
                        <a [class.collapsed]="!(operation.method() === 'put' || operation.method() === 'post')" data-toggle="collapse" data-target="#request-body-section-body">
                            <span class="section-label">REQUEST BODY</span>
                        </a>
                        <context-help>
                            <p>
                                Use this section to configure the operation's <strong>Request Body</strong>.  Typically a
                                request body is used for <strong>PUT</strong> and <strong>POST</strong> only.  Other operation
                                types usually do not include a body.
                            </p>
                        </context-help>
                        <button class="btn btn-sm btn-default pull-right" [style.visibility]="'hidden'"
                                [disabled]="disabled"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteRequestBody()"
                                title="Delete the request body."
                                [disabled]="!hasBodyParam()"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse" [class.in]="operation.method() === 'put' || operation.method() === 'post'" id="request-body-section-body">

                        <div class="alert alert-info"
                             [class.alert-warning]="operation.method() === 'put' || operation.method() === 'post'"
                             *ngIf="!hasBodyParam()">
                            <span class="pficon"
                                  [class.pficon-info]="operation.method() !== 'put' && operation.method() !== 'post'"
                                  [class.pficon-warning-triangle-o]="operation.method() === 'put' || operation.method() === 'post'"></span>
                            <strong>None Found</strong>
                            <span>No request body has been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="createRequestBody()">Add Request Body</button>
                        </div>

                        <div *ngIf="hasBodyParam()">
                            <div class="alert alert-warning" *ngIf="operation.method() === 'get'">
                                <span class="pficon pficon-warning-triangle-o"></span>
                                <strong>Not Recommended</strong>
                                <span>It is unusual and not recommended to define a request body for a <strong>GET</strong> operation.</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="requestBodyMenu" data-toggle="dropdown">
                                    <span>{{ requestBodyType() }}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="requestBodyMenu">
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('null', true)">null</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('boolean', true)">boolean</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('integer', true)">integer</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('number', true)">number</a></li>
                                    <li role="presentation"><a role="menuitem" (click)="setRequestBodyType('string', true)">string</a></li>
                                    <li role="presentation" class="divider" *ngIf="hasDefinitions()"></li>
                                    <li role="presentation" *ngFor="let definitionName of definitionNames()"><a
                                            role="menuitem" (click)="setRequestBodyType(definitionName, false)">{{ definitionName }}</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">Custom Type</a></li>
                                </ul>
                            </div>
                            <req-description-editor-of [value]="bodyDescription()" [noValueMessage]="'No request body description.'"
                                                   (onChange)="changeBodyDescription($event)"></req-description-editor-of>
                        </div>
                    </div>
                </div>

                <!-- Query Parameters Section -->
                <div class="section query-parameters-section panel-group">
                    <div class="section-header panel-title">
                        <a [class.collapsed]="!hasParameters('query')" data-toggle="collapse" data-target="#parameters-section-body">
                            <span class="section-label">QUERY PARAMETERS</span>
                        </a>
                        <context-help>
                            <p>
                                An operation may, optionally, allow additional options to be sent via <strong>URL query
                                parameters</strong>.  This section allows you to document what query parameters are
                                accepted/expected by this operation.
                            </p>
                        </context-help>
                        <button class="btn btn-sm btn-default pull-right" (click)="openAddQueryParamModal()"
                                title="Add a new query parameter"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteAllQueryParams()"
                                title="Delete all query parameters."
                                [disabled]="!hasParameters('query')"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse" id="parameters-section-body" [class.in]="hasParameters('query')">

                        <div class="alert alert-info" *ngIf="!hasParameters('query')">
                            <span class="pficon pficon-info"></span>
                            <strong>None Found</strong>
                            <span>No query parameters have been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="openAddQueryParamModal()">Add Query Parameter</button>
                        </div>

                        <table class="table table-striped api-operation-parameters" *ngIf="hasParameters('query')">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th width="60%">Description</th>
                                    <th width="40%">Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let param of queryParameters()">
                                    <td class="parameter query-parameter">{{ param.name }}</td>
                                    <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                           (onChange)="changeQueryParamDescription(param, $event)"
                                           [value]="paramDescription(param)"></description-editor-qp></td>
                                    <td class="type"><type-editor-of [document]="param.ownerDocument()"
                                            [value]="paramType(param)" [noValueMessage]="'No Type'" [paramIn]="'query'"
                                            (onChange)="changeQueryParamType(param, $event)"></type-editor-of></td>
                                    <td class="actions">
                                        <div>
                                            <button class="btn btn-sm btn-default pull-right" (click)="deleteQueryParam(param)"
                                                    title="Delete query parameter."><span class="pficon pficon-delete"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Responses Section -->
                <div class="section responses-section panel-group">
                    <div class="section-header panel-title">
                        <a data-toggle="collapse" data-target="#responses-section-body">
                            <span class="section-label">RESPONSES</span>
                        </a>
                        <context-help>
                            <p>
                                Every operation must include at least one <strong>Response</strong>.  Multiple responses (with
                                different HTTP response codes) are possible for each operation - so add as many as you like.
                                Some common choices for HTTP responses are:
                            </p>
                            <br>
                            <ul>
                                <li><strong>200 OK</strong> - successful GET (retrieve data) operations</li>
                                <li><strong>201 Created</strong> - successful POST (create) operations</li>
                                <li><strong>204 No Content</strong> - successful PUT (update) operations</li>
                                <li><strong>400 Bad Request</strong> - failed to PUT/POST something due to incorrect input</li>
                                <li><strong>404 Not Found</strong> - failed to GET something</li>
                            </ul>
                        </context-help>
                        <button class="btn btn-sm btn-default pull-right" (click)="openAddResponseModal()"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-sm btn-default pull-right" (click)="deleteAllResponses()"
                                [disabled]="!hasResponses()"><span class="pficon pficon-delete"></span></button>
                    </div>
                    <div class="section-body collapse in" id="responses-section-body">

                        <div class="alert alert-warning" *ngIf="!hasResponses()">
                            <span class="pficon pficon-warning-triangle-o"></span>
                            <strong>None Found</strong>
                            <span>No responses have been declared.</span>
                            <button class="btn btn-primary btn-sm pull-right" (click)="openAddResponseModal()">Add Response</button>
                        </div>

                        <table class="table table-striped api-operation-responses" *ngIf="hasResponses()">
                            <thead>
                                <tr>
                                    <th width="1%" nowrap="nowrap">Status Code</th>
                                    <th width="60%">Description</th>
                                    <th width="40%">Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let response of responses()">
                                    <td class="parameter">{{ response.statusCode() }}</td>
                                    <td class="description"><description-editor-qp [noValueMessage]="'No description.'"
                                             (onChange)="changeResponseDescription(response, $event)"
                                             [value]="responseDescription(response)"></description-editor-qp></td>
                                    <td class="type"><type-editor-of [document]="response.ownerDocument()"
                                             [value]="responseType(response)" [noValueMessage]="'No Type'" [paramIn]="'body'"
                                             (onChange)="changeResponseType(response, $event)"></type-editor-of></td>
                                    <td class="actions">
                                        <div>
                                            <button class="btn btn-sm btn-default pull-right" (click)="deleteResponse(response)"
                                                    title="Delete response."><span class="pficon pficon-delete"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-query-param-dialog #addQueryParamDialog (onAdd)="addQueryParam($event)"></add-query-param-dialog>
<add-response-dialog #addResponseDialog (onAdd)="addResponse($event)"></add-response-dialog>
