<div class="detail-title">
    <div path-item class="detail-label" [path]="path.path()"></div>
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li><a href="javascript:return false" (click)="delete()"><span class="pficon pficon-delete"></span> <span>Delete</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#" onclick="return false">Design</a></li>
        <li class="disabled"><a href="#" onclick="return false" disabled="disabled">Source</a></li>
    </ul>
</div>
<div class="detail-content">

    <div class="api-path-detail">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="apipath-2-get">

                <div class="alert alert-info">
                    <span class="pficon pficon-info"></span>
                    This page shows summary details about the <strong>{{ path.path() }}</strong> resource path.  Below you can
                    view and modify the operations supported by this path.
                </div>

                <!-- Operations Section -->
                <div class="section operations-section">
                    <div class="section-header">
                        <a data-toggle="collapse" data-target="#operations-section-body">
                            <span class="section-label">OPERATIONS</span>
                        </a>
                    </div>
                    <div class="section-body collapse in" id="operations-section-body">

                        <div class="api-operation" [class.empty]="!hasGet()">
                            <div class="">
                                <div class="type"><span class="label label-success" (click)="selectOperation(path.get)">GET</span></div>
                                <summary-editor-pf [value]="getSummary()" [enabled]="hasGet()" [noValueMessage]="'No Summary'"
                                                   (onChange)="changeSummary($event, path.get)"></summary-editor-pf>
                            </div>
                            <description-editor-pf *ngIf="hasGet()" [value]="getDescription()" [noValueMessage]="'No description.'"
                                                   (onChange)="changeDescription($event, path.get)"></description-editor-pf>
                            <div class="actions" *ngIf="!hasGet()">
                                <button class="btn btn-default" (click)="createOperation('get')">Create Operation</button>
                            </div>
                        </div>
                        <div class="api-operation" [class.empty]="!hasPut()">
                            <div class="">
                                <div class="type"><span class="label label-info" (click)="selectOperation(path.put)">PUT</span></div>
                                <summary-editor-pf [value]="putSummary()" [enabled]="hasPut()" [noValueMessage]="'No Summary'"
                                                   (onChange)="changeSummary($event, path.put)"></summary-editor-pf>
                            </div>
                            <description-editor-pf *ngIf="hasPut()" [value]="putDescription()" [noValueMessage]="'No description.'"
                                                   (onChange)="changeDescription($event, path.put)"></description-editor-pf>
                            <div class="actions" *ngIf="!hasPut()">
                                <button class="btn btn-default" (click)="createOperation('put')">Create Operation</button>
                            </div>
                        </div>
                        <div class="api-operation" [class.empty]="!hasPost()">
                            <div class="">
                                <div class="type"><span class="label label-warning" (click)="selectOperation(path.post)">POST</span></div>
                                <summary-editor-pf [value]="postSummary()" [enabled]="hasPost()" [noValueMessage]="'No Summary'"
                                                   (onChange)="changeSummary($event, path.post)"></summary-editor-pf>
                            </div>
                            <description-editor-pf *ngIf="hasPost()" [value]="postDescription()" [noValueMessage]="'No description.'"
                                                   (onChange)="changeDescription($event, path.post)"></description-editor-pf>
                            <div class="actions" *ngIf="!hasPost()">
                                <button class="btn btn-default" (click)="createOperation('post')">Create Operation</button>
                            </div>
                        </div>
                        <div class="api-operation" [class.empty]="!hasDelete()">
                            <div class="">
                                <div class="type"><span class="label label-danger" (click)="selectOperation(path.delete)">DELETE</span></div>
                                <summary-editor-pf [value]="deleteSummary()" [enabled]="hasDelete()" [noValueMessage]="'No Summary'"
                                                   (onChange)="changeSummary($event, path.delete)"></summary-editor-pf>
                            </div>
                            <description-editor-pf *ngIf="hasDelete()" [value]="deleteDescription()" [noValueMessage]="'No description.'"
                                                   (onChange)="changeDescription($event, path.delete)"></description-editor-pf>
                            <div class="actions" *ngIf="!hasDelete()">
                                <button class="btn btn-default" (click)="createOperation('delete')">Create Operation</button>
                            </div>
                        </div>
                        <div class="api-operation" [class.empty]="!hasOptions()">
                            <div class="">
                                <div class="type"><span class="label label-info" (click)="selectOperation(path.options)">OPTIONS</span></div>
                                <summary-editor-pf [value]="optionsSummary()" [enabled]="hasOptions()" [noValueMessage]="'No Summary'"
                                                   (onChange)="changeSummary($event, path.options)"></summary-editor-pf>
                            </div>
                            <description-editor-pf *ngIf="hasOptions()" [value]="optionsDescription()" [noValueMessage]="'No description.'"
                                                   (onChange)="changeDescription($event, path.options)"></description-editor-pf>
                            <div class="actions" *ngIf="!hasOptions()">
                                <button class="btn btn-default" (click)="createOperation('options')">Create Operation</button>
                            </div>
                        </div>
                        <div class="api-operation" [class.empty]="!hasHead()">
                            <div class="">
                                <div class="type"><span class="label label-info" (click)="selectOperation(path.head)">HEAD</span></div>
                                <summary-editor-pf [value]="headSummary()" [enabled]="hasHead()" [noValueMessage]="'No Summary'"
                                                   (onChange)="changeSummary($event, path.head)"></summary-editor-pf>
                            </div>
                            <description-editor-pf *ngIf="hasHead()" [value]="headDescription()" [noValueMessage]="'No description.'"
                                                   (onChange)="changeDescription($event, path.head)"></description-editor-pf>
                            <div class="actions" *ngIf="!hasHead()">
                                <button class="btn btn-default" (click)="createOperation('head')">Create Operation</button>
                            </div>
                        </div>
                        <div class="api-operation" [class.empty]="!hasPatch()">
                            <div class="">
                                <div class="type"><span class="label label-info" (click)="selectOperation(path.patch)">PATCH</span></div>
                                <summary-editor-pf [value]="patchSummary()" [enabled]="hasPatch()" [noValueMessage]="'No Summary'"
                                                   (onChange)="changeSummary($event, path.patch)"></summary-editor-pf>
                            </div>
                            <description-editor-pf *ngIf="hasPatch()" [value]="patchDescription()" [noValueMessage]="'No description.'"
                                                   (onChange)="changeDescription($event, path.patch)"></description-editor-pf>
                            <div class="actions" *ngIf="!hasPatch()">
                                <button class="btn btn-default" (click)="createOperation('patch')">Create Operation</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>