
.list-group-item {
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}
.list-group-item, .list-group-item:first-child {
  margin-bottom: 5px;
  border-top: 1px solid rgb(57, 165, 220);
}
.list-group-item.active {
  background-color: #def3ff;
}

.list-group-item .api-tags {
}
.list-group-item .api-tags .api-tags-label {
  font-weight: bold;
  margin-right: 5px;
}

.list-group-item .api-tags .label {
  margin-right: 5px;
}
.list-group-item .api-tags .label:hover {
  filter: brightness(120%);
  cursor: pointer;
}

span.no-description {
  color: #aaaaaa;
}