.container-cards-pf {
  padding: 0;
  margin-top: 0;
}

.row-cards-pf {
  padding: 0;
}


.api-card-icon {
  border: 2px solid #39a5dc;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  width: 32px;
}

.api-card .api-card-title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.api-card {
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
  height: 220px;
}
.api-card:hover {
  background-color: rgb(237, 237, 237);
}

.api-card.active {
  background-color: rgb(221, 234, 255);
}

.api-description {
  font-size: 13px;
  overflow-y: auto;
}

.api-card .api-tags {
  margin-bottom: 8px;
}
.api-card .api-tags .api-tags-label {
  font-weight: bold;
  margin-right: 5px;
}
.api-card .api-tags .api-tag {
  margin-right: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 4px;
}
.api-card .api-tags .api-tag:hover {
  cursor: pointer;
  background-color: #0088ce;
  border-color: #00659c;
  color: white;
}

span.no-description {
  color: #aaaaaa;
}