
.list-group-item {
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}
.list-group-item, .list-group-item:first-child {
  margin-bottom: 5px;
  border-top: 1px solid rgb(57, 165, 220);
}
.list-group-item.active {
  background-color: #def3ff;
}

.list-group-item .api-tags {
}
.list-group-item .api-tags .api-tags-label {
  font-weight: bold;
  margin-right: 5px;
}
.list-group-item .api-tags .api-tag {
  margin-right: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 4px;
}
.list-group-item .api-tags .api-tag:hover {
  cursor: pointer;
  background-color: #0088ce;
  border-color: #00659c;
  color: white;
}
span.no-description {
  color: #aaaaaa;
}