<div class="container" id="login-page">
    <div class="row">
        <div class="col-sm-12">
            <div id="brand">API Design Studio</div>
        </div><!--/.col-*-->
        <div class="col-sm-7 col-md-6 col-lg-5 login">
            <form class="form-horizontal" role="form" (submit)="login()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 col-md-2 control-label">Username</label>
                    <div class="col-sm-10 col-md-10">
                        <input name="username" type="text" class="form-control" id="inputUsername" required placeholder="" autofocus tabindex="1" [(ngModel)]="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
                    <div class="col-sm-10 col-md-10">
                        <input name="password" type="password" class="form-control" id="inputPassword" required placeholder="" tabindex="2" [(ngModel)]="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                        <div class="checkbox">
                            <label>
                                <input name="rememberUser" type="checkbox" tabindex="3" [(ngModel)]="rememberUser"> Remember username
                            </label>
                        </div>
                        <span class="help-block"> Forgot <a href="https://github.com/password_reset" tabindex="6">password</a>?</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 submit">
                        <button type="submit" class="btn btn-primary btn-lg" tabindex="4"
                                [disabled]="!loginForm.form.valid || authenticating"><span class="fa fa-fw fa-github"></span><span>Log In</span></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5 col-md-6 col-lg-7 details">
            <div *ngIf="loginError" class="alert alert-danger">
                <span class="pficon pficon-error-circle-o"></span>
                <strong>Error Logging In!</strong>
                <span>{{ loginError }}</span>
            </div>
            <div *ngIf="!loginError">
                <p>
                    <strong>Welcome to the API Design Studio!</strong>
                    <span>Use this form to log into the application.  Use your <a href="https://www.github.com">Github</a> credentials for this!  Note that we store your credentials in the browser "sessionStorage" only - so we think this is safe for you to do.  But if you don't feel comfortable doing that, we understand!</span>
                </p>
                <p style="margin-top: 15px">
                    Don't yet have a github account?  It's easy to <a href="https://github.com/join">sign up for a new account</a>!
                </p>
            </div>
        </div>
    </div>
</div>
