<!-- Rename Path Dialog -->
<div>
    <div bsModal #renamePathModal="bs-modal" class="modal fade" id="renamePathModal" tabindex="-1" role="dialog"
         aria-labelledby="renamePathModalLabel" role="dialog" aria-hidden="true" *ngIf="isOpen()" [config]="{ backdrop: true }"
         (onShown)="renamePathInput.focus()" (onHidden)="close()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <h4 class="modal-title" id="renamePathModalLabel">Rename Path</h4>
                </div>
                <div class="modal-body">
                    <p>Enter a new path below and then click Rename.</p>
                    <form id="renamepath-form" class="form-horizontal" #renamePathForm="ngForm" data-dismiss="modal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="pathName">Path</label>
                            <div class="col-sm-10">
                                <input name="pathName" type="text" id="pathName" class="form-control" #renamePathInput
                                       placeholder="Enter a Path Name" #pathName="ngModel" pattern="(\/[^{}\/]*(\{[a-zA-Z_][0-9a-zA-Z_]*\})?)+"
                                       required [(ngModel)]="name" (ngModelChange)="pathExists = paths.indexOf($event) != -1">
                                <div class="form-error-message error" *ngIf="pathExists">Path already exists.</div>
                                <form-error-message [inputModel]="pathName" [type]="'pattern'" [alwaysOn]="true">Enter a valid path.</form-error-message>
                                <form-error-message [inputModel]="pathName" [type]="'required'">Name is required.</form-error-message>
                            </div>
                        </div>
                        <div class="form-group subpath-option" *ngIf="numSubpaths > 0">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="checkbox" name="alsoSubpaths" id="alsoSubpaths" [(ngModel)]="alsoSubpaths">
                                <label for="alsoSubpaths">Also rename <strong>{{ numSubpaths }}</strong> sub-path(s).</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="notice-of-required modal-notice-of-required">The fields marked with <span class="required-icon">*</span> are required.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="rename()"
                            [disabled]="!renamePathForm.form.valid || pathExists">Rename</button>
                    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
