<svg class="override-icon" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <title>{{ title }}</title>
    <g id="ICON_Inherit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group">
            <rect id="Top-Left" [attr.fill]="color" x="0" y="0" width="10" height="10"></rect>
            <rect id="Bottom-Right" [attr.fill]="color" x="15" y="14" width="10" height="10"></rect>
            <polyline id="Path-2" [attr.stroke]="color" stroke-width="2" points="5.5 9.5 5.5 19.5 15.5 19.5"></polyline>
        </g>
    </g>
</svg>
