<span *ngIf="!editing" class="inline-editor-label inline-text-editor-label {{ labelClass }}"
      [class.empty]="isEmpty()" title="Click to edit." (click)="onStartEditing()">
    <span>{{ displayValue() }}</span>
    <span class="fa fa-pencil"></span>
</span>
<span *ngIf="editing" class="inline-editor inline-text-editor">
    <input #newvalue required [(ngModel)]="evalue" type="text" class="form-control inline-editor-input inline-text-editor-input {{ inputClass }}"
           name="inline-text-editor-input"
           (keypress)="onInputKeypress($event)"
           (keydown)="onInputKeypress($event)" autocomplete="off">
    <button title="Save changes." class="btn btn-xs btn-primary" (click)="onSave()"><span class="fa fa-fw fa-check"></span></button>
    <button title="Cancel changes." class="btn btn-xs btn-default" (click)="onCancel()"><span class="fa fa-fw fa-close"></span></button>
</span>