<form role="form" class="search-pf has-button">
    <div class="form-group has-clear">
        <div class="search-pf-input-group">
            <label for="{{ searchId }}" class="sr-only">Search</label>
            <input name="search" id="{{ searchId }}" type="search" class="form-control" placeholder="{{ placeholder }}"
                   value="{{ initialValue }}" [ngModel]="value" (ngModelChange)="changeValue($event)" autocomplete="off">
            <button *ngIf="hasValue()" type="button" class="clear" (click)="clear()"><span class="pficon pficon-close"></span></button>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
    </div>
</form>
