<span (window:keydown)="onGlobalKeyDown($event)" class="validation-aggregate" *ngIf="hasProblems()">
    <a (click)="open($event)"><span class="badge badge-pf-bordered"> </span></a>
    <div *ngIf="isOpen()" class="validation-aggregate-panel" [style.left]="left" [style.top]="top">
        <div class="problem" *ngFor="let problem of matchingProblems()" title="{{ problem.message }}">
            <span class="pficon {{ iconFor(problem) }}"></span>
            {{ summaryFor(problem) }}
            </div>
    </div>
</span>