<!-- Add Channel Dialog -->
<div bsModal #addChannelModal="bs-modal" class="modal fade" id="addChannelModal" tabindex="-1" role="dialog" aria-labelledby="addChannelModalLabel" role="dialog" aria-hidden="true" (onShown)="doSelect()" [config]="{ backdrop: true }" (onHidden)="close()"
    *ngIf="isOpen()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="addChannelModalLabel">Add Channel</h4>
            </div>
            <div class="modal-body">
                <p>Enter a new channel below and then click Add.</p>
                <form id="addchannel-form" class="form-horizontal" (submit)="add()" #addChannelForm="ngForm" data-dismiss="modal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="channel">Channel</label>
                        <div class="col-sm-10">
                            <input #addChannelInput name="channel" type="text" id="channel" class="form-control" placeholder="Enter a Channel" pattern="{{channelValidation()}}" required [(ngModel)]="channel" (ngModelChange)="validateChannel($event)" #thechannel="ngModel">
                            <div class="form-error-message error" *ngIf="channelExists">Channel already exists.</div>
                            <form-error-message [inputModel]="thechannel" [type]="'pattern'" [alwaysOn]="true">Enter a valid channel.</form-error-message>
                            <form-error-message [inputModel]="thechannel" [type]="'required'">Channel is required.</form-error-message>
                        </div>
                    </div>
                </form>
            </div>
            <div class="notice-of-required modal-notice-of-required">The fields marked with <span class="required-icon">*</span> are required.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="add()" [disabled]="!addChannelForm.form.valid || channelExists">Add</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>