<!-- Add Schema Property Dialog -->
<div bsModal #addSchemaPropertyModal="bs-modal" class="modal fade" id="addSchemaPropertyModal" tabindex="-1" role="dialog"
     aria-labelledby="addSchemaPropertyModalLabel" role="dialog" aria-hidden="true" (onShown)="schemaPropertyNameInput.focus()"
     (onHidden)="close()" *ngIf="isOpen()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="addSchemaPropertyModalLabel">Add Schema Property</h4>
            </div>
            <div class="modal-body">
                <p>Enter information about the new schema property below and then click Add.</p>
                <form id="addschemaproperty-form" class="form-horizontal" (submit)="add()" #addSchemaPropertyForm="ngForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="name">Name</label>
                        <div class="col-sm-10">
                            <input #schemaPropertyNameInput name="name" type="text" id="name" class="form-control"
                                   placeholder="Enter a Property Name" required [(ngModel)]="name" #pname="ngModel">
                            <form-error-message [inputModel]="pname" [type]="'required'">Name is required.</form-error-message>
                        </div>
                    </div>
                </form>
            </div>
            <div class="notice-of-required modal-notice-of-required">The fields marked with <span class="required-icon">*</span> are required.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="add()" [disabled]="!addSchemaPropertyForm.form.valid">Add</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
