<!-- Add/Edit Server Dialog -->
<div bsModal #addServerModal="bs-modal" class="modal fade" id="addServerModal" tabindex="-1" role="dialog"
     aria-labelledby="addServerModalLabel" aria-hidden="true"
     (onShown)="mode === 'edit' ? descriptionInput.focus() : null"
     (onHidden)="close()" *ngIf="isOpen()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="addServerModalLabel">
                    <span *ngIf="mode === 'create'">Add Server</span>
                    <span *ngIf="mode === 'edit'">Edit Server</span>
                </h4>
            </div>
            <div class="modal-body">
                <p *ngIf="mode === 'create'">Enter information about the new server below and then click <strong>OK</strong>.</p>
                <p *ngIf="mode === 'edit'">Make changes to the server details below and click <strong>OK</strong>.</p>
                <form id="addserver-form" class="form-horizontal" #addServerForm="ngForm" data-dismiss="modal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" [class.required]="mode === 'create'" for="server">Server URL</label>
                        <div class="col-sm-10" *ngIf="mode === 'create'">
                            <input #urlInput="ngModel" name="server" type="text" id="server" class="form-control"
                                   placeholder="Server URL (e.g. https://{stage}.example.com:{port}/api)"
                                   required [(ngModel)]="model.url" (change)="updateVariables()">
                            <form-error-message [inputModel]="urlInput" [type]="'required'">Server URL is required.</form-error-message>
                        </div>
                        <div class="col-sm-10" *ngIf="mode === 'edit'">
                            <input name="server" type="text" id="server_ro" class="form-control" required
                                   [(ngModel)]="model.url" readonly style="border: 0px; background-color: white; color: #333">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="description">Description</label>
                        <div class="col-sm-10">
                            <textarea name="description" id="description" class="form-control" autosize #descriptionInput
                                      placeholder="Server description (optional)" [(ngModel)]="model.description"></textarea>
                        </div>
                    </div>

                    <hr *ngIf="hasVariables()" />
                    <div *ngIf="hasVariables()">
                        Your Server URL contains variables.  You can configure details about each of them below.
                    </div>
                    <div class="server-variables" *ngIf="hasVariables()">
                        <ul class="nav nav-tabs">
                            <li *ngFor="let varName of variableNames()" [class.active]="varName == _varSelected"><a (click)="_varSelected = varName">{{ varName }}</a></li>
                        </ul>
                        <div class="panel panel-default tab-panel">
                            <div *ngFor="let varName of variableNames()" class="panel-body" [class.hidden]="varName != _varSelected">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Default Value</label>
                                    <div class="col-sm-9">
                                        <input name="defval_{{ varName }}" type="text" class="form-control"
                                               placeholder="Default value (optional)" [(ngModel)]="model.variables[varName].default">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea name="description_{{ varName }}" class="form-control" autosize
                                                  placeholder="Variable description (optional)" [(ngModel)]="model.variables[varName].description"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div *ngIf="mode === 'create'" class="notice-of-required modal-notice-of-required">The fields marked with <span class="required-icon">*</span> are required.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="!addServerForm.form.valid">OK</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
