<!-- Clone Path Dialog -->
<div bsModal #clonePathModal="bs-modal" class="modal fade" id="clonePathModal" tabindex="-1" role="dialog" aria-labelledby="clonePathModalLabel"
     role="dialog" aria-hidden="true" (onShown)="doSelect()"
     (onHidden)="close()" *ngIf="isOpen()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="clonePathModalLabel">Clone Path</h4>
            </div>
            <div class="modal-body">
                <p>Enter a new resource path below and then click Clone.</p>
                <form id="clonepath-form" class="form-horizontal" (submit)="clone()" #clonePathForm="ngForm" data-dismiss="modal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="path">Path</label>
                        <div class="col-sm-10">
                            <input #clonePathInput name="path" type="text" id="path" class="form-control" placeholder="Enter a Path"
                                   required [(ngModel)]="path" (ngModelChange)="pathChanged.next($event)">
                            <div class="validation-error-label" *ngIf="pathExists">Path already exists.</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="clone()" [disabled]="!clonePathForm.form.valid || pathExists">Clone</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
