<div bsModal #editorDisconnectedModal="bs-modal" class="modal fade" id="editorDisconnectedModal" tabindex="-1" role="dialog"
     aria-labelledby="editorDisconnectedModalLabel" aria-hidden="true" *ngIf="isOpen()" (onHidden)="close()" [config]="{ backdrop: false }" >
    <div class="modal-dialog editor-disconnected-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editorDisconnectedModalLabel">Editor Disconnected</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1">
                            <span class="fa fa-plug icon"></span>
                        </div>
                        <div class="col-md-10">
                            <div class="title"><strong>Lost Connection</strong></div>
                            <div class="message">
                                Connection to the server has been lost.  Any changes you have made prior
                                to this have been saved.
                            </div>
                            <div class="reload">
                                Reload the page to reconnect.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="reload()">Reload</button>
            </div>
        </div>
    </div>
</div>
