<div bsModal #editorDisconnectedModal="bs-modal" class="modal fade" id="editorDisconnectedModal" tabindex="-1" role="dialog"
     aria-labelledby="editorDisconnectedModalLabel" aria-hidden="true" *ngIf="isOpen()" (onHidden)="close()" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="editorDisconnectedModalLabel">Editor Disconnected</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <span class="pficon pficon-error-circle-o"></span>
                    <strong>Editor Disconnected!</strong> The socket connecting you to the server has been dropped (unexpectedly).
                    It is likely that none of your changes have been lost, but you must reload this page to reconnect.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="reload()">Reload</button>
            </div>
        </div>
    </div>
</div>
