<!-- Rename Definition Dialog -->
<div>
    <div bsModal #renameDefinitionModal="bs-modal" class="modal fade" id="renameDefinitionModal" tabindex="-1" role="dialog"
         aria-labelledby="renameDefinitionModalLabel" role="dialog" aria-hidden="true" *ngIf="isOpen()"
         (onShown)="renameDefinitionInput.focus()" (onHidden)="close()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <h4 class="modal-title" id="renameDefinitionModalLabel">Rename Definition</h4>
                </div>
                <div class="modal-body">
                    <p>Enter a new definition name below and then click Rename.</p>
                    <form id="renamedef-form" class="form-horizontal" #renameDefinitionForm="ngForm" data-dismiss="modal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="definitionName">Name</label>
                            <div class="col-sm-10">
                                <input #renameDefinitionInput name="definitionName" type="text" id="definitionName" class="form-control"
                                       placeholder="Enter a Definition Name"
                                       required [(ngModel)]="name" (ngModelChange)="defChanged.next($event)">
                                <div class="validation-error-label" *ngIf="defExists">Definition already exists.</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="rename()"
                            [disabled]="!renameDefinitionForm.form.valid || defExists">Rename</button>
                    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
