<!-- Rename Data Type Dialog -->
<div>
    <div bsModal #renameDefinitionModal="bs-modal" class="modal fade" id="renameDefinitionModal" tabindex="-1" role="dialog"
         aria-labelledby="renameDefinitionModalLabel" role="dialog" aria-hidden="true" *ngIf="isOpen()"
         (onShown)="renameDefinitionInput.focus()" (onHidden)="close()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <h4 class="modal-title" id="renameDefinitionModalLabel">Rename Data Type</h4>
                </div>
                <div class="modal-body">
                    <p>Enter a new data type name below and then click Rename.</p>
                    <form id="renamedef-form" class="form-horizontal" #renameDefinitionForm="ngForm" data-dismiss="modal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="definitionName">Name</label>
                            <div class="col-sm-10">
                                <input name="definitionName" type="text" id="definitionName" class="form-control" #renameDefinitionInput
                                       placeholder="Enter a Data Type Name" pattern="[a-zA-Z0-9\.\-_]+" #defName="ngModel"
                                       required [(ngModel)]="name" (ngModelChange)="defChanged.next($event)">
                                <div class="form-error-message" *ngIf="defExists">Data Type already exists.</div>
                                <form-error-message [inputModel]="defName" [type]="'required'">Name is required.</form-error-message>
                                <form-error-message [inputModel]="defName" [type]="'pattern'" [alwaysOn]="true">Enter a valid name (only alpha-numeric characters are allowed - no whitespace).</form-error-message>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-info">
                        <span class="pficon pficon-info"></span>
                        <strong>You should know!</strong> Renaming a Data Type will also update any references to the type elsewhere in
                        the API (e.g. responses and request bodies).
                    </div>
                </div>
                <div class="notice-of-required modal-notice-of-required">The fields marked with <span class="required-icon">*</span> are required.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="rename()"
                            [disabled]="!renameDefinitionForm.form.valid || defExists">Rename</button>
                    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
