<!-- Security Requirement Dialog -->
<div>
    <div bsModal #securityRequirementModal="bs-modal" class="modal fade" id="securityRequirementModal" tabindex="-1" role="dialog"
         aria-labelledby="securityRequirementModalLabel" role="dialog" aria-hidden="true" *ngIf="isOpen()"
         (onHidden)="close()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <h4 class="modal-title">Security Requirement</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Specify a combination of required Security Schemes by enabling/disabling them from the list below.  When
                        necessary (depending on the type of scheme) also configure required scopes for each enabled scheme.
                    </p>
                    <div class="list-group list-view-pf list-view-pf-view security-scheme-list">

                        <!-- No Schemes Found -->
                        <div class="blank-slate-pf " *ngIf="schemes.length === 0">
                            <div class="blank-slate-pf-icon">
                                <span class="pficon pficon pficon-add-circle-o"></span>
                            </div>
                            <h1>
                                No Security Schemes Found
                            </h1>
                            <p>
                                There are currently no <strong>Security Schemes</strong> defined for this API.  Before you can
                                configure the security requirements, you must first configure the possible schemes.
                            </p>
                        </div>

                        <!-- Select from list of Schemes -->
                        <div class="list-group-item" *ngFor="let scheme of schemes" [class.active]="isChecked(scheme)"
                             [class.list-view-pf-expand-active]="isExpanded(scheme)">
                            <div class="list-group-item-header">
                                <div class="list-view-pf-expand" [style.visibility]="canExpand(scheme) ? 'visible' : 'hidden'">
                                    <span class="fa fa-angle-right" [class.fa-angle-down]="isExpanded(scheme)"
                                          (click)="toggleExpansion(scheme)"></span>
                                </div>
                                <div class="list-view-pf-checkbox">
                                    <input type="checkbox" [checked]="isChecked(scheme)" (change)="toggleSecurityScheme(scheme, $event.target.checked)">
                                </div>
                                <div class="list-view-pf-main-info" (click)="toggleSecurityScheme(scheme)">
                                    <div class="list-view-pf-body">
                                        <div class="list-view-pf-description">
                                            <div class="list-group-item-heading">
                                                <span class="name">{{ scheme.schemeName() }}</span>
                                                <span class="type">{{ scheme.type }}</span>
                                            </div>
                                        </div>
                                        <div class="list-view-pf-additional-info">
                                            <div class="list-group-item-text">{{ scheme.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="canExpand(scheme)" class="list-group-item-container container-fluid" [class.hidden]="!isExpanded(scheme)">
                                <div class="close">
                                    <span class="pficon pficon-close" (click)="collapse(scheme)"></span>
                                </div>
                                <div class="row">
                                    <td class="col-md-12">
                                        <div class="instructions">Select the required scopes below:</div>
                                    </td>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" *ngFor="let scope of scopes(scheme)">
                                        <label title="{{ scope.description }}">
                                            <input type="checkbox" [checked]="isScopeChecked(scheme, scope.name)" [disabled]="!isChecked(scheme)"
                                                   (change)="toggleScope(scheme, scope.name, $event.target.checked)">
                                            <span>{{ scope.name }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="ok()"
                            [disabled]="!isSecurityRequirementValid()">OK</button>
                    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
