<div *ngIf="editing !== true" class="request-body-description api-item-description description" [class.empty]="isEmpty()"
     (mouseenter)="onMouseIn($event)" (mouseleave)="onMouseOut()">{{ displayValue() }}</div>
<div class="hover-overlay" *ngIf="hovering" [style.top]="hoverDims.top" [style.left]="hoverDims.left"
         [style.width]="hoverDims.width" [style.height]="hoverDims.height" (mouseleave)="onOverlayOut()"
         title="Click to edit" (click)="onStartEditing()">
    <div class="overlay-area"></div>
    <div class="overlay-actions">
        <button title="Click to edit the description." class="overlay-action" (click)="onStartEditing()"><span class="fa fa-pencil"></span></button>
    </div>
</div>
<span #clickcontainer>
    <form #editform="ngForm" *ngIf="editing === true" name="api-description-editor-form" class="api-description-editor-form api-inline-editor-form"
          (submit)="onSave()">
        <textarea #newvalue required [(ngModel)]="evalue" type="text" autosize
                  class="form-control api-item-editor api-description-editor api-item-description request-body-description api-item-description description"
                  name="description-editor" [style.width]="'100%'" [style.height]="'auto'"
                  (keypress)="onInputKeypress($event)" (focus)="onInputFocus(true)" (blur)="onInputFocus(false)" (mouseenter)="onInputIn(true)"
                  (keydown)="onInputKeypress($event)" (mouseleave)="onInputIn(false)"></textarea>
        <div class="edit-overlay" *ngIf="editing" [class.hover]="inputHover" [class.focus]="inputFocus">
             <div class="overlay-actions"
             ><button title="Save changes." [disabled]="!editform.form.valid" class="overlay-action btn btn-xm btn-primary" type="submit"
             ><span class="fa fa-check"></span></button
             ><a title="Cancel changes." class="overlay-action btn btn-sm btn-default" (click)="onCancel()"
             ><span class="fa fa-close"></span></a></div>
        </div>
    </form>
</span>