<div class="dropdown" dropdown (onToggle)="toggled($event)" [isOpen]="isOpen" (isOpenChange)="isOpen = $event"
     [isDisabled]="disabled || saving" [autoClose]="false">
    <button class="btn btn-primary dropdown-toggle" type="button" id="commitMessageMenu" dropdownToggle>
        <span *ngIf="!saving">Save Changes</span>
        <span *ngIf="saving" class="spinner spinner-xs spinner-inline"></span>
        <span *ngIf="saving">Saving</span>
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="commitMessageMenu" *dropdownMenu>
        <api-commit-form *ngIf="isOpen" (onCommit)="save($event)" (onCancel)="cancel()"></api-commit-form>
    </div>
</div>