.extension {
  border: 1px solid transparent;
}
.extension.expanded {
  border: 1px solid #bbb;
  box-shadow: 0 2px 6px rgba(3,3,3,.2);
  margin-bottom: 3px;
}

.extension .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
.extension .header:hover {
  background-color: #edf8ff;
}
.extension.expanded .header {
  border-bottom: solid 1px #bbb;
  background-color: #def3ff;
}

.extension .header .expand {
  flex-basis: 2%;
}
.extension .header .name {
  flex-basis: 20%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
}
.extension .header .validation-problem-icon {
  margin-right: 5px;
}
.extension .header .name .entity-icon {
  margin-right: 5px;
  color: #667;
}
.extension .header .value {
  flex-basis: 76%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 25px;
}
.extension .header .actions {
  flex-basis: 2%;
  text-align: center;
}
.extension .header .actions > div .fa-ellipsis-v {
  visibility: hidden;
}
.extension:hover .header .actions > div .fa-ellipsis-v {
  visibility: visible;
}

.extension .body {
  position: relative;
  padding: 15px;
}
.extension .body .close {
  position: absolute;
  right: 10px;
  top: 5px;
}

.extension .body .extension-value form {
  width: 100%;
}
.extension .body .extension-value .form-label {
  font-weight: 600;
}
