<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="Dashboard" icon="dashboard" [route]="[ '/' ]"></li>
        <li breadcrumb label="APIs" icon="search" [route]="[ '/apis' ]"></li>
        <li breadcrumb label="Import API" icon="plus" class="active"></li>
    </breadcrumbs>
</div>
<page-error [error]="pageError" *ngIf="pageError"></page-error>
<div class="container-fluid" *ngIf="!pageError">
    <div class="importapi-form row">
        <div class="form-instructions col-md-3">
            <div class="alert alert-info">
                <span class="pficon pficon-info"></span>
                <strong>What is this page?</strong>
                <p style="line-height: 18px">
                    Hey there! Here you can import an existing API to the Studio by telling us where the API's OpenAPI document is
                    located.
                </p>
                <p style="line-height: 18px; margin-top: 12px">
                    Simply provide the URL of your OpenAPI document and we'll do the rest!  The URL can point directly
                    to the content, or it can be a source control URL (GitHub, GitLab, or Bitbucket).
                </p>
            </div>
        </div>
        <div class="col-md-7">

            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" title="OK, I got it!">
                    <span class="pficon pficon-close"></span>
                </button>
                <span class="pficon pficon-info"></span>
                <strong>What do I do?</strong>
                <p style="line-height: 18px">
                    Simply copy/paste (<strong>or drag and drop!</strong>) the URL of your existing OpenAPI document
                    from your browser into the form and then click "Import API".  Easy peasy, lemon squeezy!
                </p>
            </div>

            <importapi-form (onImportApi)="onImportApi($event)" #importApiForm></importapi-form>
        </div>
    </div>
</div>
