#api-editor {
  position: absolute;
  margin-top: 37px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.right-of-breadcrumbs {
  height: 37px;
  float: right;
}

.right-of-breadcrumbs .activeCollaboratorIcons {
  margin-right: 20px;
  float: left;
}
.right-of-breadcrumbs .activeCollaboratorIcons .activeCollaboratorIcon {
  text-transform: capitalize;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 18px;
  margin-top: 5px;
  text-align: center;
  border-radius: 13px;
  padding: 2px;
  font-size: 15px;
  border: 2px solid white;
  color: white;
  background-color: #004368;
  cursor: pointer;
  margin-right: -5px;
}
.right-of-breadcrumbs .activeCollaboratorIcons .activeCollaboratorIcon:hover {
  opacity: .8;
}

.right-of-breadcrumbs .api-actions {
  float: right;
  line-height: 34px;
  margin-right: 5px;
}
