#api-editor {
  position: absolute;
  top: 85px;
  left: 120px;
  right: 0;
  bottom: 0;
}
.activeCollaboratorIcons {
  margin-right: 50px;
}
.activeCollaboratorIcons .activeCollaboratorIcon {
  font-size: 26px;
  color: #00659c;
  padding-top: 6px;
}
.activeCollaboratorIcons .activeCollaboratorIcon.tree {
  color: #50A162;
}
.activeCollaboratorIcons .activeCollaboratorIcon.bus {
  color: #B65B80;
}
.activeCollaboratorIcons .activeCollaboratorIcon.bomb {
  color: #D94C4C;
}
.activeCollaboratorIcons .activeCollaboratorIcon.university {
  color: #477187;
}
.activeCollaboratorIcons .activeCollaboratorIcon.rocket {
  color: #D4786A;
}
.activeCollaboratorIcons .activeCollaboratorIcon.taxi {
  color: #B10DC9;
}
.activeCollaboratorIcons .activeCollaboratorIcon:hover {
  opacity: .8;
}
