<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="APIs" [route]="[ '/apis' ]"></li>
        <li breadcrumb [label]="apiDefinition.name" [route]="[ '/apis', apiDefinition.id ]"></li>
        <li breadcrumb label="Editor" class="active"></li>
    </breadcrumbs>
    <div class="right-of-breadcrumbs">
        <div class="activeCollaboratorIcons">
            <!-- Information about current remote editor users (active collaborators) goes in here -->
            <span *ngFor="let collaborator of activeCollaborators"
                  (click)="goToCollaboratorSelection(collaborator)"
                  class="activeCollaboratorIcon {{ collaborator.attributes['id'] }}"
                  [style.background-color]="'#' + collaborator.attributes['color']"
                  title="{{ collaborator.userName }}">{{ collaboratorInitial(collaborator) }}</span>
        </div>
        <div class="api-actions">
            <a class="btn btn-default" (click)="openLivePreview()"><span class="fa fa-eye"></span> Live Documentation</a>
        </div>
    </div>
</div>
<page-error [error]="pageError" *ngIf="pageError"></page-error>
<div id="api-editor" *ngIf="!pageError" [ngSwitch]="loadingState()">

    <!-- "Definition Loading" spinner -->
    <div class="container-fluid container-cards-pf api-editor-overview" *ngSwitchCase="'loading-def'">
        <div class="row row-cards-pf">
            <div class="">
                <div class="card-pf card-pf-accented">
                    <div class="card-pf-heading">
                        <h1 class="card-pf-title">
                            <p><span class="spinner spinner-xs spinner-inline"></span> Loading API definition...</p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- "Editor Loading" spinner -->
    <div class="container-fluid container-cards-pf api-editor-overview" *ngSwitchCase="'loading-session'">
        <div class="row row-cards-pf">
            <div class="">
                <div class="card-pf card-pf-accented">
                    <div class="card-pf-heading">
                        <h1 class="card-pf-title">
                            <p><span class="spinner spinner-xs spinner-inline"></span> Opening an API Design editing session...</p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The API Editor -->
    <api-editor #apiEditor *ngSwitchCase="'loaded'"
                [api]="apiDefinition"
                [features]="editorFeatures"
                [validationRegistry]="validationRegistry"
                (onSelectionChanged)="onSelectionChanged($event)"
                (onCommandExecuted)="onCommandExecuted($event)"
                (onConfigureValidation)="configureValidationDialog.open()"
                (onUndo)="onEditorUndo($event)"
                (onRedo)="onEditorRedo($event)"></api-editor>
</div>
<editor-disconnected-dialog #editorDisconnectedModal></editor-disconnected-dialog>
<configure-validation-dialog #configureValidationDialog [apiId]="apiDefinition.id"
                             (onChange)="changeValidationProfile($event)"></configure-validation-dialog>
