<div (window:keydown)="onGlobalKeyDown($event)" class="api-editor" [class.light]="theme === 'light'" [class.dark]="theme === 'dark'">

    <title-bar [document]="document()" [validationErrors]="validationErrors" (onCommand)="onCommand($event)"></title-bar>

    <master [document]="document()" #master
            (onCommand)="onCommand($event)"
            (onNodeSelected)="onNodeSelected($event)"></master>

    <div class="editor-detail" [ngSwitch]="formType">
        <main-20-form [document]="document()" class="editor-detail-form"
                      (onCommand)="onCommand($event)"
                      *ngSwitchCase="'main_20'"></main-20-form>
        <main-30-form [document]="document()" class="editor-detail-form"
                      (onCommand)="onCommand($event)"
                      *ngSwitchCase="'main_30'"></main-30-form>

        <path-form [path]="selectedPath()" class="editor-detail-form"
                   (onCommand)="onCommand($event)"
                   (onDeselect)="deselectPath()"
                   *ngSwitchCase="'path_20'"></path-form>
        <path-form [path]="selectedPath()" class="editor-detail-form"
                   (onCommand)="onCommand($event)"
                   (onDeselect)="deselectPath()"
                   *ngSwitchCase="'path_30'"></path-form>

        <operation-form [operation]="selectedOperation()" class="editor-detail-form"
                        (onCommand)="onCommand($event)"
                        (onDeselect)="deselectOperation()"
                        *ngSwitchCase="'operation_20'"></operation-form>
        <operation-30-form [operation]="selectedOperation()" class="editor-detail-form"
                           (onCommand)="onCommand($event)"
                           (onDeselect)="deselectOperation()"
                           *ngSwitchCase="'operation_30'"></operation-30-form>

        <definition-form [definition]="selectedDefinition()" class="editor-detail-form"
                         (onCommand)="onCommand($event)"
                         (onDeselect)="deselectDefinition()"
                         *ngSwitchCase="'definition_20'"></definition-form>
        <definition-form [definition]="selectedDefinition()" class="editor-detail-form"
                         (onCommand)="onCommand($event)"
                         (onDeselect)="deselectDefinition()"
                         *ngSwitchCase="'definition_30'"></definition-form>

        <problem-form [problem]="selectedProblem()" class="editor-detail-form"
                      (onCommand)="onCommand($event)"
                      *ngSwitchCase="'problem_20'"></problem-form>
        <problem-form [problem]="selectedProblem()" class="editor-detail-form"
                      (onCommand)="onCommand($event)"
                      *ngSwitchCase="'problem_30'"></problem-form>
    </div>

</div>
