.api-editor .dropdown.empty > button.btn > span {
  color: #bbb;
}
.api-editor.light span.empty,
.api-editor.light div.empty,
.api-editor.light button.empty {
  color: #bbb;
}
.api-editor.light span.path-param,
.api-editor.light span.server-variable {
  color: #ff6a7c;
}
.api-editor.light span.path-segment::before {
  color: #363636;
}
.api-editor.light .context-help .context-help-panel p > a {
  color: #0088ce;
}
.api-editor.light .context-help .context-help-panel p > a:hover {
  color: #00659c;
}
.api-editor.light div.api-item-description {
  border-left: 2px solid #39a5dc;
}
.api-editor.light div.api-item-description.empty {
  border-left: 2px solid #bbb;
  color: #bbb;
}
.api-editor.light .editor-master {
  background-color: white;
  border-right: 1px solid #ddd;
}
.api-editor.light .editor-detail {
  background-color: white;
}
.api-editor.light .editor-detail .detail-actionbar {
  border-bottom-color: #ddd;
}
.api-editor.light .editor-detail .hover-overlay {
  border-color: #39a5dc;
}
.api-editor.light .editor-detail .hover-overlay .overlay-actions {
  background: #39a5dc;
  border-left-color: #39a5dc;
}
.api-editor.light .editor-detail .hover-overlay .overlay-actions .overlay-action {
  background-color: #39a5dc;
  color: white;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -ms-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}
.api-editor.light .editor-detail .hover-overlay .overlay-actions .overlay-action:hover {
  color: gold;
}
.api-editor.light .editor-detail .edit-overlay {
  border-color: #bbb;
  background-color: white;
}
.api-editor.light .editor-detail .edit-overlay.focus {
  box-shadow: 3px 3px 3px rgba(0, 136, 206, 0.3), -3px 3px 3px rgba(0, 136, 206, 0.3);
  border-color: #0088ce;
}
.api-editor.light .editor-detail .edit-overlay.hover {
  border-color: #7dc3e8;
}
.api-editor.light .editor-detail table tbody tr:hover {
  background-color: #efefef;
}
.api-editor.light .editor-master .editor-main {
  background-color: #eee;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.api-editor.light .editor-master .editor-main:hover {
  background-color: #d1eaf7;
}
.api-editor.light .editor-master .editor-main.selected {
  background-color: #a5d6ef;
}
.api-editor.light .editor-master .editor-search {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.api-editor.light .editor-master .editor-search input {
  background-color: #eee;
  color: #333;
}
.api-editor.light .editor-master .editor-validation.expanded {
  border-bottom: 1px solid #ddd;
}
.api-editor.light .editor-master .editor-validation.expanded .validation-problem.selected {
  background-color: #a5d6ef;
}
.api-editor.light .section .section-header {
  border-bottom: 1px dotted #ddd;
}
.api-editor.light .section .section-header a {
  color: #333;
}
.api-editor.light .editor-master .editor-outline .api-path {
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.api-editor.light .editor-master .editor-outline .api-path:hover {
  background-color: #d1eaf7;
}
.api-editor.light .editor-master .editor-outline .api-path.selected {
  background-color: #a5d6ef;
  border-left: 2px solid #39a5dc;
}
.api-editor.light .editor-master .editor-outline .api-path.contexted,
.api-editor .editor-master .editor-outline .api-path.contexted:hover {
  background-color: #FFCC87;
  border-left: 2px dotted #E89F3D;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label {
  -webkit-transition: border-color 350ms, box-shadow 350ms;
  -moz-transition: border-color 350ms, box-shadow 350ms;
  -ms-transition: border-color 350ms, box-shadow 350ms;
  -o-transition: border-color 350ms, box-shadow 350ms;
  transition: border-color 350ms, box-shadow 350ms;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label:hover {
  box-shadow: 0 0 3px #646464;
  border: 1px solid #666;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label.tree {
  border: 2px dashed #50A162;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label.bus {
  border: 2px dashed #B65B80;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label.bomb {
  border: 2px dashed #D94C4C;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label.university {
  border: 2px dashed #477187;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label.rocket {
  border: 2px dashed #D4786A;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label.taxi {
  border: 2px dashed #B10DC9;
}
.api-editor.light .editor-master .editor-outline .api-path.selected .label.selected {
  border: 1px solid black;
  box-shadow: 0 0 3px #141414;
}
.api-editor.light .editor-master .editor-outline .api-definition {
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.api-editor.light .editor-master .editor-outline .api-definition:hover {
  background-color: #d1eaf7;
}
.api-editor.light .editor-master .editor-outline .api-definition.selected {
  background-color: #a5d6ef;
  border-left: 2px solid #39a5dc;
}
.api-editor.light .editor-master .editor-outline .api-definition.contexted,
.api-editor .editor-master .editor-outline .api-definition.contexted:hover {
  background-color: #FFCC87;
  border-left: 2px dotted #E89F3D;
}
.api-editor.light .editor-master .editor-outline .api-response {
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.api-editor.light .editor-master .editor-outline .api-response:hover {
  background-color: #d1eaf7;
}
.api-editor.light .editor-master .editor-outline .api-response.selected {
  background-color: #a5d6ef;
  border-left: 2px solid #39a5dc;
}
.api-editor.light .editor-detail .detail-title {
  border-bottom: 1px solid #ddd;
}
.api-editor.light .editor-detail .detail-title .detail-actions {
  border-left: 1px solid #ddd;
}
.api-editor.light .editor-detail .detail-title .detail-actions .dropdown .btn {
  color: #333;
}
.api-editor.light .editor-detail .detail-title .detail-actions:hover {
  background-color: #d1eaf7;
}
.api-editor.light .editor-detail .detail-content .info-section .api-md-entry .md-label {
  color: #333;
}
.api-editor.light td.path-parameter,
.api-editor.light div.path-parameter,
.api-editor.light span.path-parameter {
  color: #ff6a7c;
}
.api-editor.light td.query-parameter,
.api-editor.light div.query-parameter,
.api-editor.light span.query-parameter {
  color: #39a5dc;
}
.api-editor.light div.statusCode.success {
  color: green;
}
.api-editor.light div.statusCode.redirect {
  color: blue;
}
.api-editor.light div.statusCode.problem {
  color: orange;
}
.api-editor.light div.statusCode.error {
  color: red;
}
.api-editor.light .api-operation-parameters td.icons,
.api-details table td.icons {
  color: #666;
}
.api-editor.light .editor-detail .api-path-detail .operations-section .api-operation {
  border-bottom: 1px solid #ddd;
}
.api-editor.light .editor-detail .api-path-detail .operations-section .api-operation .type .label {
  -webkit-transition: border-color 200ms, box-shadow 200ms;
  -moz-transition: border-color 200ms, box-shadow 200ms;
  -ms-transition: border-color 200ms, box-shadow 200ms;
  -o-transition: border-color 200ms, box-shadow 200ms;
  transition: border-color 200ms, box-shadow 200ms;
  box-shadow: none;
  border: 1px solid transparent;
}
.api-editor.light .editor-detail .api-path-detail .operations-section .api-operation .type .label:hover {
  border-color: #666;
  box-shadow: 0px 0px 8px #666;
}
.api-editor.light .editor-detail .api-path-detail .operations-section .api-operation .name.empty {
  color: #bbb;
}
.api-editor.light .editor-detail .api-path-detail .operations-section .api-operation.empty {
  color: #999;
}
.api-editor.light .editor-detail .api-path-detail .operations-section .api-operation.empty .type .label {
  background-color: #ccc;
  border-color: transparent;
  box-shadow: none;
}
.api-editor.light .editor-detail .api-path-detail .operations-section .api-operation.empty .type .label:hover {
  background-color: #ccc;
  border-color: transparent;
  box-shadow: none;
}
