<breadcrumbs [breadcrumbs]="[
    {
        label: 'Dashboard',
        icon: 'dashboard',
        route: [ '/' ]
    },
    {
        label: 'APIs',
        icon: 'search',
        route: [ '/apis' ]
    },
    {
        label: api.name,
        icon: 'bolt'
    }
]"></breadcrumbs>
<div class="container-fluid api-details">
    <div class="row-fluid">
        <!-- Left Column -->
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="container-fluid container-cards-pf api-editor-overview">
                <div class="row row-cards-pf">

                    <!-- Overview Information Card -->
                    <div class="">
                        <div class="card-pf card-pf-accented">
                            <div class="card-pf-heading">
                                <h1 class="card-pf-title">
                                    <span class="fa fa-fw fa-bolt api-deployed api-card-icon"></span>
                                    <span>{{ api.name }}</span>
                                    <div class="pull-right">
                                        <div class="dropdown dropdown-kebab-pf" style="display:inline;">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="true">
                                                <span class="fa fa-ellipsis-v"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
                                                <li>
                                                    <a href="#">
                                                        <span class="fa fa-fw fa-pencil"></span>
                                                        <span>Design</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="disabled" aria-disabled="true">
                                                        <span class="fa fa-fw fa-book"></span>
                                                        <span>Documentation</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="disabled" aria-disabled="true">
                                                        <span class="fa fa-fw fa-check-square-o"></span>
                                                        <span>Tests</span>
                                                    </a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <a href="#">
                                                        <span class="fa fa-fw fa-trash"></span>
                                                        <span>Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </h1>
                            </div>
                            <div class="card-pf-body">
                                <h3 class="api-description">{{ api.description }}</h3>
                                <div class="api-created-info">
                                    <div>
                                        <span class="fa fa-fw fa-clock-o"></span>
                                        <span>Created on <em>{{ api.createdOn | date }}</em></span>
                                    </div>
                                    <div *ngIf="api.createdBy">
                                        <span class="fa fa-fw fa-user"></span>
                                        <span>Created by <em>{{ api.createdBy }}</em></span>
                                    </div>
                                    <div>
                                        <span class="fa fa-fw fa-github"></span>
                                        <a class="api-resource-url-value" target="_blank"
                                           href="{{ getResourceUrlHref() }}">
                                            <span>{{ getResourceUrlLabel() }}</span>
                                            <span class="fa fa-external-link"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="api-action-buttons">
                                    <a href="#" class="btn btn-primary">Design API</a>
                                    <a href="#" class="btn btn-default pull-right disabled" aria-disabled="true">View Documentation</a>
                                    <a href="#" class="btn btn-default pull-right disabled" aria-disabled="true">Manage Tests</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cards-pf">
                    <div class="">
                        <div class="card-pf">
                            <div class="card-pf-heading">
                                <h2 style="height: 18px;" class="card-pf-title">Top Collaborators</h2>
                            </div>
                            <div class="card-pf-body">
                                <div class="api-data-loading" *ngIf="!dataLoaded['collaborators']">
                                    <p><span class="spinner spinner-xs spinner-inline"></span> Loading collaborators data...</p>
                                </div>
                                <div class="api-collaborators" *ngIf="dataLoaded['collaborators']">
                                    <div class="progress-container progress-description-left" *ngFor="let c of collaborators.collaborators">
                                        <div class="progress-description"><a href="{{ c.userUrl }}" target="_blank">{{ c.userName }}</a></div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" [style.width]="((c.numChanges / collaborators.totalChanges) * 100) + '%'">
                                                <span><strong>{{ c.numChanges }} of {{ collaborators.totalChanges }}</strong> commits</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>