.api-description {
  margin-top: 30px;
  margin-bottom: 25px;
}

.api-created-info {
  margin-left: 15px
}

.api-meta-data {
  margin-top: 15px
}

.api-meta-data label {
  text-decoration: underline;
}

.api-resource-url-value {
}

.api-action-buttons {
  margin-top: 20px
}

.api-action-buttons a.pull-right {
  margin-left: 10px;
}

.dropdown-menu a.disabled {
  cursor: not-allowed;
  color: #999;
}