<breadcrumbs>
    <li breadcrumb label="Dashboard" icon="dashboard" [route]="[ '/' ]"></li>
    <li breadcrumb label="APIs" icon="search" class="active"></li>
</breadcrumbs>
<div class="container-fluid api-list-apis">
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions" (submit)="filterApis()" #filterForm="ngForm">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>
                    <div class="input-group" style="width: 100%">
                        <input name="name-filter" [(ngModel)]="filters.nameFilter" type="text" class="form-control name-filter" id="filter" placeholder="Filter by name...">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-link" type="button" (click)="toggleSortDirection()">
                        <span *ngIf="filters.sortDirection === 'ASC'" class="fa fa-sort-alpha-asc"></span>
                        <span *ngIf="filters.sortDirection === 'DESC'" class="fa fa-sort-alpha-desc"></span>
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" type="button" [disabled]="selectedApis.length == 0" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" [routerLink]="['create']">Create New API</a>
                    <a class="btn btn-primary" [routerLink]="['add']">Add Existing API</a>
                </div>
                <div class="form-group toolbar-pf-view-selector">
                    <ul class="list-inline">
                        <li *ngIf="filters.layout === 'list'"><a (click)="onCardLayout()"><i class="fa fa-th-list"></i></a></li>
                        <li *ngIf="filters.layout === 'card'"><a (click)="onListLayout()"><i class="fa fa-th"></i></a></li>
                    </ul>
                </div>
            </form>
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>{{ filteredApis.length }} APIs found <a *ngIf="allApis.length != filteredApis.length"
                                                                class="clear-filters" (click)="clearFilters()">(out of {{ allApis.length }} total)</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row api-list-items">
        <div class="col-md-12">
            <apis-list *ngIf="filters.layout === 'list'" [apis]="filteredApis" [selectedApis]="selectedApis"
                       (onApiSelected)="onSelected($event)" (onApiDeselected)="onDeselected($event)"></apis-list>
            <apis-cards *ngIf="filters.layout === 'card'" [apis]="filteredApis" [selectedApis]="selectedApis"
                        (onApiSelected)="onSelected($event)" (onApiDeselected)="onDeselected($event)"></apis-cards>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="selectedApis.length === 1">Do you really want to delete the selected API?</p>
                <p *ngIf="selectedApis.length > 1">Do you really want to delete the <strong>{{ selectedApis.length }}</strong> selected APIs?</p>

                <div class="alert alert-info">
                    <span class="pficon pficon-info"></span>
                    <strong>NOTE:</strong>
                    <span>This will not delete the API definition file(s) from source control - only from APIMan Studio.</span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>