.toolbar-pf {
  margin-top: 5px;
}

.toolbar-pf form {
  margin-bottom: 0;
}

.toolbar-pf-results {
  margin-top: 0;
}

.api-list-items {
  margin-top: 10px
}

.api-list-apis .toolbar-pf {
  background-color: transparent;
}

.api-list-apis .toolbar-pf .toolbar-pf-results {
  background-color: white;
}

a.clear-filters {
  cursor: pointer;
}

.toolbar-pf-view-selector {
  float: right;
}

.toolbar-pf-view-selector li a {
  cursor: pointer;
  color: #333;
}

.toolbar-pf-view-selector li a:hover {
  color: #0088ce;
}
