.container-cards-pf {
  padding: 0;
  margin-top: 0;
}

.row-cards-pf {
  padding: 0;
}


.api-card-icon {
  border: 2px solid #39a5dc;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  width: 32px;
}

.api-card .api-card-title {
  font-size: 16px;
  font-weight: bold;
}

.api-card:hover {
  background-color: rgb(237, 237, 237);
}

.api-card.active {
  background-color: rgb(221, 234, 255);
}

.api-description {
  font-size: 13px;
  height: 75px;
  overflow-y: auto;
}
