<breadcrumbs [breadcrumbs]="[
    {
        label: 'Dashboard',
        icon: 'dashboard',
        route: [ '' ]
    },
    {
        label: 'APIs',
        icon: 'search'
    }
]"></breadcrumbs>
<div class="container-fluid api-list-apis">
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions" (submit)="filterApis()" #filterForm="ngForm">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>
                    <div class="input-group" style="width: 100%">
                        <input name="name-filter" [(ngModel)]="filters.nameFilter" type="text" class="form-control name-filter" id="filter" placeholder="Filter by name...">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-link" type="button" (click)="toggleSortDirection()">
                        <span *ngIf="filters.sortDirection === 'ASC'" class="fa fa-sort-alpha-asc"></span>
                        <span *ngIf="filters.sortDirection === 'DESC'" class="fa fa-sort-alpha-desc"></span>
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" type="button" [disabled]="selectedApis.length == 0" (click)="onDelete()">Delete</button>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" [routerLink]="['newapi']">New API</a>
                </div>
                <div class="form-group toolbar-pf-view-selector">
                    <ul class="list-inline">
                        <li *ngIf="filters.layout === 'list'"><a (click)="onCardLayout()"><i class="fa fa-th-list"></i></a></li>
                        <li *ngIf="filters.layout === 'card'"><a (click)="onListLayout()"><i class="fa fa-th"></i></a></li>
                    </ul>
                </div>
            </form>
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>{{ filteredApis.length }} APIs found <a *ngIf="allApis.length != filteredApis.length"
                                                                class="clear-filters" (click)="clearFilters()">(out of {{ allApis.length }} total)</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row api-list-items">
        <div class="col-md-12">
            <apis-list *ngIf="filters.layout === 'list'" [apis]="filteredApis" (onApisSelected)="onSelected($event)"></apis-list>
            <apis-cards *ngIf="filters.layout === 'card'" [apis]="filteredApis" (onApisSelected)="onSelected($event)"></apis-cards>
        </div>
    </div>
</div>