<breadcrumbs [breadcrumbs]="[
    {
        label: 'Dashboard',
        icon: 'dashboard',
        route: [ '' ]
    },
    {
        label: 'APIs',
        icon: 'search',
        route: [ '/apis' ]
    },
    {
        label: 'New API',
        icon: 'plus'
    }
]"></breadcrumbs>
<div class="container-fluid">
    <div class="newapi-form row">
        <div class="form-instructions col-md-3">
            <ol>
                <li>Choose a name (<b>Required</b>)</li>
                <li>Set the description</li>
                <li>Configure repository details (<b>Required</b>)</li>
            </ol>
        </div>
        <div class="col-md-7">
            <div class="alert alert-info">
                <span class="pficon pficon-info"></span>
                <strong>NOTE:</strong>
                <span>Try to drag and drop the API definition resource URL from your source control site (e.g. github) into the box below!</span>
            </div>
            <newapi-form (onCreateApi)="onCreateApi($event)" #newApiForm></newapi-form>
        </div>
    </div>
</div>