<breadcrumbs [breadcrumbs]="[
    {
        label: 'Dashboard',
        icon: 'dashboard',
        route: [ '' ]
    },
    {
        label: 'New API',
        icon: 'plus'
    }
]"></breadcrumbs>
<div class="container-fluid">
    <div class="row" style="padding: 15px">
        <div class="col-md-3" style="font-size: 15px; padding-top: 10px">
            <ol>
                <li>Choose a name (<b>Required</b>)</li>
                <li>Set the description</li>
                <li>Configure repository details (<b>Required</b>)</li>
            </ol>
        </div>
        <div class="col-md-7">

            <div class="panel panel-default">
                <div class="panel-body" style="padding-top: 25px">
                    <newapi-form (onCreateApi)="onCreateApi($event)" #newApiForm></newapi-form>
                </div>
            </div>

        </div>
    </div>
</div>