.metric {
  border: 1px solid transparent;
  position: relative;
}

.metric .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f5f5f5;
}
.metric .header:hover {
  background-color: #edf8ff;
}

.metric .header .name {
  flex-basis: 30%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
}
.metric .header .name > span {
  font-weight: 600;
  color: #336;
}

.metric .header .increment {
  flex-basis: 60%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.metric .header .actions {
  flex-basis: 10%;
  text-align: right;
}
