<div class="content" *ngIf="hasMediaTypes()">
    <ul class="nav nav-tabs">
        <li *ngFor="let mtName of mediaTypeNames()" [class.active]="mtName === mediaTypeName">
            <a (click)="selectMediaType(mtName)">
                <span>{{ mtName }}</span>
                <button style="margin-left: 5px" class="btn btn-xs btn-default" (click)="removeMediaType(mtName)"><span class="pficon pficon-delete"></span></button>
            </a>
        </li>

        <button class="btn btn-sm btn-default pull-right" (click)="addMediaTypeDialog.open()"
                title="Add a new media type."><span class="fa fa-plus"></span></button>
        <button class="btn btn-sm btn-default pull-right" (click)="deleteAllMediaTypes()"
                title="Delete all media types."><span class="pficon pficon-delete"></span></button>

    </ul>
    <div class="panel panel-default tab-panel">
        <div class="panel-body">

            <div class="media-type">
                <span class="strong">Type:</span>
                <drop-down [id]="'api-media-type-type'"
                           [value]="mediaTypeType()"
                           [options]="mediaTypeTypeOptions()"
                           (onValueChange)="changeMediaTypeType($event)"
                           [noSelectionLabel]="'Choose Type'"></drop-down>
                <span *ngIf="shouldShowMediaTypeTypeOf()">of</span>
                <drop-down *ngIf="shouldShowMediaTypeTypeOf()"
                           [id]="'api-media-type-type-of'"
                           [value]="mediaTypeTypeOf()"
                           [options]="mediaTypeTypeOfOptions()"
                           (onValueChange)="changeMediaTypeTypeOf($event)"
                           [noSelectionLabel]="'Choose Type'"></drop-down>
                <span *ngIf="shouldShowMediaTypeTypeAs()">as</span>
                <drop-down *ngIf="shouldShowMediaTypeTypeAs()"
                           [id]="'api-media-type-type-as'"
                           [value]="mediaTypeTypeAs()"
                           [options]="mediaTypeTypeAsOptions()"
                           (onValueChange)="changeMediaTypeTypeAs($event)"
                           [noSelectionLabel]="'(optional) Format'"></drop-down>
            </div>

            <div class="examples">
                <table *ngIf="mediaTypeHasExamples()" class="table table-striped table-bordered table-examples">
                    <thead>
                    <tr>
                        <th colspan="4">Examples</th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Summary</th>
                        <th class="pre-actions">Description</th>
                        <th class="actions"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let example of mediaTypeExamples()">
                        <td class="name">
                            <span>{{ example.name() }}</span>
                        </td>
                        <td class="summary">
                            <inline-text-editor [noValueMessage]="'No Summary'" [topIncrement]="2"
                                                (onChange)="changeExampleSummary(example, $event)"
                                                [value]="example.summary"></inline-text-editor>
                        </td>
                        <td class="description pre-actions">
                            <inline-text-editor [noValueMessage]="'No Description'" [topIncrement]="2"
                                                (onChange)="changeExampleDescription(example, $event)"
                                                [value]="example.description"></inline-text-editor>
                        </td>
                        <td class="actions">
                            <div>
                                <button class="btn btn-sm btn-default pull-right" (click)="deleteExample(example)"
                                        type="button" title="Delete example."><span class="pficon pficon-delete"></span></button>
                                <button class="btn btn-sm btn-default pull-right" (click)="editExampleDialog.open(example)"
                                        type="button" title="Edit example."><span class="pficon pficon-edit"></span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a (click)="addExampleDialog.open()">Add an example</a>
            </div>

        </div>
    </div>
</div>

<div class="content" *ngIf="!hasMediaTypes()">
    <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>No Media Types</strong>
        <span>You must define and then configure at least one media type.</span>
        <button class="btn btn-primary btn-sm pull-right" (click)="addMediaTypeDialog.open()">Add Media Type</button>
    </div>
</div>

<add-media-type-dialog #addMediaTypeDialog (onAdd)="addMediaType($event)"></add-media-type-dialog>
<add-example-dialog #addExampleDialog (onAdd)="addExample($event)"></add-example-dialog>
<edit-example-dialog #editExampleDialog (onEdit)="editExample($event)"></edit-example-dialog>