<div class="row parameter typed-item" [class.required]="isRequired()" [class.editing]="isEditing()" [class.missing]="isMissing()"
     [class.override]="isOverride()" [class.overridable]="isOverridable()">

    <div class="col-md-6 metainfo">
        <div class="parameter {{ parameterClass }} name">
            <a class="typed-item-icon" *ngIf="isOverride()" title="Overrides a parameter defined at the Path level."><span class="fa fa-arrow-circle-up"></span></a>
            <validation-problem [model]="param"></validation-problem>
            <span>{{ param.name }}</span>
        </div>
        <div class="description" *ngIf="isExists()"><inline-text-editor
                                                          [noValueMessage]="'No description.'"
                                                          (onChange)="setDescription($event)"
                                                          [topIncrement]="2"
                                                          [value]="paramDescription()"></inline-text-editor></div>
        <div class="description" *ngIf="isOverridable()">{{ paramDescription() }}</div>
        <div class="description" *ngIf="isMissing()">(Parameter not defined)</div>
    </div>
    <div class="col-md-4 type">
        <schema-type *ngIf="!isMissing()" [type]="displayType()"></schema-type>
    </div>
    <div class="col-md-2 actions">
        <button *ngIf="isMissing()" type="button" class="btn btn-xs btn-primary"
                title="The 'path' parameter is required but not declared.  Create it now."
                (click)="create()"><span class="fa fa-fw fa-plus"></span><span class="btn-label">Create</span></button>
        <button *ngIf="isOverridable()" type="button" class="btn btn-xs btn-default"
                title="Parameter defined at the Path level, override it to provide operation-specific details."
                (click)="create()"><span class="fa fa-fw fa-plus"></span><span class="btn-label">Override</span></button>
        <button *ngIf="isExists()" type="button" class="btn btn-xs btn-default" (click)="edit()"><span class="fa fa-fw fa-pencil"></span><span class="btn-label">Edit</span></button>
        <button *ngIf="isExists()" type="button" class="btn btn-xs btn-default" (click)="delete()"><span class="fa fa-fw fa-trash"></span><span class="btn-label">Delete</span></button>
    </div>
</div>
<div class="row parameter-type type-row" *ngIf="isEditing()" (window:keydown)="onGlobalKeyDown($event)">
    <form  class="form-horizontal">
        <div class="col-md-12">
            <div class="form-group" *ngIf="!isPathParam()">
                <label class="col-sm-2 control-label">Parameter is</label>
                <div class="col-sm-8 api-parameter-required">
                    <drop-down [id]="'api-request-parameter-required'"
                               [value]="required()"
                               [options]="requiredOptions()"
                               (onValueChange)="changeRequired($event)"
                               [noSelectionLabel]="'Not Required'"></drop-down>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="parameterType">Type</label>
                <div class="col-sm-8">
                    <drop-down id="parameterType" [value]="type()" [options]="typeOptions()" (onValueChange)="changeType($event)" [noSelectionLabel]="'Choose Type'"></drop-down>
                </div>
            </div>
            <div class="form-group" *ngIf="model.type === 'array'">
                <label class="col-sm-2 control-label" for="parameterTypeOf">of</label>
                <div class="col-sm-8">
                    <drop-down id="parameterTypeOf" [value]="typeOf()" [options]="typeOfOptions()" (onValueChange)="changeTypeOf($event)" [noSelectionLabel]="'Choose Type'"></drop-down>
                </div>
            </div>
            <div class="form-group" *ngIf="shouldShowFormattedAs()">
                <label class="col-sm-2 control-label" for="parameterTypeFormat">formatted as</label>
                <div class="col-sm-8">
                    <drop-down id="parameterTypeFormat" [value]="typeAs()" [options]="typeAsOptions()" (onValueChange)="changeTypeAs($event)" [noSelectionLabel]="'Choose Format'"></drop-down>
                </div>
            </div>
            <div class="form-group form-group-actions">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!isValid()">OK</button>
                    <button type="button" class="btn btn-sm btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </form>
</div>