<div class="response" [class.expanded]="isEditing()">
    <div class="header">
        <div class="expand">
            <!--<span class="fa fa-angle-right" [class.fa-angle-down]="isEditing()"></span>-->
        </div>
        <div class="statusCode name {{ statusCodeType(response.statusCode()) }}">
            <validation-problem [model]="response"></validation-problem>
            <span>{{ response.statusCode() }}</span>
            <span>{{ statusCodeLine(response.statusCode()) }}</span>
        </div>
        <div class="description" (click)="toggleDescription()" [class.selected]="isEditingDescription()">
            <span class="fa fa-angle-right" [class.fa-angle-down]="isEditingDescription()"></span>
            <span>{{ description() }}</span>
        </div>
        <div class="summary" (click)="toggleSummary()" [class.selected]="isEditingSummary()">
            <span class="fa fa-angle-right" [class.fa-angle-down]="isEditingSummary()"></span>
            <span>{{ responseTypeInfo() }}</span>
        </div>
        <div class="actions">
            <div class="dropdown dropdown-kebab-pf">
                <button class="btn btn-link dropdown-toggle" type="button" (click)="$event.preventDefault()"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="fa fa-ellipsis-v"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a (click)="renameResponse()"><span class="fa fa-fw fa-pencil-square-o"></span><span>Rename</span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a (click)="delete()"><span class="fa fa-fw fa-trash"></span><span>Remove</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body" *ngIf="isEditing()">
        <div class="close">
            <span class="pficon pficon-close" (click)="cancel()"></span>
        </div>
        <div class="content container-fluid">
            <form  class="form-horizontal">
                <div class="col-md-11">
                    <div class="response-description" *ngIf="isEditingDescription()">
                        <div class="form-label">Description</div>
                        <inline-textarea-editor [value]="response.description" [noValueMessage]="'No description.'"
                                                (onChange)="setDescription($event)"></inline-textarea-editor>
                    </div>
                    <div class="response-content" *ngIf="isEditingSummary()">
                        <content [content]="response.content"
                                 [document]="response.ownerDocument()"
                                 (onNewMediaType)="createResponseMediaType($event)"
                                 (onMediaTypeChange)="changeResponseMediaType($event)"
                                 (onAddExample)="addMediaTypeExample($event)"
                                 (onDeleteExample)="deleteMediaTypeExample($event)"
                                 (onExampleSummaryChange)="changeMediaTypeExampleSummary($event)"
                                 (onExampleDescriptionChange)="changeMediaTypeExampleDescription($event)"
                                 (onExampleValueChange)="changeMediaTypeExampleValue($event)"
                                 (onRemoveMediaType)="deleteResponseMediaType($event)"></content>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
