.response {
  border: 1px solid transparent;
}
.response.expanded {
  border: 1px solid #bbb;
  box-shadow: 0 2px 6px rgba(3,3,3,.2);
}

.response .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f5f5f5;
}
.response .header:hover {
  background-color: #edf8ff;
  cursor: pointer;
}
.response.expanded .header {
  border-bottom: solid 1px #bbb;
  background-color: #def3ff;
}

.response .header .expand {
  flex-basis: 1%;
}
.response .header .statusCode {
  flex-basis: 12%;
}
.response .header .description {
  flex-basis: 44%;
}
.response .header .description:hover {
  color: #0088ce;
  cursor: pointer;
}
.response .header .summary {
  flex-basis: 41%;
}
.response .header .summary:hover {
  color: #0088ce;
  cursor: pointer;
}
.response .header .actions {
  flex-basis: 2%;
  text-align: center;
}

.response .header > .selected {
  margin-bottom: -4px;
  border-bottom: 2px solid #0088ce;
  color: #0088ce;
}

.response .body {
  position: relative;
  padding: 15px;
}
.response .body .close {
  position: absolute;
  right: 10px;
  top: 5px;
}

.response .body .response-description form {
  width: 100%;
}