<div class="row response typed-item" [class.editing]="isEditing()">
    <div class="col-md-6 metainfo">
        <div class="statusCode name {{ statusCodeType(response.statusCode()) }}">
            <validation-problem [model]="response"></validation-problem>
            <span>{{ response.statusCode() }}</span>
            <span>{{ statusCodeLine(response.statusCode()) }}</span>
        </div>
        <div class="description"><inline-text-editor [noValueMessage]="'No description.'"
                                                     (onChange)="setDescription($event)"
                                                     [value]="response.description"></inline-text-editor></div>
    </div>
    <div class="col-md-4 type">
        <span>{{ responseTypeInfo() }}</span>
    </div>
    <div class="col-md-2 actions">
        <button type="button" class="btn btn-xs btn-default" (click)="edit()"><span class="fa fa-fw fa-pencil"></span><span class="btn-label">Edit</span></button>
        <button type="button" class="btn btn-xs btn-default" (click)="delete()"><span class="fa fa-fw fa-trash"></span><span class="btn-label">Delete</span></button>
    </div>
</div>
<div class="row response-type type-row" *ngIf="isEditing()" (window:keydown)="onGlobalKeyDown($event)">
    <form  class="form-horizontal">
        <div class="col-md-12">
            <div class="response-content">
                <content [content]="response.content"
                         [document]="response.ownerDocument()"
                         (onNewMediaType)="createResponseMediaType($event)"
                         (onMediaTypeChange)="changeResponseMediaType($event)"
                         (onAddExample)="addMediaTypeExample($event)"
                         (onDeleteExample)="deleteMediaTypeExample($event)"
                         (onExampleSummaryChange)="changeMediaTypeExampleSummary($event)"
                         (onExampleDescriptionChange)="changeMediaTypeExampleDescription($event)"
                         (onExampleValueChange)="changeMediaTypeExampleValue($event)"
                         (onRemoveMediaType)="deleteResponseMediaType($event)"></content>
            </div>
            <div class="form-group form-group-actions">
                <button type="button" class="btn btn-sm btn-default" (click)="cancel()">Done</button>
            </div>
        </div>
    </form>
</div>
