<div class="editor-master">
    <!-- Path Context Menu -->
    <ul id="path-context-menu" class="dropdown-menu context-menu" *ngIf="contextMenuType === 'path'"
        [style.left]="contextMenuPos.left" [style.top]="contextMenuPos.top">
        <li>
            <a href="#" onclick="return false" (click)="newPath()">
                <span class="pficon pficon-add-circle-o"></span>
                <span>New Sub-Path</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false" (click)="renamePath()">
                <span class="fa fa-pencil-square-o"></span>
                <span>Rename Path</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false" (click)="clonePath()">
                <span class="fa fa-clone"></span>
                <span>Clone Path</span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" onclick="return false" (click)="deletePath()">
                <span class="pficon pficon-delete"></span>
                <span>Delete Path</span>
            </a>
        </li>
    </ul>

    <!-- Operation Context Menu -->
    <ul id="operation-context-menu" class="dropdown-menu context-menu" *ngIf="contextMenuType === 'operation'"
        [style.left]="contextMenuPos.left" [style.top]="contextMenuPos.top">
        <li>
            <a href="#" onclick="return false" (click)="deleteOperation()">
                <span class="pficon pficon-delete"></span>
                <span>Delete Operation</span>
            </a>
        </li>
    </ul>

    <!-- Data Type Context Menu -->
    <ul id="definition-context-menu" class="dropdown-menu context-menu" *ngIf="contextMenuType === 'definition'"
        [style.left]="contextMenuPos.left" [style.top]="contextMenuPos.top">
        <li>
            <a href="#" onclick="return false" (click)="renameDefinition()">
                <span class="fa fa-pencil-square-o"></span>
                <span>Rename Data Type</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false" (click)="cloneDefinition()">
                <span class="fa fa-clone"></span>
                <span>Clone Data Type</span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" onclick="return false" (click)="deleteDefinition()">
                <span class="pficon pficon-delete"></span>
                <span>Delete Data Type</span>
            </a>
        </li>
    </ul>

    <!-- Search - Used to Filter Paths and Data Type -->
    <div class="editor-search">
        <search [placeholder]="'Search everything...'" [searchId]="'masterSearch'" (onSearch)="filterAll($event)"></search>
    </div>

    <!-- Outline - Paths, Data Type, Responses -->
    <div class="editor-outline">
        <!-- Paths Section -->
        <div class="section path-section panel-group">
            <div class="section-header panel-title">
                <a data-toggle="collapse" data-target="#path-section-body">
                    <span class="section-label">Paths</span>
                </a>
                <context-help>
                    <p>
                        The core of any REST API is the set of resources/paths it exposes.  Each path is of
                        the form <strong>/path/to/resource</strong> and can support a number of operations such
                        as <strong>GET</strong>, <strong>POST</strong>, and <strong>DELETE</strong>.
                    </p>
                    <br>
                    <p>
                        Note that paths can have parameters, which are defined using bracket syntax, like this:
                    </p>
                    <pre>/root/resources/<span class="path-param">{{ '{' }}resourceId}</span>/subresource/<span class="path-param">{{ '{' }}subresourceId}</span></pre>
                    <p>
                        The result is a path with two dynamic components: <strong>resourceId</strong> and <strong>subresourceId</strong>.
                    </p>
                </context-help>
                <icon-button (onClick)="addPathDialog.open(document, getCurrentPathSelection())" [pullRight]="true" [type]="'add'"></icon-button>
            </div>
            <div class="section-body collapse in" id="path-section-body">
                <div class="api-path {{ pathClasses(path) }}" *ngFor="let path of paths()">
                    <validation-aggregate [models]="[path]"></validation-aggregate>
                    <div path-item [path]="path.path()" (click)="selectPath(path)" (contextmenu)="showPathContextMenu($event, path)"></div>
                    <div class="api-operations" *ngIf="isSelected(path) && hasAtLeastOneOperation(path)">
                        <span *ngIf="hasOperation(path, 'get')" class="label label-success {{ operationClasses(path.get) }}" (click)="selectOperation(path.get)"
                              (contextmenu)="showOperationContextMenu($event, path.get)"><validation-aggregate [models]="[path.get]"></validation-aggregate><span>GET</span></span>
                        <span *ngIf="hasOperation(path, 'put')" class="label label-info {{ operationClasses(path.put) }}" (click)="selectOperation(path.put)"
                              (contextmenu)="showOperationContextMenu($event, path.put)"><validation-aggregate [models]="[path.put]"></validation-aggregate><span>PUT</span></span>
                        <span *ngIf="hasOperation(path, 'post')" class="label label-warning {{ operationClasses(path.post) }}" (click)="selectOperation(path.post)"
                              (contextmenu)="showOperationContextMenu($event, path.post)"><validation-aggregate [models]="[path.post]"></validation-aggregate><span>POST</span></span>
                        <span *ngIf="hasOperation(path, 'delete')" class="label label-danger {{ operationClasses(path.delete) }}" (click)="selectOperation(path.delete)"
                              (contextmenu)="showOperationContextMenu($event, path.delete)"><validation-aggregate [models]="[path.delete]"></validation-aggregate><span>DELETE</span></span>
                        <span *ngIf="hasOperation(path, 'options')" class="label label-info {{ operationClasses(path.options) }}" (click)="selectOperation(path.options)"
                              (contextmenu)="showOperationContextMenu($event, path.options)"><validation-aggregate [models]="[path.options]"></validation-aggregate><span>OPTIONS</span></span>
                        <span *ngIf="hasOperation(path, 'head')" class="label label-info {{ operationClasses(path.head) }}" (click)="selectOperation(path.head)"
                              (contextmenu)="showOperationContextMenu($event, path.head)"><validation-aggregate [models]="[path.head]"></validation-aggregate><span>HEAD</span></span>
                        <span *ngIf="hasOperation(path, 'patch')" class="label label-info {{ operationClasses(path.patch) }}" (click)="selectOperation(path.patch)"
                              (contextmenu)="showOperationContextMenu($event, path.patch)"><validation-aggregate [models]="[path.patch]"></validation-aggregate><span>PATCH</span></span>
                        <span *ngIf="hasOperation(path, 'trace')" class="label label-info {{ operationClasses(path['trace']) }}" (click)="selectOperation(path['trace'])"
                              (contextmenu)="showOperationContextMenu($event, path['trace'])"><validation-aggregate [models]="[path['trace']]"></validation-aggregate><span>TRACE</span></span>
                        <span>&nbsp;</span>
                    </div>
                </div>

                <signpost *ngIf="paths().length === 0">
                    <span>No paths have been created.</span>
                    <a (click)="addPathDialog.open(document, '/')">Add a path</a>
                </signpost>
            </div>
        </div>

        <!-- Data Types Section -->
        <div class="section definition-section panel-group">
            <div class="section-header panel-title">
                <a data-toggle="collapse" data-target="#definition-section-body">
                    <span class="section-label">Data Types</span>
                </a>
                <context-help>
                    <p>
                        It is often necessary for many operations to return the same type of data
                        (or a list of that same data type).  Rather than define the same data type
                        multiple times within each operation, you can create named Data Types
                        in this section.  These can then be referenced in the <strong>Request Body</strong>
                        and also <strong>Responses</strong> of any Operation in the API.
                    </p>
                </context-help>
                <icon-button (onClick)="openAddDefinitionEditor()" [pullRight]="true" [type]="'add'"></icon-button>
            </div>
            <div class="section-body collapse in" id="definition-section-body">
                <div definition-item *ngFor="let def of definitions()" class="api-definition {{ definitionClasses(def) }}" [schema]="def"
                     (click)="selectDefinition(def)" (contextmenu)="showDefinitionContextMenu($event, def)"></div>

                <signpost *ngIf="definitions().length === 0">
                    <span>No reusable types have been created.</span>
                    <a (click)="openAddDefinitionEditor()">Add a data type</a>
                </signpost>
            </div>
        </div>

        <!-- Responses Section -->
        <!--
        <div class="section response-section panel-group">
            <div class="section-header panel-title">
                <a class="collapsed" data-toggle="collapse" data-target="#response-section-body">
                    <span class="section-label">Responses</span>
                </a>
                <icon-button (onClick)="" [pullRight]="true" [type]="'add'"></icon-button>
            </div>
            <div class="section-body collapse" id="response-section-body">
                <div response-item class="api-response" *ngFor="let responseName of responseNames()" [name]="responseName"
                     (click)="selectResponse(responseName)"
                     [class.selected]="selectedItem === responseName && selectedType === 'response'"></div>
                <div class="alert alert-info" *ngIf="responseNames().length === 0">
                    <span class="pficon pficon-info"></span>
                    <strong>None Found</strong>
                    <span>Share responses across paths.</span>
                    <span>&nbsp;</span>
                    <button class="btn btn-xs btn-default pull-right" style="margin-top: 0px">Add Now</button>
                </div>
            </div>
        </div>
        -->
    </div>

    <!-- Dialogs -->
    <add-path-dialog #addPathDialog (onAdd)="addPath($event)"></add-path-dialog>
    <clone-path-dialog #clonePathDialog (onClone)="clonePath($event)"></clone-path-dialog>
    <!--<add-definition-dialog #addDefinitionDialog (onAdd)="addDefinition($event)"></add-definition-dialog>-->
    <clone-definition-dialog #cloneDefinitionDialog (onClone)="cloneDefinition($event)"></clone-definition-dialog>
    <rename-definition-dialog #renameDefinitionDialog (onRename)="renameDefinition($event)"></rename-definition-dialog>
    <rename-path-dialog #renamePathDialog (onRename)="renamePath($event)"></rename-path-dialog>
</div>
