.editor-master .editor-outline .master-entity-list {
  border: 1px solid transparent;
}
.editor-master .editor-outline .master-entity-list:focus {
  outline: none;
}

.editor-master .editor-outline .section-body .collaborator-aggregate {
  position: absolute;
  top: -1px;
  right: 24px;
}
