<div class="editor-problem-drawer">
    <div class="drawer-pf drawer-pf-notifications-non-clickable">
        <div class="drawer-pf-title">
            <a class="drawer-pf-close pficon pficon-close" (click)="close.emit(true)"></a>
            <a title="Customize validation settings for this API..." class="drawer-pf-settings pficon pficon-settings"
               *ngIf="showValidationSettings()"
               (click)="onConfigureValidation.emit()"></a>
            <h3 class="text-center">Validation Problems</h3>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="drawer-pf-notification" *ngFor="let error of validationErrors">
                        <span class="pficon {{ iconFor(error) }} pull-left" title="{{ error.errorCode }}"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">{{ summaryFor(error) }}</span>
                            <div class="drawer-pf-notification-info">
                                <div class="explanation">{{ explanationFor(error) }}</div>
                                <a (click)="goTo(error)">Go to problem</a>
                            </div>
                        </div>
                    </div>
                    <div class="blank-slate-pf" *ngIf="!hasProblems()">
                        <div class="blank-slate-pf-icon">
                            <span class="pficon-info"></span>
                        </div>
                        <h1>There are no problems to display.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
