.drawer-pf-settings {
    left: 0;
    color: #252525;
    cursor: pointer;
    line-height: inherit;
    padding: 2px 10px;
    position: absolute;
    text-decoration: none;
}

.drawer-pf-settings:hover {
    text-decoration: none;
}