
.navbar {
  height: 48px;
}
.navbar .navbar-header {
  height: 45px;
  border-bottom-color: black;
}

.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand .navbar-brand-logo {
  line-height: 45px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #DCD7D7;
  padding-left: 40px;
  background-image: url('../../assets/apicurio_logo_darkbkg_200px.png');
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-size: 160px;
  text-indent: -5000px;
  width: 220px;
}
.navbar .navbar-brand .navbar-brand-logo:hover {
  color: rgb(203, 37, 38);
}

.navbar a.dropdown-toggle {
  height: 45px;
  line-height: 34px;
  font-size: 13px;
  vertical-align: middle;
}
.navbar a.dropdown-toggle .pficon {
  position: initial;
}

.navbar .dropdown-menu a {
  cursor: pointer;
}
.navbar .dropdown-menu a.disabled {
  cursor: not-allowed;
  color: #999;
}

.product-versions-pf table tr td {
  color: white;
  font-size: 13px;
  padding-right: 10px;
}

.about-title {
  font-size: 32px;
  font-weight: 600;
}
