div.artifact-page-tabs > ul > li.pf-c-tabs__item.pf-m-current > button.pf-c-tabs__button::before {
    border-bottom-color: transparent;
}

.group-details-main-content {
    display: flex;
    flex-direction: row;
}

.group-details-main-content .group-basics {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    margin-right: 15px;
}

.group-details-main-content .artifacts-toolbar-and-table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}
