.template-editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #f5f5f5;
  z-index: 5;
  padding-left: 50px;
  padding-top: 20px;
}

.template-editor .panel-body > h1 {
  margin-top: 10px;
}
