.url-upload .url-upload-flex {
    display: flex;
}

.url-upload .url-upload-flex .url-upload-url {
    flex-grow: 1;
}

.url-upload .url-upload-flex .url-upload-button {
}

.url-upload .url-upload-preview textarea {
    min-height: 128px;
}

.url-upload .url-upload-preview .url-upload-loading, .url-upload .url-upload-preview .url-upload-error {
    padding: 5px;
    min-height: 128px;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #666;
    background-color: rgb(240, 240, 240);
}
.url-upload .url-upload-preview .url-upload-error {
    color: red;
    overflow: auto;
}

.url-upload .url-upload-preview .url-upload-loading .spinner {
    margin-right: 5px;
}
