.artifact-list {
}

.artifact-list .artifact-list-item {
    background-color: white;
    margin-bottom: 2px;
}

.artifact-list .artifact-list-item .type-icon-cell {
    flex: initial;
}

.artifact-list .artifact-list-item .type-icon-cell > .type-icon {
    margin-top: 5px;
}

.artifact-list .artifact-list-item .content-cell {
}

.artifact-list .artifact-list-item .content-cell .artifact-title {
}

.artifact-list .artifact-list-item .content-cell .artifact-title a, .artifact-list .artifact-list-item .content-cell .artifact-title a:hover {
    text-decoration: none;
}

.artifact-list .artifact-list-item .content-cell .artifact-title .group {
    color: #2b9af3;
    font-weight: bold;
}
.artifact-list .artifact-list-item .content-cell .artifact-title .group::after {
    color: #9c9c9c;
    content: "/";
    font-size: 11px;
    padding: 0 5px 0 5px;
    line-height: 12px;
}

.artifact-list .artifact-list-item .content-cell .artifact-title .nogroup {
    display: none;
}

.artifact-list .artifact-list-item .content-cell .artifact-title .id {
    color: #2b9af3;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}
.artifact-list .artifact-list-item .content-cell .artifact-title .name::before {
    content: '(';
}
.artifact-list .artifact-list-item .content-cell .artifact-title .name {
    color: #2b9af3;
    font-weight: bold;
    font-size: 16px;
}
.artifact-list .artifact-list-item .content-cell .artifact-title .name::after {
    content: ')';
}

.artifact-list .artifact-list-item .content-cell .artifact-title .status-badge {
    margin-left: 10px;
    border: 1px solid #ccc;
}

.artifact-list .artifact-list-item .content-cell .artifact-description {
    font-size: 13px;
}

.artifact-list .artifact-list-item .content-cell .artifact-tags {
}

.artifact-list .artifact-list-item .content-cell .artifact-tags > span {
    margin-right: 5px;
}
