<section type="info" label="INFO"
         contextHelp="This section allows you to modify the Description of the Data Type."
         [collaborationNodePath]="definitionInfoPaths()"
         [validationModels]="[definition]" [validationProperties]="['description']" [validationShallow]="true">
    <span actions></span>
    <div body>
        <!-- Description -->
        <div class="section-field-label">
            <validation-problem [model]="definition" property="description" [shallow]="true"></validation-problem>
            <span>Description</span>
        </div>
        <div class="section-field description">
            <inline-markdown-editor [value]="description()"
                                    [labelClass]="'api-definition-description api-item-description'"
                                    [formClass]="'api-definition-description-editor-form'"
                                    [inputClass]="'api-item-editor api-description-editor api-definition-description api-item-description'"
                                    [baseNode]="definition" nodePath="description"
                                    [noValueMessage]="'No description.'" (onChange)="onDescriptionChange($event)"></inline-markdown-editor>
        </div>

        <!-- Type -->
        <div class="section-field type" *ngIf="isObject()">
            <div>This data type is currently a complex object.</div>
            <a (click)="switchToSimpleType()">Switch to simple type</a>
        </div>
        <div class="section-field type" *ngIf="!isObject()">
            <div>This data type is currently a simple type.</div>
            <a (click)="switchToObject()">Switch to complex (object) type</a>
        </div>

    </div>
</section>
