
.properties-config {
    border-bottom: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
    margin-top: -6px;
    border-right: 1px dotted #ccc;
    box-shadow: 0px 2px 3px rgba(3,3,3,.2);
    padding: 5px 25px;
}
