<div class="row response typed-item" [class.editing]="isEditing()">
    <div class="col-md-6 metainfo">
        <div class="statusCode name {{ statusCodeType(response.statusCode()) }}">{{ response.statusCode() }} {{ statusCodeLine(response.statusCode()) }}</div>
        <div class="description"><inline-text-editor [noValueMessage]="'No description.'"
                                                     (onChange)="setDescription($event)"
                                                     [value]="response.description"></inline-text-editor></div>
    </div>
    <div class="col-md-4 type">

    </div>
    <div class="col-md-2 actions">
        <button type="button" class="btn btn-xs btn-default" (click)="edit()"><span class="fa fa-fw fa-pencil"></span><span class="btn-label">Edit</span></button>
        <button type="button" class="btn btn-xs btn-default" (click)="delete()"><span class="fa fa-fw fa-trash"></span><span class="btn-label">Delete</span></button>
    </div>
</div>
<div class="row response-type type-row" *ngIf="isEditing()" (window:keydown)="onGlobalKeyDown($event)">
    <form  class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group form-group-actions">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!isValid()">OK</button>
                    <button type="button" class="btn btn-sm btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </form>
</div>
<div class="type-editor-shade" *ngIf="isEditing()" (click)="cancel()">
</div>
