<span *ngIf="editing !== true" class="inline-editor-label inline-type-editor-label api-item-type {{ labelClass }}" [class.empty]="isEmpty()"
      (mouseenter)="onMouseIn($event)" (mouseleave)="onMouseOut()">{{ displayValue() }}</span>
<div class="hover-overlay" *ngIf="hovering" [style.top]="hoverTop()" [style.left]="hoverLeft()"
         [style.width]="hoverWidth()" [style.height]="hoverHeight()" (mouseleave)="onOverlayOut()"
         title="Click to edit" (click)="onStartEditing()">
    <div class="overlay-area"></div>
    <div class="overlay-actions">
        <button title="Click to edit the type." class="overlay-action" (click)="onStartEditing()"><span class="fa fa-pencil"></span></button>
    </div>
</div>
<span #clickcontainer>
    <div class="dropdown" dropdown (onToggle)="toggled($event)" [isOpen]="isOpen" [autoClose]="'outsideClick'" *ngIf="editing === true">
        <button class="btn btn-default dropdown-toggle" type="button" id="typeMenu" dropdownToggle [class.empty]="isTypeEmpty()">
            <span style="padding-right: 36px">{{ displayType() }}</span>
            <span class="caret"></span>
        </button>

        <div class="dropdown-menu type-editor-dropdown-menu {{ inputClass }}" role="menu" dropdownMenu>
            <form id="api-editor-save-form" class="form-horizontal {{ formClass }}" #typeForm="ngForm" *ngIf="editing === true">
                <div class="typeinfo">
                    <span>Type is</span>

                    <select size="2">
                        <option value="single">just one</option>
                        <option value="array">a list of</option>
                    </select>

                    <select size="4">
                        <option value="boolean">boolean</option>
                        <option value="integer">integer</option>
                        <option value="number">number</option>
                        <option value="string">string</option>
                    </select>

                    <!--
                    <drop-down [options]="testOptions()" [value]="testValue()" (onValueChange)="selectTest($event)"></drop-down>
                    <div class="dropdown" dropdown [autoClose]="'outsideClick'">
                        <button class="btn btn-default dropdown-toggle" type="button" dropdownToggle>
                            <span>just one</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" dropdownMenu>
                            <li role="presentation"><a role="menuitem" tabindex="-1" (click)="setTypeListCardinality(false)">just one</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" (click)="setTypeListCardinality(true)" >a list of</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="typeDropdown2" data-toggle="dropdown">
                           <span>string</span>
                           <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="typeMenu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" (click)="setType('boolean', true)">boolean</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" (click)="setType('integer', true)">integer</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" (click)="setType('number', true)">number</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" (click)="setType('string', true)">string</a></li>
                            <li role="presentation" class="divider" *ngIf="hasDefinitions()"></li>
                            <li role="presentation" *ngFor="let definitionName of definitionNames()"><a
                                    role="menuitem" tabindex="-1" (click)="setType(definitionName, false)">{{ definitionName }}</a></li>
                        </ul>
                    </div>
                    -->

                    <span>.</span>
                </div>
                <div class="actions">
                    <button title="Save changes." type="submit" class="overlay-action overlay-action-save btn btn-xs btn-primary"><span>OK</span></button>
                    <button title="Cancel changes." type="button" class="overlay-action overlay-action-cancel btn btn-xs btn-default" (click)="cancel()"><span>Cancel</span></button>
                </div>
            </form>
        </div>

        <!--
        <ul class="dropdown-menu" role="menu" aria-labelledby="typeMenu">
            <li role="presentation"><a role="menuitem" (click)="setType('null', true)">null</a></li>
            <li role="presentation"><a role="menuitem" (click)="setType('boolean', true)">boolean</a></li>
            <li role="presentation"><a role="menuitem" (click)="setType('integer', true)">integer</a></li>
            <li role="presentation"><a role="menuitem" (click)="setType('number', true)">number</a></li>
            <li role="presentation"><a role="menuitem" (click)="setType('string', true)">string</a></li>
            <li role="presentation" class="divider" *ngIf="hasDefinitions()"></li>
            <li role="presentation" *ngFor="let definitionName of definitionNames()"><a
                    role="menuitem" (click)="setType(definitionName, false)">{{ definitionName }}</a></li>
        </ul>
        -->
    </div>
    <!--
    <div class="edit-overlay" *ngIf="editing">
         <div class="overlay-actions"
         ><button title="Save changes." class="overlay-action btn btn-xs btn-primary" type="submit"
         ><span class="fa fa-fw fa-check"></span></button
         ><button title="Cancel changes." class="overlay-action btn btn-xs btn-default" (click)="onCancel()"
         ><span class="fa fa-fw fa-close"></span></button></div>
    </div>
    -->
</span>