.rule-list {
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: white;
}

.rule {
    padding: 25px;
    min-width: 0;
    border-bottom: 1px solid #ccc;
}

.rule .rule-icon {
    margin-right: 5px;
}

.rule.disabled-state-text .rule-name, .rule.disabled-state-text .rule-description, .rule.disabled-state-text .rule-icon, .rule.disabled-state-text .rule-value {
    color: rgb(106, 110, 115);
}

.rule .rule-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rule .rule-actions {
    display: inline;
    white-space: nowrap;
}
