<section type="info" label="INFO" contextHelp="This section allows you to modify the Version and Description of the API." [collaborationNodePath]="[ '/info/version', '/info/description' ]" [validationModels]="[info()]" [validationProperties]="['version', 'description']"
    [validationShallow]="true">
    <span actions></span>
    <div body>
        <!-- Version -->
        <div class="section-field-label">
            <validation-problem [model]="info()" property="version" [shallow]="true"></validation-problem>
            <span>Version</span>
        </div>
        <div class="section-field version">
            <pf-inline-text-editor [value]="version()" [labelClass]="'api-version'" [formClass]="'api-title-editor-form'" [inputClass]="'api-item-editor api-version-editor api-version api-item-version'" [baseNode]="info()" nodePath="version" [noValueMessage]="'N/A'"
                (onChange)="onVersionChange($event)"></pf-inline-text-editor>
        </div>
        <!-- Description -->
        <div class="section-field-label">
            <validation-problem [model]="info()" property="description" [shallow]="true"></validation-problem>
            <span>Description</span>
        </div>
        <div class="section-field description">
            <inline-markdown-editor [value]="description()" [labelClass]="'api-description api-item-description'" [formClass]="'api-description-editor-form'" [inputClass]="'api-item-editor api-description-editor api-description api-item-description'" [baseNode]="info()"
                nodePath="description" [noValueMessage]="'No description.'" (onChange)="onDescriptionChange($event)"></inline-markdown-editor>
        </div>
        <!-- TermsOfService -->
        <div class="section-field-label">
            <validation-problem [model]="info()" property="termsOfService" [shallow]="true"></validation-problem>
            <span>Terms of Service</span>
        </div>
        <div class="section-field termsOfService">
            <pf-inline-text-editor [value]="termsOfService()" [labelClass]="'api-termsOfService'" [formClass]="'api-title-editor-form'" [inputClass]="'api-item-editor api-termsOfService-editor api-termsOfService api-item-termsOfService'" [baseNode]="info()" nodePath="termsOfService"
                [noValueMessage]="'No URL provided'" (onChange)="onTermsOfServiceChange($event)"></pf-inline-text-editor>
        </div>
    </div>
</section>