
.collaborator-list-group, .invitation-list-group {
  border-top: none;
}

.collaborator-list-item, .invitation-list-item {
  background-color: #f8f8f8;
  border-bottom: 1px solid transparent;
}
.collaborator-list-item {
  border-left: 2px solid transparent;
}
.collaborator-list-item.owner {
  border-left: 2px solid #0088ce;
}

.collaborator-list-item .list-view-pf-description, .invitation-list-item .list-view-pf-description {
  width: inherit;
}
.collaborator-list-item .list-view-pf-description .list-group-item-heading, .invitation-list-item .list-view-pf-description .list-group-item-heading {
  margin-right: 0;
}
.collaborator-list-item .list-view-pf-actions button, .invitation-list-item .list-view-pf-actions button {
  margin-left: 0;
}

.invitation-list-item .list-view-pf-main-info .list-view-pf-icon-sm {
  border: none;
}
.invitation-list-item.accepted .list-view-pf-main-info .list-view-pf-icon-sm {
  color: #3f9c35;
}
.invitation-list-item.rejected .list-view-pf-main-info .list-view-pf-icon-sm {
  color: #cc0000;
}

.collaborator-list-item .list-view-pf-main-info .list-view-pf-body .list-view-pf-description .list-group-item-heading small {
  font-size: 12px;
}
.invitation-list-item .list-view-pf-main-info .list-view-pf-body .list-view-pf-description .list-group-item-heading small {
  font-size: 12px;
}

.form-control-apicurio-copybox {
  display: flex;
  width: 100%;
}
.form-control-apicurio-copybox > input {
  flex-grow: 1;
}
.form-control-apicurio-copybox > button {
  box-shadow: none;
  margin-left: -1px;
}

.copybox-success {
  color: #0088ce;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: right;
}