<span class="collaborator-aggregate" *ngIf="hasCollaborators()">
    <a (mouseover)="open($event)"
       (mousemove)="open($event)"
       (mouseleave)="close()"
       (mouseout)="close()"
       class="collaborator-icon"
       [style.background-color]="'#' + iconColor()">{{ displayText() }}</a>
    <div *ngIf="isOpen()" class="collaborator-aggregate-panel" [style.left]="left" [style.top]="top">
        <div class="collaborator" *ngFor="let collaborator of collaborators()" title="{{ collaborator.fullName }}">
            <span class="collaborator-icon" [style.background-color]="'#' + iconColorFor(collaborator)">&nbsp;</span>
            <span class="collaborator-name">{{ collaborator.fullName }}</span>
            </div>
    </div>
</span>