
div.dropdown li.filter {
  padding-left: 3px;
  padding-right: 3px;
}

div.dropdown li > span {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  padding: 1px 10px;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.66666667;
  color: #363636;
  white-space: nowrap;
}
