.validation-aggregate .validation-aggregate-panel .problem a {
  color: #666;
  cursor: pointer;
}
.validation-aggregate .validation-aggregate-panel .problem a:hover {
  color: #0088ce;
}

.validation-aggregate .validation-aggregate-panel .problem .pficon {
  margin-right: 3px;
}
