<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="Dashboard" icon="dashboard" [route]="[ '/' ]"></li>
        <li breadcrumb label="APIs" icon="search" [route]="[ '/apis' ]"></li>
        <li breadcrumb [label]="apiDefinition.name" icon="bolt" [route]="[ '/apis', apiDefinition.id ]"></li>
        <li breadcrumb label="Editor" icon="pencil" class="active"></li>
    </breadcrumbs>
    <div class="pull-right">
        <api-commit [disabled]="!isDirty" [saving]="isSaving" (onSave)="saveChange($event)"></api-commit>
    </div>
</div>
<div id="api-editor">
    <api-editor #apiEditor [api]="apiDefinition" (onDirty)="onEditorDirty($event)"></api-editor>
</div>