<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="Dashboard" icon="dashboard" [route]="[ '/' ]"></li>
        <li breadcrumb label="APIs" icon="search" [route]="[ '/apis' ]"></li>
        <li breadcrumb [label]="apiDefinition.name" icon="bolt" [route]="[ '/apis', apiDefinition.id ]"></li>
        <li breadcrumb label="Editor" icon="pencil" class="active"></li>
    </breadcrumbs>
    <div class="pull-right">
    </div>
</div>
<page-error [error]="pageError" *ngIf="pageError"></page-error>
<div id="api-editor" *ngIf="!pageError" [ngSwitch]="loadingState()">

    <!-- "Data Loading" spinner -->
    <div class="container-fluid container-cards-pf api-editor-overview" *ngSwitchCase="'loading-def'">
        <div class="row row-cards-pf">
            <div class="">
                <div class="card-pf card-pf-accented">
                    <div class="card-pf-heading">
                        <h1 class="card-pf-title">
                            <p><span class="spinner spinner-xs spinner-inline"></span> Loading API definition...</p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- "Data Loading" spinner -->
    <div class="container-fluid container-cards-pf api-editor-overview" *ngSwitchCase="'loading-session'">
        <div class="row row-cards-pf">
            <div class="">
                <div class="card-pf card-pf-accented">
                    <div class="card-pf-heading">
                        <h1 class="card-pf-title">
                            <p><span class="spinner spinner-xs spinner-inline"></span> Opening an API Design editing session...</p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The API Editor -->
    <api-editor #apiEditor [api]="apiDefinition" (onCommandExecuted)="onCommandExecuted($event)" *ngSwitchCase="'loaded'"></api-editor>
</div>
