<div (window:keydown)="onGlobalKeyDown($event)" class="api-editor" [class.light]="theme === 'light'" [class.dark]="theme === 'dark'">
    <div class="editor-master">
        <div class="editor-main" [class.selected]="selectedType === 'main'" (click)="selectMain()">
            <h2>{{ document().info.title }}</h2>
        </div>
        <div class="editor-search">
            <search [placeholder]="'Search everything...'" [searchId]="'masterSearch'" (onSearch)="filterAll($event)"></search>
        </div>
        <div class="editor-outline">
            <!-- Paths Section -->
            <div class="section path-section">
                <div class="section-header">
                    <a data-toggle="collapse" data-target="#path-section-body">
                        <span class="section-label">Paths</span>
                    </a>
                    <button class="btn btn-sm btn-default pull-right"
                            (click)="addPathModal.show(); initAddPath()"><span class="fa fa-plus"></span></button>
                </div>
                <div class="section-body collapse in" id="path-section-body">
                    <div class="api-path" *ngFor="let pathName of pathNames()"
                            [class.selected]="selectedItem === pathName && (selectedType === 'path' || selectedType === 'operation')">
                        <div path-item [path]="pathName" (click)="selectPath(pathName)"></div>
                        <div class="api-operations" *ngIf="selectedItem === pathName && (selectedType === 'path' || selectedType === 'operation') && hasAtLeastOneOperation(pathName)">
                            <span *ngIf="hasOperation(pathName, 'get')" class="label label-success"  (click)="selectOperation(selectedItem, 'get')"
                                  [class.selected]="selectedType === 'operation' && subselectedItem === 'get'">GET</span>
                            <span *ngIf="hasOperation(pathName, 'put')" class="label label-info" (click)="selectOperation(selectedItem, 'put')"
                                  [class.selected]="selectedType === 'operation' && subselectedItem === 'put'">PUT</span>
                            <span *ngIf="hasOperation(pathName, 'post')" class="label label-warning" (click)="selectOperation(selectedItem, 'post')"
                                  [class.selected]="selectedType === 'operation' && subselectedItem === 'post'">POST</span>
                            <span *ngIf="hasOperation(pathName, 'delete')" class="label label-danger" (click)="selectOperation(selectedItem, 'delete')"
                                  [class.selected]="selectedType === 'operation' && subselectedItem === 'delete'">DELETE</span>
                            <span *ngIf="hasOperation(pathName, 'options')" class="label label-info" (click)="selectOperation(selectedItem, 'options')"
                                  [class.selected]="selectedType === 'operation' && subselectedItem === 'options'">OPTIONS</span>
                            <span *ngIf="hasOperation(pathName, 'head')" class="label label-info" (click)="selectOperation(selectedItem, 'head')"
                                  [class.selected]="selectedType === 'operation' && subselectedItem === 'head'">HEAD</span>
                            <span *ngIf="hasOperation(pathName, 'patch')" class="label label-info" (click)="selectOperation(selectedItem, 'patch')"
                                  [class.selected]="selectedType === 'operation' && subselectedItem === 'patch'">PATCH</span>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <div class="alert alert-warning" *ngIf="pathNames().length === 0">
                        <span class="pficon pficon-warning-triangle-o"></span>
                        <strong>No Paths Found!</strong>
                        <span>APIs need at least one path.</span>
                        <span>&nbsp;</span>
                        <button class="btn btn-xs btn-default pull-right" style="margin-top: 0px" (click)="addPathModal.show(); initAddPath('/')">Add Now</button>
                    </div>
                </div>
            </div>
            <!-- Definitions Section -->
            <div class="section definition-section">
                <div class="section-header">
                    <a data-toggle="collapse" data-target="#definition-section-body">
                        <span class="section-label">Definitions</span>
                    </a>
                    <button class="btn btn-sm btn-default pull-right"
                            (click)="addDefinitionModal.show(); initAddDefinition()"><span class="fa fa-plus"></span></button>
                </div>
                <div class="section-body collapse in" id="definition-section-body">
                    <div definition-item class="api-definition" *ngFor="let defName of definitionNames()" [name]="defName"
                         (click)="selectDefinition(defName)"
                         [class.selected]="selectedItem === defName && selectedType === 'definition'"></div>
                    <div class="alert alert-info" *ngIf="definitionNames().length === 0">
                        <span class="pficon pficon-info"></span>
                        <strong>None Found</strong>
                        <span>Reusable types are useful!</span>
                        <span>&nbsp;</span>
                        <button class="btn btn-xs btn-default pull-right" style="margin-top: 0px"
                                (click)="addDefinitionModal.show(); initAddDefinition()">Add Now</button>
                    </div>
                </div>
            </div>
            <!-- Responses Section -->
            <div class="section response-section">
                <div class="section-header">
                    <a class="collapsed" data-toggle="collapse" data-target="#response-section-body">
                        <span class="section-label">Responses</span>
                    </a>
                    <button class="btn btn-sm btn-default pull-right"><span class="fa fa-plus"></span></button>
                </div>
                <div class="section-body collapse" id="response-section-body">
                    <div response-item class="api-response" *ngFor="let responseName of responseNames()" [name]="responseName"
                         (click)="selectResponse(responseName)"
                         [class.selected]="selectedItem === responseName && selectedType === 'response'"></div>
                    <div class="alert alert-info" *ngIf="responseNames().length === 0">
                        <span class="pficon pficon-info"></span>
                        <strong>None Found</strong>
                        <span>Share responses across paths.</span>
                        <span>&nbsp;</span>
                        <button class="btn btn-xs btn-default pull-right" style="margin-top: 0px">Add Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="editor-detail">
        <main-form [document]="document()" (onCommand)="onCommand($event)" class="editor-detail-form"
                   *ngIf="selectedType === 'main'"></main-form>
        <path-form [path]="selectedPath()" (onCommand)="onCommand($event)" class="editor-detail-form"
                   (onOperationSelected)="selectOperation(selectedItem, $event)" (onDeselect)="deselectPath()"
                   *ngIf="selectedType === 'path'"></path-form>
        <operation-form [operation]="selectedOperation()" (onCommand)="onCommand($event)" class="editor-detail-form"
                        (onDeselect)="deselectOperation()" *ngIf="selectedType === 'operation'"></operation-form>
        <definition-form [definition]="selectedDefinition()" (onCommand)="onCommand($event)" class="editor-detail-form"
                        (onDeselect)="deselectDefinition()" *ngIf="selectedType === 'definition'"></definition-form>
    </div>
</div>

<!-- Add Path Dialog -->
<div bsModal #addPathModal="bs-modal" class="modal fade" id="addPathModal" tabindex="-1" role="dialog" aria-labelledby="addPathModalLabel"
     role="dialog" aria-hidden="true" (onShown)="addPathInput.focus(); addPathInput.selectionStart = addPathInput.selectionEnd = modals.addPath.path.length">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addPathModal.hide()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="addPathModalLabel">Add Path</h4>
            </div>
            <div class="modal-body">
                <p>Enter a new resource path below and then click Add.</p>
                <form id="addpath-form" class="form-horizontal" (submit)="addPath()" #addPathForm="ngForm" data-dismiss="modal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="path">Path</label>
                        <div class="col-sm-10">
                            <input #addPathInput name="path" type="text" id="path" class="form-control" placeholder="Enter a Path"
                                   required [(ngModel)]="modals.addPath.path">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addPath()"
                        [disabled]="!addPathForm.form.valid">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addPathModal.hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Add Definition Dialog -->
<div bsModal #addDefinitionModal="bs-modal" class="modal fade" id="addDefinitionModal" tabindex="-1" role="dialog" aria-labelledby="addDefinitionModalLabel"
     role="dialog" aria-hidden="true" (onShown)="addDefinitionInput.focus(); addDefinitionInput.select()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addDefinitionModal.hide()">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="addDefinitionModalLabel">Add Definition</h4>
            </div>
            <div class="modal-body">
                <p>Enter a new definition name below and then click Add.</p>
                <form id="adddef-form" class="form-horizontal" (submit)="addDefinition()" #addDefinitionForm="ngForm" data-dismiss="modal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="definitionName">Name</label>
                        <div class="col-sm-10">
                            <input #addDefinitionInput name="definitionName" type="text" id="definitionName" class="form-control"
                                   placeholder="Enter a Definition Name"
                                   required [(ngModel)]="modals.addDefinition.definitionName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addDefinition()"
                        [disabled]="!addDefinitionForm.form.valid">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addDefinitionModal.hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
