<div (window:keydown)="onGlobalKeyDown($event)" class="api-editor" [class.light]="theme === 'light'" [class.dark]="theme === 'dark'">

    <master [document]="document()" #master
            [validationErrors]="validationErrors"
            (onCommand)="onCommand($event)"
            (onNodeSelected)="onNodeSelected($event)"></master>

    <div class="editor-detail" [ngSwitch]="formType">
        <main-form [document]="document()" class="editor-detail-form"
                   (onCommand)="onCommand($event)"
                   *ngSwitchCase="'main_20'"></main-form>
        <path-form [path]="selectedPath()" class="editor-detail-form"
                   (onCommand)="onCommand($event)"
                   (onNodeSelected)="selectNode($event)"
                   (onDeselect)="deselectPath()"
                   *ngSwitchCase="'path_20'"></path-form>
        <operation-form [operation]="selectedOperation()" class="editor-detail-form"
                        (onCommand)="onCommand($event)"
                        (onNodeSelected)="selectNode($event)"
                        (onDeselect)="deselectOperation()"
                        *ngSwitchCase="'operation_20'"></operation-form>
        <definition-form [definition]="selectedDefinition()" class="editor-detail-form"
                         (onCommand)="onCommand($event)"
                         (onNodeSelected)="selectNode($event)"
                         (onDeselect)="deselectDefinition()"
                         *ngSwitchCase="'definition_20'"></definition-form>
        <problem-form [problem]="selectedProblem()" class="editor-detail-form"
                      (onCommand)="onCommand($event)"
                      (onGoToProblem)="goToProblem()"
                      *ngSwitchCase="'problem_20'"></problem-form>
    </div>

</div>
