@api-path-color: #ff6a7c;

.api-editor .api-master {
  position: absolute;
  top: 0;
  left: 0;
  right: 70%;
  bottom: 0;
  overflow-y: auto;
}

.api-editor .api-detail {
  position: absolute;
  left: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow-y: auto;
}


@import "api-editor-dark.less";
@import "api-editor-light.less";

