@import "dimensions.less";

.navbar {
  height: @navbar-height;
}
.navbar .navbar-header {
  height: @navbar-height - 3;
}

.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand .navbar-brand-logo {
  line-height: @navbar-height - 3;
  font-family: 'Lato', sans-serif;
  font-size: @navbar-logo-size;
  font-weight: 300;
  color: #DCD7D7;
  padding-left: 40px;
  background-image: url('assets/apicurio_icon_darkbkg_32px.png');
  background-repeat: no-repeat;
  background-position-y: 6px;
}
.navbar .navbar-brand .navbar-brand-logo:hover {
  color: rgb(203, 37, 38);
}

.navbar a.dropdown-toggle {
  height: @navbar-height - 3;
  line-height: 34px;
  font-size: 13px;
  vertical-align: middle;
}
.navbar a.dropdown-toggle .pficon {
  position: initial;
}

.navbar .dropdown-menu a {
  cursor: pointer;
}
.navbar .dropdown-menu a.disabled {
  cursor: not-allowed;
  color: #999;
}

.product-versions-pf table tr td {
  color: white;
  font-size: 13px;
  padding-right: 10px;
}

.about-title {
  font-size: 32px;
  font-weight: 600;
}