
.navbar .navbar-brand .navbar-brand-logo {
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;
  color: white;
}
.navbar .navbar-brand .navbar-brand-logo:hover {
  color: gold;
}

.navbar .dropdown-menu a {
  cursor: pointer;
}
.navbar .dropdown-menu a.disabled {
  cursor: not-allowed;
  color: #999;
}

#navbar-logo {
  background-image: url('/assets/api-designer-logo.png');
  height: 20px;
  width: 261px;
  color: transparent;
  text-indent: -5000px;
}