<div class="createapi-form-panel panel panel-default">
    <div class="panel-body">
        <form id="createapi-form" class="form-horizontal" (submit)="createApi()" #apiForm="ngForm">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-type">Type</label>
                <div class="col-sm-10">
                    <drop-down id="api-type" [id]="'api-create-api-specVersion'" [value]="model.type" [options]="typeOptions()" (onValueChange)="changeType($event)" [noSelectionLabel]="'Choose Type'"></drop-down>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-name">Name</label>
                <div class="col-sm-10">
                    <input name="name" type="text" id="api-name" class="form-control" placeholder="Enter the new API's name"
                           required [(ngModel)]="model.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-description">Description</label>
                <div class="col-sm-10">
                    <textarea name="description" id="api-description" class="form-control" placeholder="Type a short description of the API"
                              [(ngModel)]="model.description"></textarea>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Store In</label>
                <div class="col-sm-10">
                    <div class="platform-toggle"
                         [class.disabled]="!hasLinkedAccount('GitHub')"
                         [class.selected]="model.accountType === 'GitHub'"
                         (click)="setAccountType('GitHub')">
                        <span class="fa fa-fw fa-github"></span>
                        <br/>
                        <span class="lbl">GitHub</span>
                    </div>
                    <div class="platform-toggle"
                         [class.disabled]="!hasLinkedAccount('GitLab')"
                         [class.selected]="model.accountType === 'GitLab'"
                         (click)="setAccountType('GitLab')"
                         data-toggle="tooltip"
                         data-placement="bottom"
                         title="Hello World!">
                        <span class="fa fa-fw fa-gitlab"></span>
                        <br/>
                        <span class="lbl">GitLab</span>
                    </div>
                    <div class="platform-toggle"
                         [class.disabled]="!hasLinkedAccount('Bitbucket')"
                         [class.selected]="model.accountType === 'Bitbucket'"
                         (click)="setAccountType('Bitbucket')">
                        <span class="fa fa-fw fa-bitbucket"></span>
                        <br/>
                        <span class="lbl">Bitbucket</span>
                    </div>

                    <div class="account-link-warning" *ngIf="showAccountLinkingWarning">
                        <div class="alert alert-info">
                            <button type="button" class="close" (click)="showAccountLinkingWarning = false">
                                <span class="pficon pficon-close"></span>
                            </button>
                            <span class="pficon pficon-info"></span>
                            <strong>Account not linked!</strong> In order to store an API in a particular platform,
                            you must <a [routerLink]="['/settings/accounts']">link your platform account</a> to Apicurio Studio.
                        </div>
                    </div>
                </div>
            </div>

            <!-- GitHub Form Items -->
            <div class="github-form-items" *ngIf="model.accountType === 'GitHub'">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="api-organization">Organization</label>
                    <div class="col-sm-10">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="api-organization" data-toggle="dropdown">
                                <span *ngIf="model.github.organization !== null">{{ model.github.organization }}</span>
                                <div *ngIf="fetchingOrgs" class="spinner spinner-xs"></div>
                                <span class="disabled" *ngIf="model.github.organization === null">(select organization)</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="api-organization">
                                <li role="presentation"><a role="menuitem"
                                                           (click)="setGitHubOrganization('GitHub', gitHubUserOrg())">{{
                                    gitHubUserOrg() }}</a></li>
                                <li class="divider"></li>
                                <li *ngFor="let org of gitHubOrganizations()" role="presentation"><a role="menuitem" (click)="setGitHubOrganization(org)">{{ org }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="api-repository">Repository</label>
                    <div class="col-sm-10">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="api-repository" data-toggle="dropdown"
                                    [disabled]="model.github.organization === null">
                                <span *ngIf="model.github.repository !== null">{{ model.github.repository }}</span>
                                <div *ngIf="fetchingRepos" class="spinner spinner-xs"></div>
                                <span class="disabled" *ngIf="model.github.repository === null">(select repository)</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="api-repository">
                                <li *ngFor="let repo of gitHubRepositories()" role="presentation"><a role="menuitem" (click)="setGitHubRepository(repo)">{{ repo }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="api-repository-resource">Resource</label>
                    <div class="col-sm-10">
                        <input name="repository.resource" type="text" id="api-repository-resource" class="form-control"
                               placeholder="/path/to/apis/openapi-doc.json" required
                               [(ngModel)]="model.github.resource"
                               pattern="(/[^/]+)*/?[^/]+\.json">
                    </div>
                </div>
            </div>

            <!-- GitLab Form Items -->
            <div class="gitlab-form-items" *ngIf="model.accountType === 'GitLab'">
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="api-organization">Organization</label>
                    <div class="col-sm-10">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    id="api-organization" data-toggle="dropdown">
                                <span *ngIf="model.github.organization !== null">{{ model.gitlab.organization }}</span>
                                <div *ngIf="fetchingOrgs" class="spinner spinner-xs"></div>
                                <span class="disabled" *ngIf="model.github.organization === null">(select organization)</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="api-organization">
                                <li role="presentation"><a role="menuitem"
                                                           (click)="setGitHubOrganization('GitLab', gitLabUserOrg())">{{
                                    gitHubUserOrg() }}</a></li>
                                <li class="divider"></li>
                                <li *ngFor="let org of gitHubOrganizations()" role="presentation"><a
                                        role="menuitem"
                                        (click)="setGitHubOrganization('GitLab', org)">{{ org
                                    }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="api-repository">Repository</label>
                        <div class="col-sm-10">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button"
                                        id="api-repository" data-toggle="dropdown"
                                        [disabled]="model.github.organization === null">
                                    <span *ngIf="model.gitlab.repository !== null">{{ model.github.repository }}</span>
                                    <div *ngIf="fetchingRepos" class="spinner spinner-xs"></div>
                                    <span class="disabled" *ngIf="model.github.repository === null">(select repository)</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu"
                                    aria-labelledby="api-repository">
                                    <li *ngFor="let repo of gitHubRepositories()"
                                        role="presentation"><a role="menuitem"
                                                               (click)="setGitHubRepository(repo)">{{
                                        repo }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bitbucket Form Items -->
            <div class="bitbucket-form-items" *ngIf="model.accountType === 'Bitbucket'">
            </div>

            <hr/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"
                            [disabled]="!apiForm.form.valid || creatingApi || !isFormComplete()">
                        <span *ngIf="!creatingApi">Create API</span>
                        <span *ngIf="creatingApi" class="spinner spinner-xs spinner-inline"></span>
                        <span *ngIf="creatingApi">Creating</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
