<div class="container-fluid">
    <div class="row" style="min-height: 35px"></div>
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-6">
            <div class="card-pf card-pf-accented">
                <div class="card-pf-heading">
                    <h2 class="card-pf-title">
                        <span class="fa fa-fw fa-comment"></span>
                        <span>Welcome to the <strong>API Design Studio</strong> Dashboard!</span>
                    </h2>
                </div>
                <div class="card-pf-body">
                    <p>
                        Hey <strong>{{ (user() | async).name }}</strong>, thanks for logging into the <strong>API Design Studio</strong>.  Hopefully
                        you're finding it easy to use this tool to design and collaborate on new (and existing) APIs.
                    </p>
                    <div>
                        <ul>
                            <li><a href="http://studio.apiman.io/#about" target="_blank">More information about the project</a></li>
                            <li><a href="http://studio.apiman.io/#userguide" target="_blank">API Design Studio - User Guide</a></li>
                            <li><a href="http://studio.apiman.io/#contact" target="_blank">Contact the API Design Studio development team!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cards-pf">
        <!-- Recent APIs (or empty state) -->
        <div class="col-xs-12 col-sm-6 col-md-6">

            <div class="card-pf blank-slate-card-pf" *ngIf="!recentApis || recentApis.length == 0">
                <div class="blank-slate-pf">
                    <div class="blank-slate-pf-icon">
                        <span class="pficon pficon pficon-add-circle-o"></span>
                    </div>
                    <h1>No APIs Found</h1>
                    <p>We couldn't find any APIs for you - it's likely that you have not yet created/added any APIs to the studio.  Not to worry, we can do that now!</p>
                    <div class="blank-slate-pf-main-action">
                        <a routerLink="/apis/newapi" class="btn btn-primary btn-lg">Create an API</a>
                    </div>
                </div>
            </div>

            <div class="card-pf" *ngIf="recentApis && recentApis.length > 0">
                <div class="card-pf-heading">
                    <h2 class="card-pf-title">Your Recent APIs</h2>
                </div>
                <div class="card-pf-body api-recent-apis">
                    <div class="api-item" *ngFor="let api of recentApis">
                        <a [routerLink]="['apis', api.id]">
                            <span class="fa fa-fw fa-bolt"></span><span>{{ api.name }}</span>
                        </a>
                        <p>{{api.description}}</p>
                    </div>
                </div>
                <div style="font-size: 14px" class="card-pf-footer">
                    <p>
                        <a routerLink="/apis" class="">
                            <span class="fa fa-list"></span><span>List All</span>
                        </a>
                        <span></span>
                        <a routerLink="/apis/newapi" class="pull-right">
                            <span class="pficon pficon-add-circle-o"></span><span>Create an API</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>