.api-recent-apis .api-item {
  font-size: 15px;
}
.api-recent-apis .api-item p {
  font-size: 11px;
  padding-left: 20px;
}

.blank-slate-card-pf {
  padding: 0;
  border-top: 0;
}
.blank-slate-card-pf .blank-slate-pf {
  border: 0;
  background-color: white;
}
