<!-- Cookie Parameters Section -->
<section type="cookie-parameters" i18n-label label="COOKIE PARAMETERS"
         [counterItems]="cookieParameters()"
         [contextHelp]="contextHelp()" [expanded]="showSectionBody"
         [collaborationNodePath]="cookieParameterPaths()"
         [validationModels]="cookieParameters()">
    <span actions>
        <icon-button (onClick)="openAddCookieParamEditor()" [pullRight]="true" type="add"
                     [title]="'Add a new cookie parameter.'"></icon-button>
        <icon-button (onClick)="deleteAllCookieParams()" [disabled]="!hasCookieParameters()"
                     [pullRight]="true" type="delete"
                     [title]="'Delete all cookie parameters.'"></icon-button>
    </span>
    <div body>
        <signpost *ngIf="!hasCookieParameters()">
            <span i18n>No cookie parameters have been defined.</span>
            <a (click)="openAddCookieParamEditor()" i18n>Add a cookie parameter</a>
        </signpost>

        <!-- The list of cookie parameters -->
        <div class="container-fluid cookie-parameters typed-item-list" *ngIf="hasCookieParameters()">
            <cookie-param-row *ngFor="let param of cookieParameters()" [item]="param"
                             (onRename)="openRenameDialog(param)"
                             (onDelete)="deleteParam(param)"></cookie-param-row>
        </div>
    </div>
</section>
<rename-entity-dialog #renameDialog
                      type="Cookie Parameter"
                      i18n-title title="Rename Cookie Parameter"
                      i18n-warning warning="Renaming a Cookie Parameter may also update any cookie parameters with the same name depending on path and operation hierarchies."
                      validationPattern="[a-zA-Z0-9\.\-_\$]+"
                      (onRename)="rename($event)"></rename-entity-dialog>
