<!-- Query Parameters Section -->
<div class="section query-parameters-section panel-group">
    <div class="section-header panel-title">
        <a [class.collapsed]="!hasQueryParameters()" data-toggle="collapse" data-target="#parameters-section-body">
            <span class="section-label">QUERY PARAMETERS</span>
            <validation-aggregate [models]="queryParameters()"></validation-aggregate>
        </a>
        <context-help *ngIf="!isPathItem()">
            <p>
                An operation may, optionally, allow additional options to be sent via <strong>URL query
                parameters</strong>.  This section allows you to document what query parameters are
                accepted/expected by this operation.
            </p>
        </context-help>
        <context-help *ngIf="isPathItem()">
            <p>
                Use this section to define <strong>HTTP Query Parameters</strong> for all of the
                Operations in this path.  These query parameters will apply to all operations and
                can be overridden (though not removed) at the operation level.
            </p>
        </context-help>
        <icon-button (onClick)="openAddQueryParamModal()" [pullRight]="true" [type]="'add'"
                     [title]="'Add a new query parameter.'"></icon-button>
        <icon-button (onClick)="deleteAllQueryParams()" [disabled]="!hasQueryParameters()"
                     [pullRight]="true" [type]="'delete'"
                     [title]="'Delete all query parameters.'"></icon-button>
    </div>
    <div class="section-body collapse" id="parameters-section-body" [class.in]="hasQueryParameters()">

        <signpost *ngIf="!hasQueryParameters()">
            <span>No query parameters have been defined.</span>
            <a (click)="openAddQueryParamModal()">Add a query parameter</a>
        </signpost>

        <!-- The list of query parameters -->
        <div class="container-fluid query-parameters typed-item-list" *ngIf="hasQueryParameters()">
            <query-param-row *ngFor="let param of queryParameters()" [parameter]="param"
                             (onDelete)="deleteParam(param)"></query-param-row>
        </div>
    </div>
</div>
<add-query-param-dialog #addQueryParamDialog (onAdd)="addQueryParam($event)"></add-query-param-dialog>
