<!-- Query Parameters Section -->
<section type="query-parameters" label="QUERY PARAMETERS"
         [counterItems]="queryParameters()"
         [contextHelp]="contextHelp()" [expanded]="showSectionBody"
         [collaborationNodePath]="queryParameterPaths()"
         [validationModels]="queryParameters()">
    <span actions>
        <icon-button (onClick)="openAddQueryParamEditor()" [pullRight]="true" type="add"
                     [title]="'Add a new query parameter.'"></icon-button>
        <icon-button (onClick)="deleteAllQueryParams()" [disabled]="!hasQueryParameters()"
                     [pullRight]="true" type="delete"
                     [title]="'Delete all query parameters.'"></icon-button>
    </span>
    <div body>
        <signpost *ngIf="!hasQueryParameters()">
            <span>No query parameters have been defined.</span>
            <a (click)="openAddQueryParamEditor()">Add a query parameter</a>
        </signpost>

        <!-- The list of query parameters -->
        <div class="container-fluid query-parameters typed-item-list" *ngIf="hasQueryParameters()">
            <query-param-row *ngFor="let param of queryParameters()" [item]="param"
                             (onDelete)="deleteParam(param)"></query-param-row>
        </div>
    </div>
</section>
