.section .section-actions {
  display: inline;
}

.section .section-body.collapsed {
  display: none;
}

.section .section-context-menu {
  display: block;
  position: fixed;
}

.section .section-header .collaborator-aggregate {
  margin-left: 5px;
  margin-left: 18px;
}

.section .section-header .collaborator-aggregate > a.collaborator-icon {
  color: white;
}
