<div class="section servers-section panel-group">
    <div class="section-header panel-title">
        <a [class.collapsed]="servers().length === 0" data-toggle="collapse" data-target="#servers-section-body">
            <span class="section-label">SERVERS <counter [items]="servers()"></counter></span>
            <validation-aggregate [models]="servers()"></validation-aggregate>
        </a>
        <context-help>
            <p>{{ description }}</p>
        </context-help>
        <icon-button (onClick)="onAddServer()" [pullRight]="true" [type]="'add'"
                     [title]="'Add a server to the API.'"></icon-button>
    </div>
    <div class="section-body collapse" id="servers-section-body" [class.in]="!collapsed">

        <signpost *ngIf="servers().length === 0">
            <span>No servers have been defined.</span>
            <a (click)="onAddServer()">Add a server</a>
        </signpost>

        <!-- The list of servers -->
        <div class="tags" *ngIf="servers().length > 0">
            <server-row *ngFor="let server of servers()" [server]="server"
                        (onEdit)="changeServer($event)"
                        (onDelete)="deleteServer(server)"></server-row>
        </div>

    </div>
</div>
