<div class="section servers-section panel-group">
    <div class="section-header panel-title">
        <a [class.collapsed]="servers().length === 0" data-toggle="collapse" data-target="#servers-section-body">
            <span class="section-label">SERVERS</span>
        </a>
        <context-help>
            <p>{{ description }}</p>
        </context-help>
        <button class="btn btn-sm btn-default pull-right" (click)="addServerDialog.open()"><span class="fa fa-plus"></span></button>
    </div>
    <div class="section-body collapse" id="servers-section-body" [class.in]="servers().length > 0">
        <div class="alert alert-info" *ngIf="servers().length === 0">
            <span class="pficon pficon-info"></span>
            <strong>None Found</strong>
            <span>No servers have been defined.</span>
            <button class="btn btn-primary btn-sm pull-right" (click)="addServerDialog.open()">Add Server</button>
        </div>
        <table class="table table-striped api-servers" *ngIf="servers().length > 0">
            <thead>
            <tr>
                <th>Server</th>
                <th width="50%">Description</th>
                <th width="1%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let server of servers()">
                <td class="server-name" server-url [url]="server.url"></td>
                <td class="description"><inline-text-editor [noValueMessage]="'No description.'"
                                                            [topIncrement]="2"
                                                            (onChange)="changeServerDescription(server, $event)"
                                                            [value]="server.description"></inline-text-editor></td>
                <td class="actions" nowrap>
                    <div>
                        <button class="btn btn-sm btn-default" (click)="addServerDialog.open(server)"
                                title="Edit server."><span class="pficon pficon-edit"></span></button>
                        <button class="btn btn-sm btn-default" (click)="deleteServer(server)"
                                title="Delete server."><span class="pficon pficon-delete"></span></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<add-server-dialog #addServerDialog (onAdd)="addServer($event)" (onChange)="changeServer($event)"></add-server-dialog>
