<div class="panel panel-default panel-settings">
    <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-settings">
            <li role="presentation" [class.active]="tab === 'profile'"><a [routerLink]="['/settings/profile']">User Profile</a></li>
            <li role="presentation" [class.active]="tab === 'accounts'"><a [routerLink]="['/settings/accounts']">Linked Accounts</a></li>
            <li role="presentation" [class.active]="tab === 'validation'"><a [routerLink]="['/settings/validation']">Validation</a></li>
        </ul>
    </div>
</div>
