.api-recent-apis .api-item {
  font-size: 15px;
}
.api-recent-apis .api-item p {
  font-size: 13px;
  padding-left: 20px;
}
.api-recent-apis .api-item > a {
  text-overflow: ellipsis;
  width: 100%;
  overflow-x: hidden;
  display: inline-block;
  white-space: nowrap;
}

.blank-slate-card-pf {
  padding: 0;
  border-top: 0;
}
.blank-slate-card-pf .blank-slate-pf {
  border: 0;
  background-color: white;
}

.card-activity .actions {
  padding-top: 10px;
  padding-bottom: 15px;
}

.card-activity > .card-pf-body {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
