<div class="blank-slate-pf" id="no-operation">
    <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
    </div>
    <h1>Operation Not Defined</h1>
    <p>
        This operation is not yet defined.  If you want this path/endpoint to support the operation, get
        started by clicking the <strong>Add Operation</strong> button below.
    </p>
    <div class="blank-slate-pf-main-action">
        <button class="btn btn-primary btn-lg" (click)="add.emit()">Add Operation</button>
    </div>
</div>