select {
  width: auto;
}

.createapi-form-panel.dragging {
  border: 1px dashed #39a5dc;
  background-color: #eef;
}

.createapi-form-panel {
  padding-top: 25px;
}

span.disabled {
  color: #999;
}

.dropdown ul {
  max-height: 250px;
  overflow: auto;
}

div.spinner {
  display: inline-block;
  margin-right: 5px;
}

.platform-toggle {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
  margin-right: 8px;
  border-radius: 3px;
}
.platform-toggle:hover {
  border: 1px solid #bee1f4;
  background-color: #def3ff;
}
.platform-toggle.selected {
  background-color: #0088ce;
  color: white;
  cursor: default;
  border: 1px solid transparent;
}
.platform-toggle.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.platform-toggle span.fa {
  font-size: 32px;
}
.platform-toggle span.lbl {
  font-size: 14px;
}

.account-link-warning {
  margin-top: 10px;
}

hr {
  margin-top: 5px;
}