.activity-item {
  background: transparent;
  border-bottom: 1px dashed #dde;
  padding-top: 5px;
  padding-bottom: 5px;
}
.activity-item:hover {
  background-color: #ffe065;
  background-image: linear-gradient(to bottom, #ddf3ff 0, #e8f7fe 100%);
}

.activity-item .activity-item-icon {
  font-size: 24px;
}
.activity-item .activity-item-description {
  padding-top: 5px;
  line-height: 14px;
}
.activity-item .activity-item-description .by {
  color: #3D4255;
}
.activity-item .activity-item-date {
  padding-top: 5px;
  color: #646484;
  font-size: 11px;
  cursor: help;
}
.activity-item .activity-item-date:hover {
  color: #0088ce;
}