.tag-list .tag-list-label {
  font-weight: bold;
  margin-right: 5px;
}
.tag-list .label {
  margin-right: 5px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 3px;
}
.tag-list .label:hover {
  filter: brightness(110%);
}

.tag-list .tag-list-more-button {
  border: 1px solid #666;
  border-radius: 3px;
  padding: 1px 5px;
  color: #666;
  background-color: white;
}
.tag-list .tag-list-more-button:hover {
  text-decoration: none;
  background-color: #ddd;
}
.tag-list .tag-list-more {
  position: absolute;
  padding: 5px;
  background-color: white;
  border: 1px solid #bbb;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
