.headers {
}
.headers.expanded {
  border: 1px solid #bbb;
  box-shadow: 0 2px 6px rgba(3,3,3,.2);
  margin-bottom: 3px;
}

.headers .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f5f5f5;
}
.headers .header:hover {
  background-color: #edf8ff;
}
.headers.expanded .header {
  border-bottom: solid 1px #bbb;
  background-color: #def3ff;
}

.headers .header .reference {
  flex-basis: 22%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
}
.headers .header .reference > span {
  font-weight: 600;
  color: #333;
}
.headers .header .reference > span.fa {
  font-weight: normal;
  margin-right: 3px;
}
.headers .header .reference .icon-override {
  font-size: 16px;
  font-weight: normal;
  cursor: help;
  margin-right: 3px;
}

.headers .header .type {
  flex-basis: 38%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
}
.headers .header .type:hover {
  color: #0088ce;
  cursor: pointer;
}

.headers .body {
  position: relative;
  padding: 15px;
}
.headers .body .close {
  position: absolute;
  right: 10px;
  top: 5px;
}

.headers .problem-flex {
  display: flex;
}
.headers .problem-flex .grow {
  flex-grow: 1;
}
.headers .problem-flex > *:first-child {
  margin-right: 7px;
  margin-top: 2px;
}

.headers div.form-label {
  margin-top: 15px;
  font-weight: 600;
}
.headers .headers-reference div.form-label {
  margin-top: 2px;
}
