<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="Dashboard" icon="dashboard" [route]="[ '/' ]"></li>
        <li breadcrumb label="APIs" icon="search" [route]="[ '/apis' ]"></li>
        <li breadcrumb label="Create API" icon="pficon-add-circle-o" class="active"></li>
    </breadcrumbs>
</div>
<page-error [error]="pageError" *ngIf="pageError"></page-error>
<div class="container-fluid" *ngIf="!pageError">
    <div class="createapi-form row">
        <div class="form-instructions col-md-3">
            <div class="alert alert-info">
                <span class="pficon pficon-info"></span>
                <strong>What does this page do?</strong>
                <p style="line-height: 18px">
                    Here you can create a brand new API by telling us the name (and description) of the new API.
                </p>
            </div>
            <ol>
                <li>Choose a name (<b>Required</b>)</li>
                <li>Set the description</li>
            </ol>
        </div>
        <div class="col-md-7">
            <createapi-form #createApiForm (onCreateApi)="onCreateApi($event)" #createApiForm></createapi-form>
        </div>
    </div>
</div>
