<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="APIs" [route]="[ '/apis' ]"></li>
        <li breadcrumb label="Create API" class="active"></li>
    </breadcrumbs>
</div>
<page-error [error]="pageError" *ngIf="pageError"></page-error>
<div class="container-fluid" *ngIf="!pageError">
    <div class="createapi-form row">
        <div class="col-md-8">
            <div *ngIf="!dataLoaded['templates']">
                <p><span class="spinner spinner-lg spinner-inline"></span> Loading templates, please wait...</p>
            </div>
            <createapi-form *ngIf="dataLoaded['templates']" #createApiForm (onCreateApi)="onCreateApi($event)"></createapi-form>
        </div>
    </div>
</div>
