<div class="newapi-form-panel panel panel-default" [class.dragging]="dragging"
     (dragover)="onDragOver($event)" (drop)="onDrop($event)"
     (dragend)="onDragEnd()" (dragexit)="onDragEnd()" (dragleave)="onDragEnd()">
    <div class="panel-body">
        <form id="newapi-form" class="form-horizontal" (submit)="createApi()" #apiForm="ngForm">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-name">Name</label>
                <div class="col-sm-10">
                    <input name="name" type="text" id="api-name" class="form-control" placeholder="Enter the API's name"
                           required [(ngModel)]="model.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-description">Description</label>
                <div class="col-sm-10">
                    <textarea name="description" id="api-description" class="form-control" placeholder="Type a short description of the API"
                              [(ngModel)]="model.description"></textarea>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-repository-type">Repository Type</label>
                <div class="col-sm-10">
                    <select name="repository.type" class="form-control" id="api-repository-type" required
                            [(ngModel)]="model.repositoryResource.repositoryType">
                        <option *ngFor="let t of repositoryTypes" [value]="t">{{ t }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-repository">Repository Url</label>
                <div class="col-sm-10">
                    <input name="repository.url" type="url" id="api-repository" class="form-control"
                           placeholder="https://github.com/ORGANIZATION/REPOSITORY" required [(ngModel)]="model.repositoryResource.repositoryUrl"
                           pattern="https?://.+">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="api-repository-resource">Resource</label>
                <div class="col-sm-10">
                    <input name="repository.resource" type="text" id="api-repository-resource" class="form-control"
                           placeholder="/path/to/apis/api-definition.oai.json" required
                           [(ngModel)]="model.repositoryResource.resourceName"
                           pattern="(/[^/]+)*/?[^/]+\.json">
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!apiForm.form.valid || creatingApi || discoveringApi">Create API</button>
                </div>
            </div>
        </form>
    </div>
</div>