<div class="detail-title">
    <div class="detail-label">
        <span class="fa fa-fw fa-code"></span>
        <span>{{ definitionName() }}</span>
    </div>
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li>
                    <a href="#" onclick="return false" (click)="rename()">
                        <span class="fa fa-pencil-square-o"></span>
                        <span>Rename Definition</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return false" (click)="clone()">
                        <span class="fa fa-clone"></span>
                        <span>Clone Definition</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="return false" (click)="delete()">
                        <span class="pficon pficon-delete"></span>
                        <span>Delete Definition</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li [class.active]="isDesignMode()" [class.disabled]="canSaveSource()"><a (click)="enableDesignMode()">Design</a></li>
        <li [class.active]="isSourceMode()"><a (click)="enableSourceMode()">Source</a></li>
    </ul>
</div>

<!-- Source Mode -->
<div class="detail-actionbar" *ngIf="isSourceMode()">
    <button class="btn btn-default btn-xs" [disabled]="!canFormatSource()" (click)="formatSource()"><span class="fa fa-fw fa-indent"></span> <span>Format</span></button>
    <button class="btn btn-default btn-xs" [disabled]="!canRevertSource()" (click)="revertSource()"><span class="fa fa-fw fa-undo"></span> <span>Revert</span></button>
    <button class="btn btn-primary btn-xs" [disabled]="!canSaveSource()" (click)="saveSource()"><span class="pficon pficon-save"></span> <span>Save</span></button>
    <button class="btn btn-default btn-xs" [disabled]="!canToggleSourceFormat()" (click)="toggleSourceFormat()">
        <span class="fa fa-fw fa-code"></span>
        <span *ngIf="isSourceFormatYaml()">As JSON</span>
        <span *ngIf="isSourceFormatJson()">As YAML</span>
    </button>
</div>
<div class="detail-content" style="position: relative" *ngIf="isSourceMode()">
    <code-editor #sourceEditor
                 [(text)]="source"
                 [theme]="sourceEditorTheme()"
                 [mode]="sourceEditorMode()"
                 [debounceTime]="250"
                 [editorStyle]="{ position: 'absolute', top: 0, bottom: 0, left: 0, right: 0, 'margin-top': '1px' }"></code-editor>
</div>

<!-- Design Mode -->
<div class="detail-content" *ngIf="isDesignMode()">
    <div class="api-definition-detail">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">

                <!-- Properties -->
                <div class="section properties-section panel-group">
                    <div class="section-header panel-title">
                        <a data-toggle="collapse" data-target="#properties-section-body">
                            <span class="section-label">PROPERTIES</span>
                        </a>
                        <context-help>
                            <p>
                                Use this section to define the properties that make up this definition.
                            </p>
                        </context-help>
                        <icon-button (onClick)="openAddSchemaPropertyModal()" [pullRight]="true" [type]="'add'"
                                     [title]="'Add a property to the schema.'"></icon-button>
                        <icon-button (onClick)="deleteAllSchemaProperties()" [disabled]="!hasProperties()" [pullRight]="true" [type]="'delete'"
                                     [title]="'Delete all properties from the schema.'"></icon-button>
                    </div>
                    <div class="section-body collapse in" id="properties-section-body">
                        <!-- Warning when no properties exist -->
                        <signpost *ngIf="!hasProperties()">
                            <span>No schema properties have been defined.</span>
                            <a (click)="openAddSchemaPropertyModal()">Add a property</a>
                        </signpost>

                        <!-- The list of schema properties -->
                        <div class="container-fluid path-parameters typed-item-list">
                            <property-row *ngFor="let property of properties()" [property]="property"
                                          (onDelete)="deleteProperty(property)"
                                          (onDescriptionChange)="changePropertyDescription(property, $event)"
                                          (onTypeChange)="changePropertyType(property, $event)"></property-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-schema-property-dialog #addSchemaPropertyDialog (onAdd)="addSchemaProperty($event)"></add-schema-property-dialog>
<clone-definition-dialog #cloneDefinitionDialog (onClone)="clone($event)"></clone-definition-dialog>
<rename-definition-dialog #renameDefinitionDialog (onRename)="rename($event)"></rename-definition-dialog>
