<div class="detail-title">
    <div class="detail-label"></div>
<!-- *** No actions at this level (currently)
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
-->
</div>
<!-- *** No support for the Source tab.  Not sure if it's needed. ***
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#" onclick="return false">Design</a></li>
        <li class="disabled"><a href="#" onclick="return false" disabled="disabled">Source</a></li>
    </ul>
</div>
-->
<div class="detail-content">

    <!-- Info about the API -->
    <div class="section info-section panel-group">
        <div class="section-header panel-title">
            <a data-toggle="collapse" data-target="#info-section-body">
                <span class="section-label">INFO</span>
            </a>
            <context-help>
                <p>This section allows you to modify the <strong>Name</strong>, <strong>Version</strong>, and <strong>Description</strong> of the API.</p>
            </context-help>
        </div>
        <div class="section-body collapse in" id="info-section-body">
            <div class="api-title-and-version">
                <inline-text-editor [value]="title()"
                                    [labelClass]="'api-title api-item-title'"
                                    [formClass]="'api-title-editor-form'"
                                    [inputClass]="'api-item-editor api-title-editor api-title api-item-title'"
                                    [noValueMessage]="'No Title'" (onChange)="onTitleChange($event)"></inline-text-editor>
                <span class="spacer" style="margin-left: 30px">&nbsp;</span>
                <inline-text-editor [value]="version()"
                                    [labelClass]="'api-version'"
                                    [formClass]="'api-title-editor-form'"
                                    [inputClass]="'api-item-editor api-version-editor api-version api-item-version'"
                                    [noValueMessage]="'No Version'" (onChange)="onVersionChange($event)"></inline-text-editor>
            </div>
            <inline-textarea-editor [value]="description()"
                                    [labelClass]="'api-description api-item-description'"
                                    [formClass]="'api-description-editor-form'"
                                    [inputClass]="'api-item-editor api-description-editor api-description api-item-description'"
                                    [noValueMessage]="'No description.'" (onChange)="onDescriptionChange($event)"></inline-textarea-editor>
        </div>
    </div>

    <!-- Contact Info -->
    <div class="section contact-section panel-group">
        <div class="section-header panel-title">
            <a [class.collapsed]="!hasContact()" data-toggle="collapse" data-target="#contact-section-body">
                <span class="section-label">CONTACT</span>
            </a>
            <context-help>
                <p>
                    Update the information contained in this section to provide users of the API details
                    about how to contact you should they need help.
                </p>
            </context-help>
            <button class="btn btn-sm btn-default pull-right" [disabled]="!hasContact()" (click)="deleteContact()"><span class="fa fa-trash"></span></button>
        </div>
        <div class="section-body collapse" id="contact-section-body" [class.in]="hasContact()">

            <div class="alert alert-info" *ngIf="!hasContact()">
                <span class="pficon pficon-info"></span>
                <strong>None Found</strong>
                <span>No contact info has been configured for this API.</span>
                <button class="btn btn-primary btn-sm pull-right" (click)="setContactDialog.open()">Add Contact Info</button>
            </div>

            <div *ngIf="hasContact()">
                <p>
                    <span>For more information about this API, users can </span><span *ngIf="contactEmail()">contact <a href="mailto:{{ contactEmail() }}" target="_blank">{{ contactName() }}</a></span><span *ngIf="contactUrl() && contactEmail()"> or </span><span *ngIf="contactUrl()">visit <a href="{{ contactUrl() }}" target="_blank">{{ contactUrl() }}</a></span><span>.</span>
                </p>
                <button class="btn btn-default btn-sm" (click)="setContactDialog.open(contact())">Change Contact Info</button>
            </div>

        </div>
    </div>

    <!-- License -->
    <div class="section license-section panel-group">
        <div class="section-header panel-title">
            <a [class.collapsed]="!hasLicense()" data-toggle="collapse" data-target="#license-section-body">
                <span class="section-label">LICENSE</span>
            </a>
            <context-help>
                <p>
                    Is your API <a href="https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses" target="_blank">licensed</a>?
                    Configure that here!  We'll help by showing you the most common licenses
                    you can choose from (and even describe each one a little bit!).
                </p>
            </context-help>
            <button class="btn btn-sm btn-default pull-right" [disabled]="!hasLicense()" (click)="deleteLicense()"><span class="fa fa-trash"></span></button>
        </div>
        <div class="section-body collapse" id="license-section-body" [class.in]="hasLicense()">

            <div class="alert alert-info" *ngIf="!hasLicense()">
                <span class="pficon pficon-info"></span>
                <strong>None Found</strong>
                <span>No license has been configured for this API.</span>
                <button class="btn btn-primary btn-sm pull-right" (click)="setLicenseDialog.open()">Set License</button>
            </div>

            <div *ngIf="hasLicense() && license() === null" class="container-fluid license">
                <div class="row">
                    <div class="col-md-8">
                        <h2><a href="{{ licenseUrl() }}" target="_blank">{{ licenseName() }}</a><span class="fa fa-fw fa-external-link"></span></h2>
                        <p>You have configured a license that we are not familiar with.  For information about the license, click the link above!  Or else click the button below to choose a different license...</p>
                        <button class="btn btn-sm btn-default" (click)="setLicenseDialog.open()">Change License</button>
                    </div>
                </div>
            </div>

            <div *ngIf="license() !== null" class="container-fluid license">
                <div class="row">
                    <div class="col-md-6">
                        <h2><a href="{{ license().url }}" target="_blank">{{ license().name }}</a><span class="fa fa-fw fa-external-link"></span></h2>
                        <p>{{ license().description }}</p>
                        <button class="btn btn-sm btn-default" (click)="setLicenseDialog.open()">Change License</button>
                        <a class="pull-right" href="{{ license().moreInfoUrl }}" target="_blank">View full {{ license().fullName }} »</a>
                    </div>
                    <div class="col-md-2">
                        <h3>Permissions</h3>
                        <ul class="permissions">
                            <li *ngFor="let permission of license().permissions"><span title="{{ licenseService.permissionDescription(permission) }}">{{ licenseService.permissionName(permission) }}</span></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Conditions</h3>
                        <ul class="conditions">
                            <li *ngFor="let condition of license().conditions"><span title="{{ licenseService.conditionDescription(condition) }}">{{ licenseService.conditionName(condition) }}</span></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Limitations</h3>
                        <ul class="limitations">
                            <li *ngFor="let limitation of license().limitations"><span title="{{ licenseService.limitationDescription(limitation) }}">{{ licenseService.limitationName(limitation) }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Global Tags -->
    <div class="section tags-section panel-group">
        <div class="section-header panel-title">
            <a [class.collapsed]="tags().length === 0" data-toggle="collapse" data-target="#tags-section-body">
                <span class="section-label">TAGS</span>
            </a>
            <context-help>
                <p>
                    Configure tags for your API in this section.  Once defined, tags can be used to organize
                    your API's <strong>operations</strong> by arbitrary criteria.
                </p>
            </context-help>
            <button class="btn btn-sm btn-default pull-right" (click)="addTagDialog.open()"><span class="fa fa-plus"></span></button>
        </div>
        <div class="section-body collapse" id="tags-section-body" [class.in]="tags().length > 0">
            <div class="alert alert-info" *ngIf="tags().length === 0">
                <span class="pficon pficon-info"></span>
                <strong>None Found</strong>
                <span>No tags have been configured.</span>
                <button class="btn btn-primary btn-sm pull-right" (click)="addTagDialog.open()">Add Tag</button>
            </div>
            <table class="table table-striped api-operation-parameters" *ngIf="tags().length > 0">
                <thead>
                <tr>
                    <th>Tag</th>
                    <th width="70%">Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tag of tags()">
                    <td class="tag-name">{{ tag.name }}</td>
                    <td class="description"><inline-text-editor [noValueMessage]="'No description.'"
                                                                [topIncrement]="2"
                                                                (onChange)="changeTagDescription(tag, $event)"
                                                                [value]="tag.description"></inline-text-editor></td>
                    <td class="actions">
                        <div>
                            <button class="btn btn-sm btn-default pull-right" (click)="deleteTag(tag)"
                                    title="Delete tag."><span class="pficon pficon-delete"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Global Servers -->
    <servers-section *ngIf="is3xForm()" [parent]="document" (onCommand)="onCommand.emit($event)" [description]="'Configure global servers for your API in this section.  Once defined, servers indicate where to access the API (e.g. host and port).'"></servers-section>

    <!-- Security -->
    <div class="section security-section panel-group">
        <div class="section-header panel-title">
            <a [class.collapsed]="!hasContact()" data-toggle="collapse" data-target="#security-section-body">
                <span class="section-label">SECURITY</span>
            </a>
            <context-help>
                <p>
                    Use this section to configure your API's security options.  There are three types of
                    security you may choose from (each with its own specific configuration details):
                </p>
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">BASIC</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Application_programming_interface_key" target="_blank">API Key</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/OAuth" target="_blank">OAuth</a></li>
                </ul>
            </context-help>
            <button class="btn btn-sm btn-default pull-right" (click)="openSecuritySchemeDialog()"><span class="fa fa-plus"></span></button>
        </div>
        <div class="section-body collapse" id="security-section-body" [class.in]="hasSecurity()">

            <div class="alert alert-info" *ngIf="!hasSecurity()">
                <span class="pficon pficon-info"></span>
                <strong>None Found</strong>
                <span>No security options have been configured for this API.</span>
                <button class="btn btn-primary btn-sm pull-right" (click)="openSecuritySchemeDialog()">Add Security</button>
            </div>

            <table class="table table-striped api-operation-parameters" *ngIf="hasSecurity()">
                <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="20%" nowrap>Security Type</th>
                    <th width="60%">Description</th>
                    <th width="1%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let scheme of securitySchemes()">
                    <td class="scheme-name">{{ scheme.schemeName() }}</td>
                    <td class="scheme-type">{{ scheme.type }}</td>
                    <td class="description"><inline-text-editor [noValueMessage]="'No description.'"
                                                                [topIncrement]="2"
                                                                (onChange)="changeSecuritySchemeDescription(scheme, $event)"
                                                                [value]="scheme.description"></inline-text-editor></td>
                    <td class="actions" nowrap>
                        <div>
                            <button class="btn btn-sm btn-default" (click)="openSecuritySchemeDialog(scheme)"
                                    title="Edit security scheme."><span class="pficon pficon-edit"></span></button>
                            <button class="btn btn-sm btn-default" (click)="deleteSecurityScheme(scheme)"
                                    title="Delete security scheme."><span class="pficon pficon-delete"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <set-license-dialog #setLicenseDialog (onLicenseChosen)="setLicense($event)"></set-license-dialog>
    <set-contact-dialog #setContactDialog (onContact)="setContactInfo($event)"></set-contact-dialog>
    <add-tag-dialog #addTagDialog (onAdd)="addTag($event)"></add-tag-dialog>
    <security-scheme-20-dialog #securityScheme20Dialog (onSchemeAdded)="addSecurityScheme($event)"
                               (onSchemeChanged)="changeSecurityScheme($event)"></security-scheme-20-dialog>
    <security-scheme-30-dialog #securityScheme30Dialog (onSchemeAdded)="addSecurityScheme($event)"
                               (onSchemeChanged)="changeSecurityScheme($event)"></security-scheme-30-dialog>

</div>