<div class="detail-content">

    <!-- Info about the API -->
    <info-section [document]="document"></info-section>

    <!-- Contact Info -->
    <contact-section [document]="document"></contact-section>

    <!-- License -->
    <license-section [document]="document"></license-section>

    <!-- Global Tags -->
    <tags-section [document]="document"></tags-section>

    <!-- Global Servers -->
    <servers-section *ngIf="is3xForm()" [parent]="document" [collapsed]="false"
                     [description]="'Configure global servers for your API in this section.  Once defined, servers indicate where to access the API (e.g. host and port).'"></servers-section>

    <!-- Security Schemes -->
    <security-schemes-section [document]="document"></security-schemes-section>

    <!-- Security Requirements -->
    <security-requirements-section [parent]="document" [global]="true"></security-requirements-section>

</div>