<div class="detail-title">
    <div path-item class="detail-label" [path]="parentPath()"></div>
    <div class="detail-icon">
        <span class="label selected"
              [class.label-info]="operation.method() !== 'get' && operation.method() !== 'post' && operation.method() !== 'delete'"
              [class.label-success]="operation.method() === 'get'"
              [class.label-warning]="operation.method() === 'post'"
              [class.label-danger]="operation.method() === 'delete'">{{ operation.method() }}</span>
    </div>
    <div class="detail-actions">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                <li>
                    <a href="javascript:return false" (click)="delete()">
                        <span class="pficon pficon-delete"></span>
                        <span>Delete Operation</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-tabs">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li [class.active]="isDesignMode()" [class.disabled]="canSaveSource()"><a (click)="enableDesignMode()">Design</a></li>
        <li [class.active]="isSourceMode()"><a (click)="enableSourceMode()">Source</a></li>
    </ul>
</div>

<!-- Source Mode -->
<div class="detail-actionbar" *ngIf="isSourceMode()">
    <button class="btn btn-default btn-xs" [disabled]="!canFormatSource()" (click)="formatSource()"><span class="fa fa-fw fa-indent"></span> <span>Format</span></button>
    <button class="btn btn-default btn-xs" [disabled]="!canRevertSource()" (click)="revertSource()"><span class="fa fa-fw fa-undo"></span> <span>Revert</span></button>
    <button class="btn btn-primary btn-xs" [disabled]="!canSaveSource()" (click)="saveSource()"><span class="pficon pficon-save"></span> <span>Save</span></button>
    <button class="btn btn-default btn-xs" [disabled]="!canToggleSourceFormat()" (click)="toggleSourceFormat()">
        <span class="fa fa-fw fa-code"></span>
        <span *ngIf="isSourceFormatYaml()">As JSON</span>
        <span *ngIf="isSourceFormatJson()">As YAML</span>
    </button>
</div>
<div class="detail-content" style="position: relative" *ngIf="isSourceMode()">
    <code-editor #sourceEditor
                 [(text)]="source"
                 [theme]="sourceEditorTheme()"
                 [mode]="sourceEditorMode()"
                 [debounceTime]="250"
                 [editorStyle]="{ position: 'absolute', top: 0, bottom: 0, left: 0, right: 0, 'margin-top': '1px' }"></code-editor>
</div>

<!-- Design Mode -->
<div class="detail-content" *ngIf="isDesignMode()">
    <div class="api-operation-detail">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">

                <!-- Info Section -->
                <div class="section info-section panel-group">
                    <div class="section-header panel-title">
                        <a data-toggle="collapse" data-target="#info-section-body">
                            <span class="section-label">INFO</span>
                            <validation-aggregate [models]="[operation]" [shallow]="true" [properties]="[ 'operationId', 'summary', 'description' ]"></validation-aggregate>
                        </a>
                        <context-help>
                            <p>
                                In this section you can easily edit the <strong>Name</strong> and
                                <strong>Description</strong> of the Operation.
                            </p>
                        </context-help>
                    </div>
                    <div class="section-body collapse in" id="info-section-body">
                        <h1>
                            <inline-text-editor [value]="summary()" [noValueMessage]="'No Summary'"
                                                [labelClass]="'api-item-title'"
                                                [inputClass]="'api-item-editor api-summary-editor api-item-title'"
                                                (onChange)="changeSummary($event)"></inline-text-editor>
                        </h1>
                        <h2 class="operationId">
                            <strong>ID:</strong>
                            <inline-text-editor [value]="operationId()" [noValueMessage]="'No Operation ID'"
                                                [labelClass]="'api-item-operation-id'"
                                                [inputClass]="'api-item-editor api-operationId-editor api-item-operationId'"
                                                (onChange)="changeOperationId($event)"></inline-text-editor>
                        </h2>
                        <inline-textarea-editor [value]="description()" [noValueMessage]="'No description.'"
                                                [labelClass]="'api-item-editor api-description-editor operation-description api-item-description'"
                                                [inputClass]="'api-item-description'"
                                                [formClass]="'api-description-editor-form'"
                                                (onChange)="changeDescription($event)"></inline-textarea-editor>
                    </div>
                </div>

                <!-- Path Parameters Section -->
                <path-params-section [parent]="operation" [path]="operation.parent()"></path-params-section>

                <!-- Request Body Section -->
                <div class="section request-body-section panel-group">
                    <div class="section-header panel-title">
                        <a [class.collapsed]="!(operation.method() === 'put' || operation.method() === 'post')" data-toggle="collapse" data-target="#request-body-section-body">
                            <span class="section-label">REQUEST BODY <span *ngIf="hasFormDataParams()">PARAMS</span></span>
                            <validation-aggregate [models]="requestBodyParams()"></validation-aggregate>
                        </a>
                        <context-help>
                            <p>
                                Use this section to configure the operation's <strong>Request Body</strong>.  Typically a
                                request body is used for <strong>PUT</strong> and <strong>POST</strong> only.  Other operation
                                types usually do not include a body.
                            </p>
                        </context-help>
                        <icon-button (click)="openAddFormDataParamModal()" [pullRight]="true" [type]="'add'"
                                     [invisible]="!hasFormDataParams()"
                                     [title]="'Add a response to the operation.'"></icon-button>
                        <icon-button (click)="deleteRequestBody()" [disabled]="!hasBodyParam() && !hasFormDataParams()"
                                     [pullRight]="true" [type]="'delete'"
                                     [title]="'Delete the request body.'"></icon-button>
                    </div>
                    <div class="section-body collapse" [class.in]="operation.method() === 'put' || operation.method() === 'post'" id="request-body-section-body">

                        <signpost *ngIf="!hasBodyParam() && !hasFormDataParams()">
                            <span>No request body has been defined.</span>
                            <a (click)="createRequestBody()">Add a request body</a>
                            <span>, or</span>
                            <a (click)="openAddFormDataParamModal()">add request form data</a>
                        </signpost>

                        <!-- If we're using a 'body' param -->
                        <div *ngIf="hasBodyParam()">
                            <div class="alert alert-warning" *ngIf="operation.method() === 'get'">
                                <span class="pficon pficon-warning-triangle-o"></span>
                                <strong>Not Recommended</strong>
                                <span>It is unusual and not recommended to define a request body for a <strong>GET</strong> operation.</span>
                            </div>
                            <inline-textarea-editor [value]="bodyDescription()" [noValueMessage]="'No request body description.'"
                                                    [labelClass]="'request-body-description api-item-description description'"
                                                    [inputClass]="'api-description-editor api-item-description request-body-description api-item-description description'"
                                                    [formClass]="'api-description-editor-form'"
                                                    (onChange)="changeBodyDescription($event)"></inline-textarea-editor>
                            <div class="request-body-type">
                                <span class="strong">Request Body Type:</span>
                                <validation-problem [model]="bodyParam()"></validation-problem>
                                <drop-down [id]="'api-request-body-type'"
                                           [value]="requestBodyType()"
                                           [options]="requestBodyTypeOptions()"
                                           (onValueChange)="changeRequestBodyType($event)"
                                           [noSelectionLabel]="'Choose Type'"></drop-down>
                                <span *ngIf="shouldShowRequestBodyTypeOf()">of</span>
                                <drop-down *ngIf="shouldShowRequestBodyTypeOf()"
                                           [id]="'api-request-body-type-of'"
                                           [value]="requestBodyTypeOf()"
                                           [options]="requestBodyTypeOfOptions()"
                                           (onValueChange)="changeRequestBodyTypeOf($event)"
                                           [noSelectionLabel]="'Choose Type'"></drop-down>
                                <span *ngIf="shouldShowRequestBodyTypeAs()">as</span>
                                <drop-down *ngIf="shouldShowRequestBodyTypeAs()"
                                           [id]="'api-request-body-type-as'"
                                           [value]="requestBodyTypeAs()"
                                           [options]="requestBodyTypeAsOptions()"
                                           (onValueChange)="changeRequestBodyTypeAs($event)"
                                           [noSelectionLabel]="'(optional) Format'"></drop-down>
                            </div>
                        </div>

                        <!-- If we're using 'formData' params -->
                        <div *ngIf="hasFormDataParams()">
                            <div class="alert alert-info" *ngIf="!hasParameters('formData')">
                                <span class="pficon pficon-info"></span>
                                <strong>Form Data Parameters Needed</strong>
                                <span>You have indicated a desire to pass data via Form Data parameters but none have been defined.</span>
                                <button class="btn btn-primary btn-sm pull-right" (click)="openAddFormDataParamModal()">Add Parameter</button>
                            </div>
                            <!-- The list of formData parameters -->
                            <div class="container-fluid formData-parameters typed-item-list" *ngIf="hasParameters('formData')">
                                <param-row *ngFor="let param of formDataParameters()"
                                           [param]="param" [parameterClass]="'formData-parameter'"
                                           (onDelete)="deleteParam(param)"
                                           (onDescriptionChange)="changeParamDescription(param, $event)"
                                           (onTypeChange)="changeParamType(param, $event)"></param-row>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Query Parameters Section -->
                <query-params-section [parent]="operation" [path]="operation.parent()"></query-params-section>

                <!-- Responses Section -->
                <div class="section responses-section panel-group">
                    <div class="section-header panel-title">
                        <a data-toggle="collapse" data-target="#responses-section-body">
                            <span class="section-label">RESPONSES</span>
                            <validation-aggregate [models]="responses()"></validation-aggregate>
                        </a>
                        <context-help>
                            <p>
                                Every operation must include at least one <strong>Response</strong>.  Multiple responses (with
                                different HTTP response codes) are possible for each operation - so add as many as you like.
                                Some common choices for HTTP responses are:
                            </p>
                            <br>
                            <ul>
                                <li><strong>200 OK</strong> - successful GET (retrieve data) operations</li>
                                <li><strong>201 Created</strong> - successful POST (create) operations</li>
                                <li><strong>204 No Content</strong> - successful PUT (update) operations</li>
                                <li><strong>400 Bad Request</strong> - failed to PUT/POST something due to incorrect input</li>
                                <li><strong>404 Not Found</strong> - failed to GET something</li>
                            </ul>
                        </context-help>
                        <icon-button (click)="openAddResponseModal()" [pullRight]="true" [type]="'add'"
                                     [invisible]="!hasFormDataParams()"
                                     [title]="'Add a new response to the operation.'"></icon-button>
                        <icon-button (click)="deleteAllResponses()" [disabled]="!hasResponses()"
                                     [pullRight]="true" [type]="'delete'"
                                     [title]="'Delete all responses from the operation.'"></icon-button>
                    </div>
                    <div class="section-body collapse in" id="responses-section-body"> 

                        <signpost *ngIf="!hasResponses()">
                            <validation-problem [model]="operation" [code]="'OP-007'"></validation-problem>
                            <span>No responses have been defined.</span>
                            <a (click)="openAddResponseModal()">Add a response</a>
                        </signpost>

                        <!-- The list of responses -->
                        <div class="container-fluid responses typed-item-list">
                            <response-row *ngFor="let response of responses()" [response]="response"
                                          (onDelete)="deleteResponse(response)"
                                          (onDescriptionChange)="changeResponseDescription(response, $event)"
                                          (onTypeChange)="changeResponseType(response, $event)"
                                          [document]="response.ownerDocument()"></response-row>
                        </div>
                    </div>
                </div>

                <!-- Security Requirements -->
                <security-requirements-section [parent]="operation" [global]="false"></security-requirements-section>
            </div>
        </div>
    </div>
</div>
<add-formData-param-dialog #addFormDataParamDialog (onAdd)="addFormDataParam($event)"></add-formData-param-dialog>
<add-response-dialog #addResponseDialog (onAdd)="addResponse($event)"></add-response-dialog>
