<div class="form-group">
    <label class="col-sm-2 control-label required" for="gh-team">Team</label>
    <div class="col-sm-10">
        <drop-down id="gh-team" [id]="'gh-team'" [value]="model.team" [options]="teamOptions()"
                   [loading]="gettingTeams"
                   (onValueChange)="changeTeam($event)" [noSelectionLabel]="'Choose Team'"></drop-down>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label required" for="gh-repo">Repository</label>
    <div class="col-sm-10">
        <drop-down id="gh-repo" [id]="'gh-repo'" [value]="model.repo" [options]="repoOptions()"
                   [loading]="gettingRepos"
                   (onValueChange)="changeRepo($event)" [noSelectionLabel]="'Choose Repository'"></drop-down>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label required" for="gh-branch">Branch</label>
    <div class="col-sm-10">
        <drop-down id="gh-branch" [id]="'gh-branch'" [value]="model.branch" [options]="branchOptions()"
                   [loading]="gettingBranches"
                   (onValueChange)="changeBranch($event)" [noSelectionLabel]="'Choose Branch'"></drop-down>
    </div>
</div>
