.panel-settings {
}
.panel-settings .panel-body {
  padding: 0px;
}
.panel-settings .panel-body .nav-settings {
}
.panel-settings .panel-body .nav-settings li {
}
.panel-settings .panel-body .nav-settings li a {
}
.panel-settings .panel-body .nav-settings li.active {
}
.panel-settings .panel-body .nav-settings li.active a {
  color: white;
  background-color: #0088ce;
}

.account-link {
  margin-bottom: 5px;
}
.account-link.not-created {
  opacity: 0.5;
}
.account-link.not-created:hover {
  opacity: 1.0;
}
.account-link.created {
}
.account-link.initiated {
  border: 2px dashed grey;
}
.account-link .account-link-icon span.fa {
  font-size: 38px;
}
.account-link .list-view-pf-additional-info {
  font-size: 14px;
}
.account-link .account-link-date {
  margin-left: 5px;
  font-style: italic;
}
.account-link .list-view-pf-actions button {
  min-width: 60px;
}
