
.api-tags {
  margin-top: 15px;
}
.api-tags .api-tags-label {
  font-weight: bold;
  margin-right: 5px;
}
.api-tags .label {
  margin-right: 5px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 3px;
}
.api-tags .label:hover {
  filter: brightness(110%);
}

.api-description, .no-description {
  margin-top: 30px;
  margin-bottom: 25px;
}
.no-description {
  color: #aaaaaa;
}

.api-created-info {
  margin-left: 15px
}
.api-created-info .info-left {
  display: inline-block;
  width: 40%;
}
.api-created-info .info-right {
  display: inline;
  width: 50%;
}

.api-meta-data {
  margin-top: 15px
}

.api-meta-data label {
  text-decoration: underline;
}

.api-resource-url-value {
}

.api-action-buttons {
  margin-top: 20px
}

.api-action-buttons a.pull-right {
  margin-left: 10px;
}

.dropdown-menu a.disabled {
  cursor: not-allowed;
  color: #999;
}

.card-activity {
}
.card-activity .actions {
  padding-top: 10px;
  padding-bottom: 15px;
}
.card-activity .actions button {
  font-size: 11px;
}

.card-activity > .card-pf-body {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.api-editor-overview .card-pf-title {
}