
div.template {
    width: 125px;
    height: 120px;
    border: 1px solid #ccc;
    padding: 2px;
    margin-top: 0;
}
div.template.selected {
    border-bottom: 2px solid blue;
    margin-top: -5px;
}
div.template:hover {
    cursor: pointer;
    background-color: #eee;
    border-color: #bbb;
}

div.template > div.icon {
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
}
div.template.selected > div.icon {
    color: rgb(0, 102, 204);
}

div.template > div.name {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: inherit;
}
div.template.selected > div.name {
    color: rgb(0, 102, 204);
}
