
body {
  font-size: 13px;
}

.pf-c-page__header {
  height: 75px;
}

#api-page-body .modal-header {
  background-color: rgb(57, 165, 220);
  color: white;
}

#api-page-body .modal-header button.close {
  color: white;
}

#api-page-body .modal-footer {
  border-top: 1px solid rgb(221, 221, 221);
  background-color: rgb(239, 239, 239);
}

#login-form {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-dialog {
  margin-top: 50px;
}

form input.ng-invalid.ng-touched {
  border-color: red;
}

.center-text {
  text-align: center;
}

.dropdown-menu > li > a {
  cursor: pointer;
}

#api-breadcrumb-bar {
  background: white;
  border-bottom: 1px solid #ccc;
  height: 37px;
}

#api-breadcrumb-bar .api-breadcrumbs {
  height: 37px;
}

.dropdown-menu {
  font-size: 13px;
}

div.notice-of-required {
  margin-top: 15px;
  font-size: 11px;
}

div.notice-of-required .required-icon {
  color: red;
}

div.modal-notice-of-required {
  margin-bottom: -12px;
  padding-left: 15px;
}

.form-group .control-label {
  white-space: nowrap;
}

.form-group .control-label.required::after {
  color: red;
  content: '*'
}

.form-group .form-error-message.error {
  color: red;
}


@font-face {
  font-family: 'apicurio';
  src:  url('assets/apicurio.eot?pfuxc0');
  src:  url('assets/apicurio.eot?pfuxc0#iefix') format('embedded-opentype'),
  url('assets/apicurio.ttf?pfuxc0') format('truetype'),
  url('assets/apicurio.woff?pfuxc0') format('woff'),
  url('assets/apicurio.svg?pfuxc0#apicurio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="apicurio-icon-"], [class*=" apicurio-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apicurio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apicurio-icon-undefined-d:before {
  content: "\e905";
}
.apicurio-icon-local-d:before {
  content: "\e903";
}
.apicurio-icon-inherit-d:before {
  content: "\e904";
}
.apicurio-icon-local:before {
  content: "\e902";
}
.apicurio-icon-inherit:before {
  content: "\e900";
}
.apicurio-icon-override:before {
  content: "\e901";
}
.apicurio-icon-no-parent-some-children .path1:before {
  content: "\e906";
  color: rgb(187, 187, 187);
}
.apicurio-icon-no-parent-some-children .path2:before {
  content: "\e907";
  margin-left: -1em;
}

div.alert > strong {
  margin-right: 5px;
}

div.btn-group > a.btn > .pficon,
div.btn-group > ul.dropdown-menu > li > a > span.pficon {
  margin-right: 3px;
}
