.toolbar {
    background-color: white;
    padding: 3px 15px 3px 15px;
    box-shadow: rgb(208, 215, 222) 0px 1px 0px, rgba(140, 149, 159, 0.15) 0px 3px 6px;
    position: relative;
    margin-bottom: 3px;
    justify-content: right;
}
