<div class="section contact-section panel-group">
    <div class="section-header panel-title">
        <a [class.collapsed]="!hasContact()" data-toggle="collapse" data-target="#contact-section-body">
            <span class="section-label">CONTACT</span>
            <validation-aggregate [models]="[contact()]"></validation-aggregate>
        </a>
        <context-help>
            <p>
                Update the information contained in this section to provide users of the API details
                about how to contact you should they need help.
            </p>
        </context-help>
        <icon-button (click)="deleteContact()" [disabled]="!hasContact()" [pullRight]="true" [type]="'delete'"
                     [title]="'Delete the contact information.'"></icon-button>
    </div>
    <div class="section-body collapse in" id="contact-section-body">

        <signpost *ngIf="!hasContact()">
            <span>No contact information has been entered.</span>
            <a (click)="setContactDialog.open()">Add contact info</a>
        </signpost>

        <div *ngIf="hasContact()">
            <!-- Contact Name -->
            <div class="section-field-label">
                <validation-problem [model]="contact()" property="name"></validation-problem>
                <span>Name</span>
            </div>
            <div class="section-field name">
                <pf-inline-text-editor [value]="contactName()"
                                       [labelClass]="'contact-name'"
                                       [noValueMessage]="'No name provided.'" (onChange)="changeContactName($event)"></pf-inline-text-editor>
            </div>

            <!-- Contact Email -->
            <div class="section-field-label">
                <validation-problem [model]="contact()" property="email"></validation-problem>
                <span>Email</span>
            </div>
            <div class="section-field email">
                <pf-inline-text-editor [value]="contactEmail()"
                                       [labelClass]="'contact-email'"
                                       [noValueMessage]="'No email provided.'" (onChange)="changeContactEmail($event)"></pf-inline-text-editor>
            </div>

            <!-- Contact URL -->
            <div class="section-field-label">
                <validation-problem [model]="contact()" property="url"></validation-problem>
                <span>URL</span>
            </div>
            <div class="section-field url">
                <pf-inline-text-editor [value]="contactUrl()"
                                       [labelClass]="'contact-url'"
                                       [noValueMessage]="'No URL provided.'" (onChange)="changeContactURL($event)"></pf-inline-text-editor>
            </div>
            <!--<button class="btn btn-default btn-sm" (click)="setContactDialog.open(contact())">Change Contact Info</button>-->
        </div>

    </div>
</div>
<set-contact-dialog #setContactDialog (onContact)="setContactInfo($event)"></set-contact-dialog>
