<!-- Add Definition Dialog -->
<div>
    <div bsModal #addDefinitionModal="bs-modal" class="modal fade" id="addDefinitionModal" tabindex="-1" role="dialog"
         aria-labelledby="addDefinitionModalLabel" role="dialog" aria-hidden="true" *ngIf="isOpen()"
         (onShown)="addDefinitionInput.focus()" (onHidden)="close()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" (click)="cancel()">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <h4 class="modal-title" id="addDefinitionModalLabel">Add Definition</h4>
                </div>
                <div class="modal-body">
                    <p>Enter a new definition name below and then click Add.</p>
                    <form id="adddef-form" class="form-horizontal" #addDefinitionForm="ngForm" data-dismiss="modal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="definitionName">Name</label>
                            <div class="col-sm-10">
                                <input #addDefinitionInput name="definitionName" type="text" id="definitionName" class="form-control"
                                       placeholder="Enter a Definition Name"
                                       required [(ngModel)]="name">
                            </div>
                        </div>
                        <div class="section example-section panel-group">
                            <div class="section-header panel-title">
                                <a class="collapsed" data-toggle="collapse" data-target="#example-section-body">
                                    <span class="section-label">FROM EXAMPLE (optional)</span>
                                </a>
                            </div>
                            <div class="section-body collapse" id="example-section-body">
                                <div class="explanation">
                                    Input a JSON formatted sample below and we'll do our best to initialize the Definition's schema
                                    based on the example.
                                </div>
                                <div class="example">
                                    <ace-editor #exampleEditor
                                                [theme]="'eclipse'"
                                                [mode]="'json'"
                                                [durationBeforeCallback]="350"
                                                (textChanged)="setExampleDefinition($event)"
                                                style="position: relative; height: 200px; border: 1px solid #ccc; width: 100%"></ace-editor>
                                    <button class="btn btn-default btn-xs" type="button"
                                            [disabled]="!isExampleDefinitionFormattable()" (click)="formatExampleDefinition()">
                                        <span class="fa fa-fw fa-indent"></span>
                                        <span>Format</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="add()"
                            [disabled]="!addDefinitionForm.form.valid || !isExampleDefinitionValid()">Add</button>
                    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
